@import '../../../assets/styles/null';
@import '../../../assets/fonts/fonts.css';
@import '../../../assets/styles/color.variables';

.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10px;
  margin-left: 10px;

    
  font-size: 14px;
  line-height: 16px;
  color: $pure-black;
}

.field {
  height: 31px;
  margin: 10px;
  padding: 5px 13px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: #919191;

  background: #f5f5f5;
  border: 1px solid $stroke-color;
  border-radius: 5px;
  outline: none;
}

.error {
  border: 1px solid $error;
}

.disabled {
  background-color: $median-price-bg;
}

.divName {
  display: flex;
  flex-direction: column;
}
