* {
  margin: 0;
  padding: 0;

  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;

  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: box;
  display: flexbox;
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex: 1 1 auto;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 132px);
  margin-top: -7.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.blockRewards {
  display: box;
  display: flexbox;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex: 1 1 auto;
  flex: 1 1 auto;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
}

.customPoolBlock {
  display: box;
  display: flexbox;
  display: flex;

  width: 100%;
}

.customPool {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 105px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.customPoolLabel {
  color: #979696;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.customPoolButton {
  display: block;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%235EC280'/%3E%3C/svg%3E");
}

.customPoolButton:hover {
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2372D694'/%3E%3C/svg%3E");
}

.customPoolButton:active {
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2326A651'/%3E%3C/svg%3E");
}

.customPoolDistributed {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 100px;
  margin: 0 0 0 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.customLabelDistributed {
  display: inline-block;

  margin-bottom: 1px;
  margin-left: 5px;

  color: #d9304f;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 149%;
}

.newMessage h6 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
}

.newMessage p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 19px;
}

.createRewards {
  display: block;

  margin: 3.5px 0 0;

  cursor: pointer;

  color: #d9304f;
  background: inherit;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.createRewards:hover {
  color: #eb9dab;
}

.createRewards:active {
  color: #a6253c;
}

.blockNewCustomPool {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 110px;
  margin: 0 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.inputNewCustomPool {
  display: block;

  width: 100%;
  height: 31px;
  padding: 5px 13px;

  color: #919191;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #f5f5f5;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.inputNewCustomPoolLabel {
  display: block;

  padding: 0 10px;

  color: #919191;
  background: inherit;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.buttonDeleteNewCustomPool {
  display: block;

  width: 18px;
  height: 20px;

  cursor: pointer;

  border-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21' fill='none'%3E%3Cpath d='M14 20.5H4C2.89543 20.5 2 19.6046 2 18.5V5.5H0V3.5H4V2.5C4 1.39543 4.89543 0.5 6 0.5H12C13.1046 0.5 14 1.39543 14 2.5V3.5H18V5.5H16V18.5C16 19.6046 15.1046 20.5 14 20.5ZM4 5.5V18.5H14V5.5H4ZM6 2.5V3.5H12V2.5H6ZM12 16.5H10V7.5H12V16.5ZM8 16.5H6V7.5H8V16.5Z' fill='%23D9304F'/%3E%3C/svg%3E");
}

.buttonDeleteNewCustomPool:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21' fill='none'%3E%3Cpath d='M14 20.5H4C2.89543 20.5 2 19.6046 2 18.5V5.5H0V3.5H4V2.5C4 1.39543 4.89543 0.5 6 0.5H12C13.1046 0.5 14 1.39543 14 2.5V3.5H18V5.5H16V18.5C16 19.6046 15.1046 20.5 14 20.5ZM4 5.5V18.5H14V5.5H4ZM6 2.5V3.5H12V2.5H6ZM12 16.5H10V7.5H12V16.5ZM8 16.5H6V7.5H8V16.5Z' fill='%23EB9DAB'/%3E%3C/svg%3E");
}

.buttonDeleteNewCustomPool:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' viewBox='0 0 18 21' fill='none'%3E%3Cpath d='M14 20.5H4C2.89543 20.5 2 19.6046 2 18.5V5.5H0V3.5H4V2.5C4 1.39543 4.89543 0.5 6 0.5H12C13.1046 0.5 14 1.39543 14 2.5V3.5H18V5.5H16V18.5C16 19.6046 15.1046 20.5 14 20.5ZM4 5.5V18.5H14V5.5H4ZM6 2.5V3.5H12V2.5H6ZM12 16.5H10V7.5H12V16.5ZM8 16.5H6V7.5H8V16.5Z' fill='%23A6253C'/%3E%3C/svg%3E");
}

.pushChanges {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 108px;
  height: 32px;
  margin: -8px 0 0;
  padding: 9px 0;

  color: #fff;
  border-radius: 4px;
  background: #d9304f;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.pushChanges:hover {
  background: #eb9dab;
}

.pushChanges:active {
  background: #a6253c;
}

.newReward {
  width: auto;
  margin: 0;
  margin-left: auto;
  padding: 9px 10px;
}

.newRewardDisabled {
  display: box;
  display: flexbox;
  display: flex;

  cursor: default;

  color: #e3e3e3;
  border: 1px solid #e3e3e3;
  background: #f5f5f5;
}

.newRewardDisabled:hover {
  background: #f5f5f5;
}

.newRewardDisabled:active {
  background: #f5f5f5;
}

.customPooNewDistributed {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 80px;
  margin: 0 0 0 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.creationFirstBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.rewardNameBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;

  width: 80%;
  margin: 0 2px 0 0;
  padding: 10px;

  border-radius: 10px;
  background: #eaf0f0;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.nameLabel {
  color: #2a2a2a;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.nameInput {
  display: inline-block;

  width: 68%;
  height: 31px;
  margin: 0 0 0 4px;
  padding: 5px 13px;

  color: #919191;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.rewardPoolBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;

  padding: 10px;

  border-radius: 10px;
  background: #eaf0f0;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.poolInput {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 31px;
  margin: 0 0 0 4px;
  padding: 5px;

  color: #919191;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.poolInputInvalid {
  color: #ff6442;
  border: 1px solid #ff6442;
}

.poolInputInvalidText {
  width: 100%;
  margin-top: 5px;

  text-align: right;

  color: #ff6442;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.rewardRecepientBlock {
  display: box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin: 8px 0 0;
  padding: 10px;

  border-radius: 10px;
  background: #eaf0f0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.newRewardRecepientBlock {
  display: box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  border-radius: 10px;
  background: #eaf0f0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.recepientBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.recepientInputBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 12px 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.recepientInput {
  display: inline-block;

  width: 100%;
  padding: 5px 13px;

  color: #919191;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.recepientInputButton {
  width: 21px;
  height: 21px;
  margin: 0 0 0 2px;

  border-radius: 50%;
  background-color: $Primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.25' height='12.5' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.625 12.75H3.375C2.68464 12.75 2.125 12.1904 2.125 11.5V3.375H0.875V2.125H3.375V1.5C3.375 0.809644 3.93464 0.25 4.625 0.25H8.375C9.06536 0.25 9.625 0.809644 9.625 1.5V2.125H12.125V3.375H10.875V11.5C10.875 12.1904 10.3154 12.75 9.625 12.75ZM3.375 3.375V11.5H9.625V3.375H3.375ZM4.625 1.5V2.125H8.375V1.5H4.625ZM8.375 10.25H7.125V4.625H8.375V10.25ZM5.875 10.25H4.625V4.625H5.875V10.25Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.recepientInputButton:hover {
  background-color: #eb9dab;
}

.recepientInputButton:active {
  background-color: #d9304f;
}

.recepientConditionalBlock {
  display: box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.conditionalLabel {
  display: box;
  display: flexbox;
  display: flex;
  justify-content: center;

  padding: 2px 0;

  text-align: center;

  color: #919191;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.recepientChangeBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 5.5px 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.recepientConditionalButton {
  display: block;

  width: 12.5px;
  height: 12.5px;

  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.5' height='12.5' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%235EC280'/%3E%3C/svg%3E");
}

.recepientConditionalButton:hover {
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.5' height='12.5' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2372D694'/%3E%3C/svg%3E");
}

.recepientConditionalButton:active {
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.5' height='12.5' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2326A651'/%3E%3C/svg%3E");
}

.recepientConditionalLabel {
  display: inline-block;

  margin: 0 0 0 3.25px;

  color: #5ec280;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.conditionalWrapper {
  display: box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  flex-direction: column;
  flex-direction: column;
}

.noneVisible {
  display: none;
}

.conditionalInputBlock {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.inputConditional {
  display: inline-block;

  width: 83%;
  height: 31px;
  padding: 5px 13px;

  color: #919191;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.inputConditionalDelete {
  width: 21px;
  height: 21px;
  margin: 0 0 0 2px;

  border-radius: 50%;
  background-color: $Primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.25' height='12.5' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.625 12.75H3.375C2.68464 12.75 2.125 12.1904 2.125 11.5V3.375H0.875V2.125H3.375V1.5C3.375 0.809644 3.93464 0.25 4.625 0.25H8.375C9.06536 0.25 9.625 0.809644 9.625 1.5V2.125H12.125V3.375H10.875V11.5C10.875 12.1904 10.3154 12.75 9.625 12.75ZM3.375 3.375V11.5H9.625V3.375H3.375ZM4.625 1.5V2.125H8.375V1.5H4.625ZM8.375 10.25H7.125V4.625H8.375V10.25ZM5.875 10.25H4.625V4.625H5.875V10.25Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.inputConditionalDelete:hover {
  background-color: #eb9dab;
}

.inputConditionalDelete:active {
  background-color: #d9304f;
}

.applyButtonDisabled {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 32px;

  cursor: default;

  color: #e3e3e3;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #f5f5f5;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.applyButtonDisabled:hover {
  background: #f5f5f5;
}

.applyButtonDisabled:active {
  background: #f5f5f5;
}

.applyButton {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 32px;

  color: #fff;
  border-radius: 4px;
  background: #d9304f;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.applyButton:hover {
  background: #eb9dab;
}

.applyButton:active {
  background: #a6253c;
}

.createdRewardsWrapper {
  position: relative;

  display: box;
  display: flexbox;
  display: flex;

  width: 100%;
  margin-bottom: 21px;
}

.settingWrapperCreatedRewards h5 {
  left: 14px;

  display: inline-block;
  overflow: hidden;

  max-width: 50%;
  height: 20px;
  padding: 0 10px;

  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #919191;

  font-size: 14px;
  font-style: italic;
}

.percentReward {
  position: absolute;
  z-index: 3;
  top: -11px;
  right: 15px;

  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  padding: 0 10px;
  padding-top: 2px;

  color: #919191;
  border: 1px solid #919191;
  border-radius: 4px;
  background: #f5f5f5;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.changeReward {
  position: absolute;
  z-index: 3;
  bottom: 7px;
  left: 14px;

  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 86px;
  height: 20px;

  color: #d9304f;
  border: 1px solid #919191;
  border-radius: 4px;
  background: inherit;
  background: #f5f5f5;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.changeReward:hover {
  color: #eb9dab;
}

.changeReward:active {
  color: #a6253c;
}

.deleteReward {
  position: absolute;
  z-index: 3;
  bottom: 7px;
  left: 104px;

  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 76px;
  height: 20px;

  color: #d9304f;
  border: 1px solid #919191;
  border-radius: 4px;
  background: inherit;
  background: #f5f5f5;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.deleteReward:hover {
  color: #eb9dab;
}

.deleteReward:active {
  color: #a6253c;
}

.createdRewardsBlock {
  display: box;
  display: flexbox;
  display: flex;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  margin: 0 0 10px;
  padding: 10px;

  border-radius: 10px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.createdRewardsBlock:last-child {
  margin: 0;
}

.createdRewardsBlockUser {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.createdRewardsBlockLabel {
  display: inline-block;

  margin: 0 4px 0 0;

  color: #747376;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.createdRewardsBlockLabelUser {
  color: #747376;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.createdRewardsBlockConditions {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.createdRewardsBlockLabelAdapter {
  color: #5ab5e8;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.linkNavigation {
  position: relative;

  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.linkNavigation::before {
  position: absolute;
  top: -10px;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";

  background: #eaf0f0;
}

.wrapperChanges {
  display: box;
  display: flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  margin: 20px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

  color: #919191;
  background: inherit;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.back::before {
  position: absolute;
  top: 0;
  left: -14.5px;

  width: 11px;
  height: 14px;

  content: "";

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
}

.back:hover {
  color: #747376;
}

.back:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
}

.back:active {
  color: #2a2a2a;
}

.back:active::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
}

.isActive {
  color: red;
}

.createTokenomics {
  cursor: pointer;

  color: $Primary;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
}

.createTokenomics:hover {
  color: #eb9dab;
}

.createTokenomics:active {
  color: #d9304f;
}
