.close {
	width: 20px;
	height: 20px;
	padding: 0;

	cursor: pointer;

	border: none;
	
	background-color: transparent;
	background-image: url('../../assests/close.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.close:hover {
	filter: brightness(0) saturate(100%) invert(18%) sepia(99%) saturate(3198%) hue-rotate(338deg) brightness(95%) contrast(89%);
}

.close:active {
	filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(2247%) hue-rotate(332deg) brightness(92%) contrast(103%);
}