@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  display: inline-block;

  font-family: Roboto, sans-serif;
}

.header {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  padding: 2px;
  padding-right: 14px;

  cursor: pointer;

  border-radius: 100px;
  background: $PureWhite;

  &.mini {
    padding: 2px;
  }
}

.avatar {
  width: 29px;
  height: 29px;

  border: 1px solid $StrokeColor;
}

.hash {
  margin-right: 5px;
  margin-left: 6px;

  text-transform: uppercase;

  font-size: 10px;
  line-height: 100%;
}

.list {
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;

  min-height: 45px;
  margin-top: -20px;
  margin-bottom: 0;
  padding: 3.5px 0 7px;

  border-radius: 0 0 10px 10px;
  background: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);

  font-size: 14px;
  line-height: 16px;
}

.item {
  margin-top: auto;

  cursor: pointer;

  color: $Primary;
}

.isOpen {
  border-radius: 7px 7px 10px 10px;
}
