@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';
@import './adaptive';

.BlockTitleCard {
  display: flex;
  flex-grow: 1;
  align-items: center;

  .titleCard {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    color: $main-black;

    .false {
      margin: 0 0 0 -3%;
    }
  }

  .iconCard {
    margin-left: 4px;

    path {
      fill: $content-black;
    }
  }

  .isShowDescription {
    svg {
      transform: rotate(180deg);
    }
  }
}
