@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";
@import "./adaptive";

.BlockTitleCard {
  display: flex;
  align-items: center;
  width: 193px;

  .titleCard {
    font-family: Selawik, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    color: $main-black;

    .false {
      margin: 0 0 0 -3%;
    }
  }

  .iconCard {
    margin-left: 4px;

    path {
      fill: $content-black;
    }
  }

  .isShowDescription {
    svg {
      transform: rotate(180deg);
    }
  }
}

