@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";

.BlockTitleCard {
  display: flex;
  align-items: center;

  width: 193px;

  .titleCard {
    color: $MainBlack;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;

    .false {
      margin: 0 0 0 -3%;
    }
  }

  .iconCard {
    margin-left: 4px;

    path {
      fill: $ContentBlack;
    }
  }

  .isShowDescription {
    svg {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .BlockTitleCard {
    width: 100%;

    min-width: 105px;
  }
}
