@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  // width: 100%;

  height: 35px;

  animation-name: slideRight;

  animation-duration: 0.3s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  font-family: Roboto, sans-serif;
}

[class*=" close"] {
  animation-name: slideLeft;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% {
    position: relative;
    right: -70%;

    width: 0%;
  }

  70% {
    right: 10%;

    width: 105%;
  }

  100% {
    right: 0;

    width: 100%;
  }
}

@keyframes slideLeft {
  0% {
    right: 0;

    width: 100%;
  }

  90% {
    opacity: 0;
  }

  100% {
    right: -80%;

    width: 0;
  }
}

.labelSearchModule {
  width: 100%;
  height: 35px;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 100%;
  padding: 10px 8px;

  cursor: pointer;

  border: none;
  border-radius: 10px 0 0 10px;
  background: #fff;

  svg path {
    fill: $MainGrey;
  }

  &:hover {
    svg path {
      fill: $PrimaryHover;
    }
  }

  &:active {
    svg path {
      fill: $PrimaryPressed;
    }
  }
}

.label {
  width: 100%;
  height: 100%;
}

.input {
  width: 78%;
  height: 100%;
  padding: 0 30px 0 10px;

  color: $MainGrey;

  border-radius: 0 10px 10px 0;

  background: $WebBG;

  font-size: 14px;

  font-weight: 500;
  line-height: 16px;
}

.close {
  position: absolute;

  z-index: 50;
  top: 85%;

  left: 75%;

  height: 100%;

  cursor: pointer;
  transform: translateY(-50%);
  animation-name: slideRightClose;

  animation-duration: 0.4s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

span {
  &:hover {
    svg path {
      fill: $PrimaryHover;
    }
  }

  &:active {
    svg path {
      fill: $PrimaryPressed;
    }
  }
}

@keyframes slideRightClose {
  0% {
    right: 12%;
  }

  70% {
    right: 17%;
  }

  100% {
    right: 12%;
  }
}
