@import '../../assets/styles/null.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';

.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  // max-width: 383px;

  height: 36px;

  font-family: Roboto, sans-serif;
}

.searchIcon {
  height: 100%;
  padding: 10px 8px;

  cursor: pointer;

  border: none;
  border-radius: 10px 0 0 10px;
  background: #fff;

  svg path {
    fill: $Primary;
  }
}

.label {
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 10px;

  color: $MainGrey;

  border-radius: 0 10px 10px 0;

  background: $WebBG;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);

  font-size: 14px;

  font-weight: 500;
  line-height: 16px;
}

.close {
  position: absolute;
  top: 90%;
  right: 14px;
  height: 100%;
  cursor: pointer;
  transform: translateY(-50%);
}
