@import "bootstrap";

body {
  overflow-y: scroll;
}

body, html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    display: flex;

    min-height: 4rem;
    max-height: 4rem;

    text-align: center;

    border-right: 1px solid #e5e5e5;
  }

  &> div:not(.apps) {
    align-items: center !important;
    justify-content: center !important;
    min-width: 4rem;
  }
}