
body {
    display: flex;
    flex-direction: column;

    width: 305px;
    height: 80px;
    padding: 6px;
}

header {
    display: flex;
    align-items: center; 

    margin-bottom: 6px;

    font-family: Selawik, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 149%;
    color: #5AB5E8;
}

svg {
    margin-right: 5px;
}

div{
    font-family: Selawik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 149%;
    color: #747376;
}

a{
    font-family: Selawik, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 149%;
    color: #588ca3;
    text-decoration-line: underline;
}