@import '../../../assets/styles/null';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/color.variables';
@import '../../../assets/styles/animate';

.fakeModal {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  padding: 19px 0 0 16px;

  background: rgb(0 0 0 / 30%);

  animation-name: appear;
  animation-duration: 300ms;
}

.headerWrapperIsOpen {
  position: relative;
  z-index: 10;
  top: 40px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: min-content;
  padding: 9px 0;

  font-size: 14px;
  line-height: 16px;

  background: #fff;
  border-radius: 20px;

  animation-name: slide-right;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.isOpen {
  border-radius: 20px;
}

.isNotVisible {
  animation-name: slide-left;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profileBlockImg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.profileImg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 74px;
  height: 74px;

  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
  border-radius: 50%;
}

.notEnsHash {
  display: inline-block;

  margin-top: 12px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: $main-black;
  text-transform: capitalize;
}

.walletBlock {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 0 11px;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: $stroke-color;
  }
}

.newProfileBlock {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 56px;
  padding: 0 10px;

  &:hover {
    background: #eaf0f0;
  }

  &:active {
    background: $stroke-color;
  }
}

.newProfileBlockInfo {
  display: flex;
  align-items: center;
  width: 80%;
  padding-left: 5px;
}

.newProfileBlockImg {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 80%;
  padding-left: 10px;
}

.newProfileBlockName {
  display: inline-block;

  width: 100%;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $main-black;
  text-transform: capitalize;
}

.profileImgButtonBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
}

.profileImgButton {
  display: flex;

  width: 22px;
  height: 20px;

  background-color: $app-bg;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
  border-radius: 50%;

  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  svg {
    transform: scale(0.5);
    margin: 0 auto;
    transition: all 0.5s;
  }
  &:hover {
    width: 25px;
    height: 25px;
    transition: all 0.5s;

    svg {
      transform: scale(0.7);
      transition: all 0.5s;

      path {
        stroke: $primary-hover !important;
      }
    }
  }

  &:active {
    transition: all 0.5s;
    svg {
      
      transform: scale(0.7);
      transition: all 0.5s;

      path {
        stroke: $primary-pressed !important;
      }
    }
  }
}

.newProfileBlockNameNear {
  overflow: hidden;
  display: inline-block;

  width: 100%;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $main-black;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-transform: lowercase;
}

.walletsIcon {
  width: 15px;
  height: 14px;
}

.addWallet {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-top: 16px;
}

.AddUserLabel {
  display: inline-block;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $main-grey;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}

.addWalletsDisabled {
  cursor: default;

  &:hover {
    color: $main-grey;
  }

  &:active {
    color: $main-grey;
  }
}

.addWalletsDisabled .copied {
  content: attr(data-title);

  position: absolute;
  right: 0;
  bottom: 10%;

  display: none;

  width: auto;
  padding: 5px 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $content-black;
  text-align: center;

  background: $web-bg;
  border-radius: 100px;
  box-shadow: 0 2px 2px -1px rgb(0 0 6 / 50%);
}

.addWalletsDisabled:hover .copied,
.addWalletsDisabled:focus .copied {
  display: inline-block;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.addWalletsDisabled:active .copied,
.addWalletsDisabled:checked .copied {
  display: inline-block;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  span {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    background: $app-bg;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

    transition: all 0.5s;
  }
  svg {
    transition: all 0.5s;
  }
  &:hover {
    span {
      width: 25px;
      height: 25px;
      transition: all 0.5s;

      svg {
        transform: scale(1.3);
        transition: all 0.5s;
        path {
          fill: $primary-hover !important;
        }
      }
    }
  }

  &:active {
    span {
      transition: all 0.5s;

      svg {
        transform: scale(1.3);
        transition: all 0.5s;
        path {
          fill: $primary-pressed !important;
        }
      }
    }
  }
}
