@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";

.MainSettingsAuto {
  padding: 10px;

  border-radius: 10px;
  background-color: $PureWhite;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.title {
  position: relative;

  color: #2a2a2a;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.additionalSettings {
  &::after {
    position: absolute;
    top: 50%;
    right: -20px;

    width: 8px;
    height: 10px;

    content: "";
    transform: translateY(-50%) rotate(180deg);

    background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 7.5L4.5 0.625L0.125 7.5L8.875 7.5Z' fill='%23747376'/%3E%3C/svg%3E");
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
  }
}

.isShowAdditionalSettings::after {
  transform: translateY(-50%) rotate(0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.children {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 13px;

  & > * {
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) and (min-width: 320px) {
  .MainSettingsAuto {
    max-width: 100%;
  }
}
