@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';
@import './adaptive';

.MainSettingsAuto {
  padding: 10px;

  background-color: $pure-white;
  border-radius: 10px;

  animation-name: open-error;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.title {
  position: relative;

    
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #2a2a2a;
}

.additionalSettings {
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);

    width: 8px;
    height: 10px;
  }
}

.isShowAdditionalSettings::after {
  transform: translateY(-50%) rotate(0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.children {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
