@import "../../../../assets/styles/null";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/color.variables";

.account {
  cursor: default;

  position: relative;

  display: flex;
  align-items: center;

  width: 250px;
  height: 44px;
  margin: 3px;
  padding: 0 5px 0 2px;

  background-color: $WebBG;
  border-radius: 200px 140px 140px 200px;  
}

.hasAction {
  cursor: pointer;
}

.imgUser {
  display: inline-block;

  width: 40px;
  height: 40px;
  margin-right: 10px;

  background-color: white;
  border: 2px solid #BFBFBF;
  border-radius: 50%;
}

.nameUser {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $MainBlack;
}

.nameUserActive {
  background: $Primary;

  .nameUser {
    color: $PureWhite;
  }
}
