{
  "extends": ["stylelint-config-standard-scss", "stylelint-order-config-standard"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "selector-class-pattern": null
  },
  "ignoreFiles": ["src/common/semantic-ui-css/semantic.min.css"]
}
