@import '../../../assets/styles/null';
@import '../../../assets/fonts/fonts.css';
@import '../../../assets/styles/color.variables';

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconGroup {
  display: flex;
  gap: 20px;
}

.buttonLabel {
  padding: 7px 0;

  font-family: Selawik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #747376;
}

.preview {
  cursor: pointer;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 96px;

  background-color: #f5f5f5;
  border: 1px solid $primary;
  border-radius: 50%;

  svg {
    path {
      stroke: $primary;
    }
  }

  &:hover {
    border: 1px solid $primary-hover;

    svg {
      path {
        stroke: $primary-hover;
      }
    }
  }

  &:active {
    border: 1px solid $primary-pressed;

    svg {
      path {
        stroke: $primary-pressed;
      }
    }
  }
}

.preview.error {
  border-color: $error;
}

.disable {
  cursor: auto;
  background-color: #f5f5f5;
}

.label {
  display: inline-block;

  margin-bottom: 0;
  padding-bottom: 5px;

  font-family: Selawik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $content-black;
}

.button {
  padding: 14px 78px;
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
}

.button svg {
  margin-right: 5px;
}

.error {
  color: $error;
}

.success {
  color: $primary;
}

.errorMessage {
  display: flex;
  font-weight: 700;
  color: $error;
}
