@import "../../../assets/styles/null";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/color.variables";
@import "../../../assets/styles/animate";

.wrapperSelectWiget {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 10px;
  padding: 6.5px 13px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  background: #ebebeb;
  border-radius: 10px;
}

[class*="field-string"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px;

  background: $PureWhite;
  border-radius: 10px;

  [class*="field"] {
    width: 100%;
  }
}

.dropdownLabel {
  cursor: pointer;
}

.delimiterSpan {
  display: flex;
  justify-content: flex-start;
  width: 97%;
}

.openOverlay {
  position: absolute;
  z-index: 3;
  top: -1px;
  right: -1px;

  display: flex;
  flex-direction: column;

  width: 101%;
  height: auto;

  background: #ebebeb;
  border-radius: 10px;

  animation-name: listVisible;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  :last-child {
    border-radius: 0 0 10px 10px;
  }
}

.blockIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6.5px 13px;
}

.openList {
  cursor: pointer;

  display: block;

  width: 24px;
  height: 24px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46495L9.00001 9.94995L17.485 1.46495L16.071 0.0499516L9.00001 7.12195L1.92901 0.0499516L0.515015 1.46495Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  animation-name: rotateIsClose;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  }
}

.isOpen {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  animation-name: rotateIsOpen;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.item {
  cursor: pointer;
  padding: 6.5px 13px;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: #dad9d9;
  }
}

.activeItem {
  background: #dad9d9;
}
