@import "../../../assets/styles/null.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/color.variables.scss";

.inputSelect {
  display: flex;

  align-items: flex-start;


  width: 100%;
  height: 36px;

  margin-top: 10px;
  padding: 5px 13px;


  color: $MainGrey;
  border: 1px solid $StrokeColor;
  border-radius: 5px;


  background: $AppBG;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 149%;
}
