@import "../../../assets/styles/null.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/color.variables.scss";

.inputSelect {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;
  min-height: 36px;

  margin-top: 10px;
  padding: 5px 13px;

  color: $MainGrey;
  border: 1px solid $StrokeColor;
  border-radius: 5px;

  background: $AppBG;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 149%;

  input {
    // display: none;
    height: 0;
  }
}

[class*="css-1s2u09g-control"] {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

[class*=" css-tlfecz-indicatorContainer"] {
  position: absolute;
  top: 13px;
  right: 16px;

  display: flex;

  align-items: center;

  width: 14px;
  height: 8px;

  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M6.99999 7.713L13.01 1.703L11.597 0.288002L6.99999 4.888L2.40399 0.288002L0.98999 1.702L6.99999 7.713Z' fill='%23919191'/%3E%3C/svg%3E");

  svg {
    display: none;
  }
}

[class*=" css-4ljt47-MenuList"] > div:hover {
  cursor: pointer;

  color: $Primary;
}

[class^="control-label"],
[class*=" control-label"] {
  display: flex;
  align-items: flex-start;

  color: #2a2a2a;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

[class^="divider"],
[class*=" divider"] {
  width: 100%;
  height: auto;
  min-height: 36px;

  padding: 5px 13px;

  color: $MainGrey;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
  background: $AppBG;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 149%;
}

[class*="field-string"] {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px;

  border-radius: 10px;

  background: $PureWhite;

  [class*="field"] {
    width: 100%;
  }
}

.isOpen {
  position: relative;

  [class*=" css-tlfecz-indicatorContainer"] {
    // transform: rotate(180deg);
  }

  [class*=" css-1hb7zxy-IndicatorsContainer"] {
    position: absolute;
    top: 13px;
    right: 16px;

    display: flex;

    align-items: center;

    width: 14px;
    height: 8px;

    cursor: pointer;

    // transform: rotate(180deg);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M6.99999 7.713L13.01 1.703L11.597 0.288002L6.99999 4.888L2.40399 0.288002L0.98999 1.702L6.99999 7.713Z' fill='%23919191'/%3E%3C/svg%3E");

    svg {
      display: none;
    }
  }
}

[class*="css-1f43avz-a11yText-A11yText"] {
  display: none;
}

[class*=" css-6j8wv5-Input"] {
  height: 0;
}

[class*=" css-b62m3t-container"] {
  position: relative;
}

[class*=" css-1hb7zxy-IndicatorsContainer"] {
  position: absolute;
  top: 13px;
  right: 16px;

  display: flex;

  align-items: center;

  width: 14px;
  height: 8px;

  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M6.99999 7.713L13.01 1.703L11.597 0.288002L6.99999 4.888L2.40399 0.288002L0.98999 1.702L6.99999 7.713Z' fill='%23919191'/%3E%3C/svg%3E");

  svg {
    display: none;
  }

  [class*=" css-tlfecz-indicatorContainer"] {
    display: none;
  }
}

[class*=" css-26l3qy-menu"] {
  position: absolute;
  z-index: 10;
  top: 80%;
  left: -1px;

  width: 100.5%;
  padding: 5px 13px;

  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-radius: 5px;
  background: inherit;
}

// 
[class="css-7pg0cj-a11yText"],
[class*="css-7pg0cj-a11yText"],
[class*=" css-7pg0cj-a11yText"] {
  display: none;
}

[class*=" css-ackcql"] {
  height: 0;
}

//' css-1s2u09g-control'
//' css-pahdxh-control'

[class=" css-1wy0on6"] {
  [class*=" css-1gtu0rj-indicatorContainer"] {
    position: absolute;
    top: 13px;
    right: 16px;

    display: flex;

    align-items: center;

    width: 14px;
    height: 8px;

    cursor: pointer;

    // transform: rotate(180deg);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M6.99999 7.713L13.01 1.703L11.597 0.288002L6.99999 4.888L2.40399 0.288002L0.98999 1.702L6.99999 7.713Z' fill='%23919191'/%3E%3C/svg%3E");

    svg {
      display: none;
    }
  }
}

.isOpen {
  [class*=" css-1hb7zxy-IndicatorsContainer"] {
    transform: rotate(180deg);
  }
}
