@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Selawik.woff2') format('woff2'), url('../fonts/Selawik.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SelawikBold.woff2') format('woff2'),
    url('../fonts/SelawikBold.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SelawikSB.woff2') format('woff2'),
    url('../fonts/SelawikSB.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SelawikLight.woff') format('woff2'),
    url('../fonts/SelawikLight.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SelawikThin.woff') format('woff2'),
    url('../fonts/SelawikThin.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
