@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";

.wrapper {
  cursor: pointer;
  display: inline-block;
  margin: 0 22.75px;
  padding-bottom: 4px;
}

.title {
  position: relative;

  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: $main-grey;

  &::before {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 120%;
    height: 3px;

    background-color: $main-grey;
    border-radius: 5px;
  }

  &:hover {
    color: $content-black;

    &::before {
      background-color: $content-black;
    }
  }

  &:active {
    color: $main-black;

    &::before {
      background-color: $main-black;
    }
  }
}

.found {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 22px;
  min-height: 20px;
  margin-left: 5px;

  font-size: 10px;
  color: #fff;

  background: #e3e3e3;
  border-radius: 100px;
}

.isActive {
  color: $primary;

  &::before {
    background-color: $primary;
  }

  &:hover {
    color: $primary-hover;

    &::before {
      background-color: $primary-hover;
    }
  }

  &:active {
    color: $primary-pressed;

    &::before {
      background-color: $primary-pressed;
    }
  }

  .found {
    background-color: $primary;
  }
}
