@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";

.wrapper {
  cursor: pointer;
  display: inline-block;
  margin: 0 22.75px;
  padding-bottom: 4px;
}

.title {
  position: relative;

  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: $MainGrey;

  &::before {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 120%;
    height: 3px;

    background-color: $MainGrey;
    border-radius: 5px;
  }

  &:hover {
    color: $ContentBlack;

    &::before {
      background-color: $ContentBlack;
    }
  }

  &:active {
    color: $MainBlack;

    &::before {
      background-color: $MainBlack;
    }
  }
}

.found {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 22px;
  min-height: 20px;
  margin-left: 5px;

  font-size: 10px;
  color: #fff;

  background: $StrokeColor;
  border-radius: 100px;
}

.isActive {
  color: $Primary;

  &::before {
    background-color: $Primary;
  }

  &:hover {
    color: $PrimaryHover;

    &::before {
      background-color: $PrimaryHover;
    }
  }

  &:active {
    color: $PrimaryPressed;

    &::before {
      background-color: $PrimaryPressed;
    }
  }

  .found {
    background-color: $Primary;
  }
}
