@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

@media (min-width: 320px) and (max-width: 640px) {
  .label {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-width: 100%;
  }

  .buttonLocalhost {
    margin-right: 0;
  }

  .labelLocalhost {
    flex: 1 1 auto;
    max-width: 65%;
  }
}
