@import '../../assets/styles/null';
@import '../../assets/styles/color.variables';
@import './adaptive';

.localhost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin: 2.5px 2px 5px 0;
  padding: 10px;

  background: #fff;
  border: 1px solid $stroke-color;
  border-radius: 10px;
}

.hostBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.buttonLocalhost {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  margin-right: 20px;
  padding: 5px;

    
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: $pure-white;

  border-radius: 10px;
}

.disabled {
  background: $main-grey;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $content-black;
  }
}

.error {
  background: $primary;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.enabled {
  background: #5ec280;

  &:hover {
    background: #72d694;
  }

  &:active {
    background: #26a651;
  }
}

.labelLocalhost {
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 75%;
  height: auto;
  min-height: 21px;
  padding-top: 2px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $content-black;
}

.closeLocalhost {
  width: 20px;
  height: 20px;
  background-color: inherit;

  svg {
    fill: none !important;

    path {
      fill: #919191;
    }

    &:hover {
      fill: none !important;

      path {
        fill: $stroke-color;
      }
    }
  }
}

.disabledLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url('../../assets/svg/loaderBtnDisabled.svg');
  border-radius: 10px;
}

.errorLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url("../../assets/svg/loaderBtnError.svg");
  border-radius: 10px;
}

.enabledLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url("../../assets/svg/loaderBtnEnable.svg");
  border-radius: 10px;
}

.spanLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10px;
  height: 6px;
  margin-top: 5px;
  margin-left: 7px;

  svg {
    transform: scaleX(1.5);
    fill: none !important;

    path {
      fill: #979696;
    }

    &:hover {
      fill: none !important;

      path {
        fill: $stroke-color;
      }
    }
  }
}

.label {
  display: inline-block;
  width: auto;
  max-width: 80%;
}

.isShowDescriptionLabel {
  transform: rotate(180deg);
}
