@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.localhost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin: 2.5px 2px 5px 0;
  padding: 10px;

  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.hostBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.buttonLocalhost {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  margin-right: 20px;
  padding: 5px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: $PureWhite;

  border-radius: 10px;
}

.disabled {
  background: $MainGrey;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: $ContentBlack;
  }
}

.error {
  background: $Primary;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.enabled {
  background: #5ec280;

  &:hover {
    background: #72d694;
  }

  &:active {
    background: #26a651;
  }
}

.labelLocalhost {
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 75%;
  height: auto;
  min-height: 21px;
  padding-top: 2px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $ContentBlack;
}

.closeLocalhost {
  width: 20px;
  height: 20px;
  background-color: inherit;

  svg {
    path {
      fill: #919191;
    }

    fill: none !important;

    &:hover {
      fill: none !important;
      path {
        fill: #e3e3e3;
      }
    }
  }
}

.buttonLocalhostLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23919191'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
}

.disabledLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23919191'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
}

.errorLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23D9304F'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
}

.enabledLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-size: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%235ec280'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
}

.spanLabel {
  width: 10px;
  height: 6px;
  margin-top: 5px;
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transform: scaleX(1.5);
    path {
      fill: #979696;
    }

    fill: none !important;

    &:hover {
      
      fill: none !important;
      path {
        fill: #e3e3e3;
      }
    }
  }
}

.label {
  display: inline-block;
  width: auto;
  max-width: 80%;
}

.isShowDescriptionLabel {
  transform: rotate(180deg);
}

@import './adaptive';
