@import '../../assets/styles/null.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';

.localhost {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 2.5px 2px 5px 0px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e3e3e3;
}

.hostBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
}

.buttonLocalhost {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  margin-right: 20px;
  padding: 5px;

  color: $PureWhite;

  border-radius: 10px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
}

.disabled {
  background: $MainGrey;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: $ContentBlack;
  }
}

.error {
  background: $Primary;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.enabled {
  background: #5ec280;

  &:hover {
    background: #72d694;
  }

  &:active {
    background: #26a651;
  }
}

.labelLocalhost {
  display: flex;

  align-items: flex-start;
  justify-content: flex-start;

  width: 75%;
  height: auto;
  min-height: 21px;

  padding-top: 2px;

  cursor: pointer;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.closeLocalhost {
  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M9.99999 20.0002C7.3471 20.0026 4.80217 18.9498 2.92629 17.0739C1.0504 15.198 -0.00239798 12.6531 -1.12094e-05 10.0002V9.80019C0.0817768 5.79241 2.54779 2.22035 6.26635 0.723251C9.98491 -0.773844 14.2381 0.0930834 17.074 2.92619C19.9364 5.78627 20.7932 10.0895 19.2443 13.8278C17.6955 17.5661 14.0464 20.0026 9.99999 20.0002ZM9.99999 11.4102L12.59 14.0002L14 12.5902L11.41 10.0002L14 7.41019L12.59 6.00019L9.99999 8.59019L7.40999 6.00019L5.99999 7.41019L8.58999 10.0002L5.99999 12.5902L7.40999 14.0002L9.99999 11.4112V11.4102Z' fill='%23919191'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M9.99999 20.0002C7.3471 20.0026 4.80217 18.9498 2.92629 17.0739C1.0504 15.198 -0.00239798 12.6531 -1.12094e-05 10.0002V9.80019C0.0817768 5.79241 2.54779 2.22035 6.26635 0.723251C9.98491 -0.773844 14.2381 0.0930834 17.074 2.92619C19.9364 5.78627 20.7932 10.0895 19.2443 13.8278C17.6955 17.5661 14.0464 20.0026 9.99999 20.0002ZM9.99999 11.4102L12.59 14.0002L14 12.5902L11.41 10.0002L14 7.41019L12.59 6.00019L9.99999 8.59019L7.40999 6.00019L5.99999 7.41019L8.58999 10.0002L5.99999 12.5902L7.40999 14.0002L9.99999 11.4112V11.4102Z' fill='%23e3e3e3'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M9.99999 20.0002C7.3471 20.0026 4.80217 18.9498 2.92629 17.0739C1.0504 15.198 -0.00239798 12.6531 -1.12094e-05 10.0002V9.80019C0.0817768 5.79241 2.54779 2.22035 6.26635 0.723251C9.98491 -0.773844 14.2381 0.0930834 17.074 2.92619C19.9364 5.78627 20.7932 10.0895 19.2443 13.8278C17.6955 17.5661 14.0464 20.0026 9.99999 20.0002ZM9.99999 11.4102L12.59 14.0002L14 12.5902L11.41 10.0002L14 7.41019L12.59 6.00019L9.99999 8.59019L7.40999 6.00019L5.99999 7.41019L8.58999 10.0002L5.99999 12.5902L7.40999 14.0002L9.99999 11.4112V11.4102Z' fill='%23747376'/%3E%3C/svg%3E");
  }
}

.buttonLocalhostLoad {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23919191'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.disabledLoad {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23919191'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-size: 0;
}

.errorLoad {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23D9304F'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-size: 0;
}

.enabledLoad {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%235ec280'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-size: 0;
}

.spanLabel {
  display: inline-block;

  width: 10px;
  height: 6px;
  margin-top: 5px;
  margin-left: 7px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23979696'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  }
}

.label {
  display: inline-block;

  width: auto;
  max-width: 80%;
}

.isShowDescriptionLabel {
  transform: rotate(180deg);
}

@import './adaptive.scss';
