@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 25px;
}

.block {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 12px;
}

.form {
  fieldset {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      margin: 5px 0;
      padding: 10px;

      border-radius: 10px;

      background: $PureWhite;
    }
  }

  label {
    color: $PureBlack;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
  }
}

.wrapperInfoCard {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cardTitle {
  margin-bottom: 5px;

  color: $MainBlack;

  font-family: Roboto, sans-serif;
  font-size: 22px;

  font-weight: 700;
  line-height: 26px;
}

.cardType {
  margin-bottom: 5px;

  text-transform: uppercase;

  color: $Secondary;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardDescription {
  margin-bottom: 20px;

  text-transform: lowercase;

  color: $ContentBlack;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardName {
  padding-bottom: 5px;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 60%;
  margin-bottom: 20px;
}

.cardOwner {
  text-transform: lowercase;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardVersion {
  display: inline-block;

  margin-left: 5px;

  text-transform: lowercase;

  color: $Secondary;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardLink {
  display: inline-block;

  margin-left: 5px;

  cursor: pointer;
  text-transform: uppercase;

  color: $Secondary;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;

  &:hover {
    color: $SecondaryHover;
  }

  &:active {
    color: $SecondaryPressed;
  }
}

.wrapperButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 50%;
  margin-top: 5px;
}

.buttonSubmit {
  display: inline-block;

  height: 32px;

  padding: 7px 10px 9px;

  color: $PureWhite;

  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;

    color: $StrokeColor;
    border: 1px solid $StrokeColor;
    background: inherit;
  }
}

.messageUserSettings {
  width: 100%;
  height: min-content;
  padding: 14px 0 14px 18px;

  color: $PureWhite;

  border-radius: 10px;
  background: #5ab5e8;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;

  h6 {
    color: $PureWhite;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    margin-left: 0;
  }

  p {
    text-transform: lowercase;

    color: $PureWhite;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    margin-left: 0;
  }
  div{
  width: 100%;
  }
}
