@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

/* Segoe UI Regular */
@font-face {
  font-family: SegoeUIRegular;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/SegoeUI.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 12px;
}

.wrapperInfoCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardTitle {
  margin-bottom: 5px;

  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $MainBlack;
}

.cardType {
  margin-bottom: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $Secondary;
  text-transform: uppercase;
}

.cardDescription {
  margin-bottom: 20px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $ContentBlack;
}

.cardName {
  padding-bottom: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  color: $ContentBlack;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 60%;
  margin-bottom: 20px;
}

.cardOwner {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $ContentBlack;
  text-transform: lowercase;
}

.cardVersion {
  display: inline-block;

  margin-left: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $Secondary;
  text-transform: lowercase;
}

.cardLink {
  cursor: pointer;

  display: inline-block;

  margin-left: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $Secondary;
  text-transform: lowercase;

  &:hover {
    color: $SecondaryHover;
  }

  &:active {
    color: $SecondaryPressed;
  }
}

.wrapperButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 45%;
  margin-top: 15px;
}

.buttonSubmit {
  display: inline-block;

  height: 32px;
  padding: 9px 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $PureWhite;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;
    color: $StrokeColor;
    background: inherit;
    border: 1px solid $StrokeColor;
  }
}

.messageUserSettings {
  width: 100%;
  height: min-content;
  padding: 14px 0 14px 18px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: $PureWhite;

  background: #5ab5e8;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);

  h6 {
    margin-left: 0;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    color: $PureWhite;
  }

  p {
    margin-left: 0;

    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    color: $PureWhite;
    text-transform: lowercase;
  }

  div {
    width: 100%;
  }
}

.wrapperCard {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 12px 15px;

  background: #f5f5f5;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 15px;

    width: calc(100% - 30px);
    height: 1px;

    background: $StrokeColor;
    border-radius: 2px;
  }
}

.leftBlock {
  display: flex;
}

.imgBlock {
  width: 34px;
  height: 34px;
}

.title {
  margin-left: 5px;

  font-family: SegoeUIRegular;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #2a2a2a !important;
}

.squareButton {
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50px;

  svg{
    width: 16px;
    height: 16px;
  }
}
