@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 25px;
}

.block {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 12px;
}

// .form {
//   fieldset {
//     display: flex;
//     align-items: flex-start;
//     flex-direction: column;
//     justify-content: center;

//     width: 100%;

//     div {
//       display: flex;
//       align-items: flex-start;
//       flex-direction: column;
//       justify-content: center;

//       width: 100%;
//       margin: 5px 0;
//       padding: 10px;

//       border-radius: 10px;

//       background: $PureWhite;
//     }
//   }

//   label {
//     color: #2A2A2A;

//     font-family: Roboto;
//     font-size: 14px;
//     font-weight: 500;
//     font-style: normal;
//     line-height: 16px;
//   }
// }

.wrapperInfoCard {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cardTitle {
  margin-bottom: 5px;

  color: $MainBlack;

  font-family: Roboto, sans-serif;
  font-size: 22px;

  font-weight: 700;
  line-height: 26px;
}

.cardType {
  margin-bottom: 5px;

  text-transform: uppercase;

  color: $Secondary;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardDescription {
  margin-bottom: 20px;

  // text-transform: lowercase;

  color: $ContentBlack;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardName {
  padding-bottom: 5px;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 60%;
  margin-bottom: 20px;
}

.cardOwner {
  text-transform: lowercase;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardVersion {
  display: inline-block;

  margin-left: 5px;

  text-transform: lowercase;

  color: $Secondary;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

.cardLink {
  display: inline-block;

  margin-left: 5px;

  cursor: pointer;
  text-transform: lowercase;

  color: $Secondary;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;

  &:hover {
    color: $SecondaryHover;
  }

  &:active {
    color: $SecondaryPressed;
  }
}

.wrapperButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 45%;
  margin-top: 15px;
}

.buttonSubmit {
  display: inline-block;

  height: 32px;

  padding: 9px 10px;

  color: $PureWhite;

  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;

    color: $StrokeColor;
    border: 1px solid $StrokeColor;
    background: inherit;
  }
}

.buttonReset {
  display: inline-block;

  min-width: 50px;

  height: 32px;
  padding: 9px 10px;

  border-radius: 4px;
  background-color: $Primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M0.998869 0H2.99887V2.55709C4.18888 1.622 5.68947 1.0643 7.32031 1.0643C11.1863 1.0643 14.3203 4.19831 14.3203 8.0643C14.3203 11.9303 11.1863 15.0643 7.32031 15.0643C5.16982 15.0643 3.24583 14.0946 1.96176 12.5685L3.58108 11.3837C4.49698 12.4147 5.83279 13.0643 7.32031 13.0643C10.0817 13.0643 12.3203 10.8257 12.3203 8.0643C12.3203 5.30288 10.0817 3.0643 7.32031 3.0643C6.23347 3.0643 5.22762 3.41107 4.40737 4L6.99887 4V6H0.998869V0Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $PrimaryHover;
  }

  &:active {
    background-color: $PrimaryPressed;
  }
}

.messageUserSettings {
  width: 100%;
  height: min-content;
  padding: 14px 0 14px 18px;

  color: $PureWhite;

  border-radius: 10px;
  background: #5ab5e8;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;

  h6 {
    margin-left: 0;

    color: $PureWhite;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
  }

  p {
    margin-left: 0;

    text-transform: lowercase;

    color: $PureWhite;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
  }

  div {
    width: 100%;
  }
}
