@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';

.wrapper {
  position: relative;
  transform: none;

  box-sizing: border-box;
  width: 100%;
  max-width: 431px;
  margin: 0 0 10px;
  padding: 6px;

  font-family: Roboto, sans-serif;

  opacity: 1;
  background: #fff;
  // border: 1px solid $WebBG;
  border-radius: 6px;

  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}
.isRead {
  border: 1px solid $StrokeColor;
  background: #f5f5f5;
}

.header {
  position: absolute;
  top: -10px;

  padding: 5px 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 100%;

  // color: $ContentBlack;

  text-transform: uppercase;

  background-color: #fff;
  border: 1px solid $WebBG;
  border-radius: 10px;
}

.blockTitle {
  display: flex;
  justify-content: space-between;
}

.blockIcon {
  display: flex;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.title {
  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;

  // color: $MainBlack;
  color: $ContentBlack;
}

.date {
  display: block;

  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 10px;
  line-height: 100%;

  // color: #2a2a2a;
  color: #919191;
  text-transform: uppercase;
}

.blockDesccription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  overflow: hidden;
  display: inline-block;

  width: 98%;
  margin-top: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 149%;

  // color: $MainBlack;
  color: $ContentBlack;

  //
  text-overflow: ellipsis;
}

.button {
  // position: absolute;
  // top: 14px;
  // right: 10px;
}

.link {
  display: block;

  margin-top: 10px;

  font-size: 10px;
  line-height: 100%;
  color: $Primary;
  text-transform: uppercase;
}

.delete {
  transform: rotateX(-90deg);
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.blockInfo {
  display: flex;
  align-items: flex-end;
}

@import './adaptive';
