@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.dappletsImg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  background: inherit;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.noLogo {
  display: inline-block;

  box-sizing: border-box;
  width: 42px;
  height: 42px;

  background: #c4c4c4;
  border: 1px solid $WebBG;
  border-radius: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

@import "./adaptive"
