.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  background-color: #fff;
}

.subtitle {
  max-width: 208px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.loading {
  position: relative;

  overflow: hidden;

  width: 143px;
  height: 143px;
  margin: 20px auto;

  background-image: url("../../assests/loader.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
