@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.wrapper {
  margin: 0 18px;
  margin-bottom: 10px;
  padding: 20px 0;

  background: $median-price-bg;
  border: 1px solid $stroke-color;
  border-radius: 20px;
  box-shadow: 0 29.3608px 23.4887px rgb(171 192 191 / 17%);
  
}

.lastWrapper{
  margin-bottom: 70px;
}

.titleForm {
  padding-bottom: 10px;
  padding-left: 20px;

    
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $main-black;
  text-align: justify;
}

.titleDependecies {
  display: flex;
  padding-bottom: 45px;
  padding-left: 20px;
}

.dependecies {
  display: flex;
  display: inline-block;
  align-items: center;

  padding-right: 10px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $main-black;
}

.ecosystem {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #4187ae;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:first-child {
    display: flex;
    flex-direction: column;
  }
}

.fieldGroup {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0 10px 10px 20px;

  background: #fff;
  border-radius: 10px;
}

.errorMessage {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: flex-end;

  font-size: 12px;
  font-weight: 700;
  color: $error;
}

.iconGroup {
  display: flex;
  background: inherit;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}

.formDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $content-black;
  text-align: justify;
}

.descriptionBlock {
  padding: 0 20px 20px;
}

.formDelimeter {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: $stroke-color;
}

.descriptionField {
  padding: 20px 0 20px 20px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $main-black;
  text-align: justify;
}

.fieldsBlocks {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.fieldValue {
  display: flex;
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }
}

.fieldName {
  display: inline-block;

  padding-right: 5px;

    
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: $main-black;
  text-align: justify;
}

.link {
  display: inline-block;
  margin-top: auto;
  padding: 40px 20px 0;
  color: #85ccc7;

  &:hover {
    color: #67aea9;
  }

  &:active {
    color: #539a95;
  }
}

.wraperModal {
  height: 542px;
}

.finalWarning {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;

    
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: $main-grey;
  text-align: center;
}

.footerContentModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContentModalButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 32px;
  margin: 10px 0 9px;
  padding: 0 10px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.footerContentModalLink {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $primary;
 
  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}

.linkNavigation {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;

  background: $overlay-bg;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 95%;
    height: 2px;
    margin: 0 20px;

    background: $web-bg;
  }
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $main-grey;

  background: inherit;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -14.5px;

    width: 11px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:hover {
    color: $content-black;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
    }
  }

  &:active {
    color: $main-black;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    }
  }
}
