@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.wrapperSelect {
  width: 100%;
  margin-top: 20px;
  padding: 10px;

  background: $pure-white;
  border-radius: 10px;

}

.inputTitle {
  padding-bottom: 10px;

    
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $pure-black;
}

.inputSearch {
  width: 100%;
  padding: 5px 13px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 149%;
    color: $main-grey;
  }
}

.tokenInfo {
  display: flex;
  justify-content: space-between;
 
}

.blockLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.tokenImg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 29px;
  height: 29px;

  font-size: 8px;

  background: $primary-hover;
  border-radius: 50%;
}

.blockLeftInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.tokenName {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #444;
}

.tokenTicker {
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: #ababab;
  text-transform: uppercase;
}

.blockRight {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 50%;
}

.blockRightInfo {
  display: flex;
}

.infoValue {
  display: inline-block;

  padding-right: 5px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: #444;
}

.infoPercent {
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $primary;
}

.infoPercentHight {
  color: $success;
}

.infoName {
  color: #afacac;
}
