@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.wrapper {
  direction: rtl;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 123px);

  background: $OverlayBG;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin-bottom: 63px;
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;
    margin-bottom: 63px;

    background: $Primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}
.wrapper > * {
  direction: ltr;
}

.blockMessage {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.messageWrapper {
  padding-bottom: 40px;
}

.choiseTokenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.radioButtonsBlock {
  display: flex;
  justify-content: space-between;
  width: 222px;
}

.applyButtonDisabled {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 73px;
  height: 32px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $StrokeColor;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 4px;

  &:hover {
    background: $AppBG;
  }

  &:active {
    background: $AppBG;
  }
}

.createTokenomics {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 32px;
  margin-top: 20px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $PureWhite;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;
    color: $MainGrey;
    background: $AppBG;
    border: 1px solid $StrokeColor;
  }
}

.support::before {
  content: attr(data-title);
}

.support::before {
  cursor: default;
  content: attr(data-title);

  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;

  display: none;

  width: 150px;
  height: auto;
  min-height: 20px;
  margin: -15px 0 0 10px;
  padding: 5px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: #2a2a2a;
  text-align: left;

  opacity: 0.9;
  background: #fff;
  border: 1px solid $StrokeColor;
  border-radius: 10px 10px 10px 0;
  box-shadow: 5px 5px 0.5em -0.1em rgb(0 0 6 / 50%);
}

.support:hover::before,
.support:focus::before {
  display: flex;
  align-items: center;
}

.linkNavigation {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;

  &::before {
    content: '';

    position: absolute;
    top: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background: $WebBG;
  }
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $MainGrey;

  background: inherit;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -14.5px;

    width: 11px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:hover {
    color: $ContentBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
    }
  }

  &:active {
    color: $MainBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    }
  }
}

.wraperModal {
  height: 542px;
}

.finalWarning {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: $MainGrey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerContentModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContentModalButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 32px;
  margin: 10px 0 9px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $PureWhite;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.footerContentModalLink {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $Primary;

  &:hover {
    color: $PrimaryHover;
  }

  &:active {
    color: $PrimaryPressed;
  }
}
.blockTokenApp {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.titleTokenApp {
  font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 149%;
    text-align: center;
    color: #747376;
}
.firstLine {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.icon {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid $StrokeColor;
  color: $Primary;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $StrokeColor;
}

.ticker {
  font-family: 'Roboto';

  font-weight: 400;
  font-size: 14px;
  line-height: 149%;
  text-transform: uppercase;

  color: #ababab;
  padding-left: 10px;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #444444;
  padding-left: 10px;
  padding-bottom: 2px;
}
.secondLine {
  display: flex;

  align-items: center;
}
.address {
  font-family: 'Roboto';

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  text-decoration-line: underline;
  cursor: pointer;
  color: #46a3e2;
  &:hover {
    color: #7dd0ff;
  }
  &:active {
    color: #468db5;
  }
}
.tokenCopy {
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 50%;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    svg {
      path {
        fill: #7dd0ff;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: #7dd0ff;
      }
    }
  }
}
.thirdLine {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.blockRight {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 50%;
}

.blockRightInfo {
  display: flex;
}

.infoValue {
  display: inline-block;

  padding-right: 5px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: #444;
}

.infoPercent {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $Primary;
}

.infoPercentHight {
  color: $success;
}

.infoName {
  color: #afacac;
}
