@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 93px);
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.mainInfoBlock {
  display: flex;

  overflow: hidden;

  overflow-y: scroll;

  flex: 1 1 auto;
  flex-direction: column;

  flex-direction: column;

  width: 100%;
  height: 80vh;
  padding: 15px 0 0 15px;
  direction: rtl;

  &::-webkit-scrollbar {
    width: 4px;

    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: rgb(244 244 244);
    background:
      linear-gradient(
        90deg,
        rgb(244 244 244 / 0%) 10%,
        rgb(227 227 227 / 100%) 50%,
        rgb(244 244 244 / 0%) 90%
      );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    border-radius: 2px;
    background: $Primary;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.mainInfoBlock > * {
  direction: ltr;
}

.socialBlock {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.item {
  margin-bottom: 10px !important;
}

.moduleTitle {
  display: flex;
  align-items: center;

  width: 100%;
  height: 44px;
  margin: 0 0 10px;
  padding: 10px;

  text-transform: uppercase;

  color: #2a2a2a;
  border-radius: 10px;
  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.inputTitle {
  display: flex;

  width: 100%;
  padding: 5px 13px;

  color: $MainGrey;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
  background: $AppBG;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.inputNameDisabled {
  color: #ff6442;
  border: 1px solid #ff6442;
}

.fullDescription {
  display: flex;

  width: 100%;
  min-height: 128px;
  padding: 5px 13px;

  resize: none;

  color: $MainGrey;
  border: 1px solid $StrokeColor;
  border-radius: 5px;

  background: $AppBG;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.linkNavigation {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;

  &::before {
    position: absolute;
    top: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    content: "";

    background: $WebBG;
  }
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

  color: $MainGrey;
  background: inherit;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  &::before {
    position: absolute;
    top: 0;
    left: -14.5px;

    width: 11px;
    height: 14px;

    content: "";

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:hover {
    color: $ContentBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
    }
  }

  &:active {
    color: $MainBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    }
  }
}

.push {
  display: inline-block;

  margin: 0 auto;
  padding: 0 30.36px 0 0;

  cursor: pointer;

  color: $Primary;
  background: inherit;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  &:hover {
    color: $PrimaryHover;
  }

  &:active {
    color: $PrimaryPressed;
  }
}

.pushDisabled {
  cursor: default;

  color: $MainGrey;

  &:hover {
    color: $MainGrey;
  }

  &:active {
    color: $MainGrey;
  }
}

@import "./modalStyles.scss"
