@import '../../assets/styles/null';
@import '../../assets/styles/color.variables';

// ToDo: code duplication

.wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 83px);
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.mainInfoBlock {
  direction: rtl;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: 80vh;
  padding: 15px 0 0 15px;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.mainInfoBlock > * {
  direction: ltr;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin-bottom: 10px !important;
}

.moduleTitle {
  display: flex;
  align-items: center;

  width: 100%;
  height: 44px;
  margin: 0 0 10px;
  padding: 10px;

    
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #2a2a2a;
  text-transform: uppercase;

  background: #fff;
  border-radius: 10px;
}

.inputTitle {
  display: flex;

  width: 100%;
  padding: 5px 13px;

    
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.inputNameDisabled {
  color: #ff6442;
  border: 1px solid #ff6442;
}

.fullDescription {
  resize: none;

  display: flex;

  width: 100%;
  min-height: 128px;
  padding: 5px 13px;

    
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.iconBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background: $pure-white;
  border-radius: 10px;
}

.imgBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  display: block;

  width: 42px;
  height: 42px;

  background: #c4c4c4;
  border: 1px solid $web-bg;
  border-radius: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.imgTitle {
  display: inline-block;

  margin: 0 0 0 14px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;
}

.buttonIcon {
  display: block;
}

.addIcon {
  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

    
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $content-black;

  background: $web-bg;
  border-radius: 10px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $main-grey;
  }
}

.inputfile {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.inputfile + label {
  cursor: pointer;

  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

    
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $content-black;

  background: $web-bg;
  border-radius: 10px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $main-grey;
  }
}

.inputfile:focus + label,
.inputfile + label:hover {
  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

    
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $content-black;

  background: $web-bg;
  border-radius: 10px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $main-grey;
  }
}

.ownershipBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputOwnershipBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputOwnership {
  display: flex;

  width: 100%;
  padding: 5px 13px;

    
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.ownershipButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

    
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.wrapperAdmins {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 10px;

  background: $pure-white;
  border-radius: 10px;
}

.blockAdmins {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  padding: 10px;
}

.blockAuthors {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px 13px;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.authorTitle {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;
}

.adminsTitle {
  display: inline-block;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;
}

.adminsButton {
  display: block;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%235EC280'/%3E%3C/svg%3E");

  &:hover {
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2372D694'/%3E%3C/svg%3E");
  }

  &:active {
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2326A651'/%3E%3C/svg%3E");
  }
}

.linkNavigation {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  margin: 20px 0 0;

  &::before {
    content: '';

    position: absolute;
    top: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background: $web-bg;
  }
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $main-grey;

  background: inherit;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: -14.5px;

    width: 11px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:hover {
    color: $content-black;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
    }
  }

  &:active {
    color: $main-black;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    }
  }
}

.push {
  cursor: pointer;

  display: inline-block;

  margin: 0 auto;
  padding: 0 30.36px 0 0;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $primary;

  background: inherit;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}

.pushDisabled {
  cursor: default;
  color: $main-grey;

  &:hover {
    color: $main-grey;
  }

  &:active {
    color: $main-grey;
  }
}

.modalDefaultContent {
  width: 263px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $main-grey;
  text-align: center;
}

.modalCreationContent {
  width: 214px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $main-grey;
  text-align: center;
}

.modalCreationContentButton {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 157px;
  height: 32px;
  margin-top: 10px;
  padding: 0 10px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.titleModalEndCreation {
  width: 307px;
  text-align: center;
}

.modalEndCreationContent {
  width: 263px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $main-grey;
  text-align: center;
}

.modalEndCreationFooterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modalEndCreationFooterButton {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 157px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.modalEndCreationFooterLink {
  cursor: pointer;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $primary;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}
