@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/animate";

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background: rgb(196 196 196 / 10%);
  backdrop-filter: blur(2px);

  animation-name: appear;
  animation-duration: 300ms;
}

.modalDialog {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 94%;

  // ??
  height: 542px;
  padding: 22px 15px 16px;

  background: $PureWhite;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  animation-name: animatetop;
  animation-name: slide-in;
  animation-duration: 0.4s;
  animation-duration: 0.5s;
}

.modalHeader {
  display: flex;
}

.modalClose {
  cursor: pointer;

  position: absolute;
  top: 15px;
  right: 14px;

  display: block;

  width: 20px;
  height: 20px;

  background-color: $Primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 7 7' fill='none'%3E%3Cpath d='M5.74375 0.695312L3.5 2.93906L1.25625 0.695312L0.375 1.57656L2.61875 3.82031L0.375 6.06406L1.25625 6.94531L3.5 4.70156L5.74375 6.94531L6.625 6.06406L4.38125 3.82031L6.625 1.57656L5.74375 0.695312Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  &:hover {
    background-color: $PrimaryHover;
  }

  &:active {
    background-color: $PrimaryPressed;
  }
}

.modalBody {
  overflow: auto;
  display: flex;
  flex: 1 1 auto;

  width: 100%;
  padding: 0 0 20px;
}

.modalContent {
  width: 100%;
}

.modalTitle {
  display: block;

  padding: 0 0 24px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  color: #2a2a2a;
  text-transform: uppercase;
}
