@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.localhost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin: 2.5px 0;
  padding: 10px;

  background: $PureWhite;
  border-radius: 10px;
}

.hostBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonLocalhost {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: $PureWhite;

  background: #f5cf6c;
  border-radius: 10px;
}

.labelLocalhost {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: 100%;
  height: 21px;
  padding: 0 0 0 20px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $ContentBlack;
}
