@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 0;
}

.wrapper::-webkit-scrollbar-track {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.block {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: calc(100% - 58px);
  padding: 20px 11px 0 12px;

  background: #f5f5f5;
}

.notification {
  direction: rtl;
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: 50vh;
  padding: 8px 0 0;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 15px;
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.notification > * {
  direction: ltr;
}

.notificationClose {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 68px;
  padding: 20px 0 0;
}

.clearAll {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 149%;
  color: $primary;
}

.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5px;

  font-size: 12px;
  line-height: 149%;
  color: #ff6442;

  border: 1px dashed #ff6442;
  border-radius: 6px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  max-width: 431px;
  margin: 7px 0;
}

.titleBlock {
  display: inline-block;

  margin-right: auto;
  padding: 0 4px;

  font-size: 10px;
  font-weight: 600;
  line-height: 149%;
  color: #747376;
  text-transform: uppercase;
  white-space: nowrap;

  background: #e3e3e3;
  border-radius: 0 6px 6px 0;
}

.delimeter {
  display: flex;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}

.btnGroup {
  display: flex;
}

.btnNotification {
  margin: 0 auto;
  padding: 10px 51px;

  font-size: 14px;
  line-height: 149%;
  color: #919191;

  background: inherit;
  border: 1px solid #919191;
  border-radius: 8px;

  &:hover {
    color: $primary-hover;
    border: 1px solid $primary-hover;
  }

  &:active {
    color: $primary-pressed;
    border: 1px solid $primary-pressed;
  }

  &:disabled {
    cursor: auto;
    color: $stroke-color;
    border: 1px solid $stroke-color;
  }
}

.notOlder {
  font-size: 18px;
  font-weight: 400;
  line-height: 149%;
  color: #747376;
  text-align: center;
}

.loaderNotify {
  display: flex;

  width: 50px;
  height: 50px;
  margin: 0 auto;

  background-image: url('../../assets/svg/loaderNotification.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@import './adaptive';
