/* PROFILE */

.button-default {
  cursor: pointer;
  user-select: none;

  box-sizing: border-box;
  height: 35px;
  margin: 0 8px;
  padding: 0 10px;

  font-family:  Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background: inherit;
  border-radius: 9999px;

  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.button-light {
  color: rgb(0 0 0/ 87%);
  border: 1px solid rgb(207 217 222);
}

.button-light:hover {
  background-color: rgb(15 20 25 / 10%);
}

.button-dark {
  color: #fff;
  border: 1px solid rgb(83 100 113);
}

.button-dark:hover {
  background-color: rgb(239 243 244 / 10%);
}

.button-basic {
  padding: 0;
  border: none;
  border-radius: 7px;
}
.button-img-display {
  fill: currentcolor;
  height: auto;
  max-width: 100%;
  position: relative;
  vertical-align: text-bottom;
  width: 1.25em;
  margin: auto 0;
  display: flex !important;
  align-items: center !important;
}