@import '../../../../assets/styles/null';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/color.variables';
.skip{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 135px;
    height: 32px;

    font-family: Roboto, sans-serif;
    background: inherit;
font-weight: 400;
font-size: 14px;
line-height: 149%;

text-decoration-line: underline;

color: $main-grey;
&:hover{
 color:   $content-black;
}
}