@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.dropdownBlock {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 95px;
  max-width: 100px;
  height: auto;

  cursor: pointer;
  text-transform: uppercase;

  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: $PureWhite;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
}

.spanBlock {
  position: relative;

  display: block;
  overflow: hidden;

  width: 100%;

  max-width: 93px;
  padding: 5px 25px 5px 8px;

  white-space: nowrap;
  text-overflow: ellipsis;

  &::after {
    position: absolute;
    top: 7px;
    right: 11px;

    width: 8px;
    height: 5px;

    content: "";

    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%232A2A2A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

.isOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: -1px;

  width: 102%;
  padding-left: 9px;

  list-style: none;

  transform: translateY(100%);

  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: $PureWhite;
}

.item {
  position: relative;

  display: flex;

  margin-bottom: 8px;

  cursor: pointer;

  &:first-child {
    margin-top: 8px;
  }

  &:hover {
    color: $Primary;
  }
}

.isTitle {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 3px;

  white-space: nowrap;

  text-transform: uppercase;
  pointer-events: none;

  color: $MainBlack;

  font-family: Roboto, sans-serif;

  font-size: 10px;
  line-height: 100%;
}

@media (min-width: 320px) and (max-width: 640px) {
  .dropdownBlock {
    min-width: 73px;
    max-width: 73px;
  }
}
