@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

/* Segoe UI Regular */
@font-face {
  font-family: SegoeUIRegular;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/SegoeUI.woff") format("woff");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.dropdownBlock {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 150px;
  max-width: 202px;
  height: auto;

  cursor: pointer;

  border: 1px solid #e3e3e3;

  border-radius: 10px;
  border-radius: 8px;
  background-color: $PureWhite;

  // font-family: 'SegoeUIRegular';
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}

.spanBlock {
  position: relative;

  display: block;
  overflow: hidden;

  width: 100%;

  max-width: 150px;
  padding: 5px 27px 5px 8px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #2a2a2a;

  // font-family: "SegoeUIRegular";
  font-size: 12px;
  font-weight: 400;

  // font-style: italic;
  // line-height: 149%;
}

.isOpenIcon {
  position: absolute;
  top: 30%;
  right: 8px;

  right: 8px;

  width: 8px;
  height: 7px;

  content: "";
  animation-name: rotateIsClose;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46495L9.00001 9.94995L17.485 1.46495L16.071 0.0499516L9.00001 7.12195L1.92901 0.0499516L0.515015 1.46495Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  }
}

.isOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);
}

.isOpenAnimationIcon {
  animation-name: rotateIsOpen;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateIsOpen {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateIsClose {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.list {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 0;

  width: 148px;

  list-style: none;

  transform: translateY(100%);
  animation-name: listVisible;

  animation-duration: 0.2s;

  animation-timing-function: ease;

  border-radius: 0 0 10px 10px;
  background-color: #fff;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);
  animation-fill-mode: forwards;

  li:last-child {
    border-radius: 0 0 10px 10px;
  }
}

@keyframes listVisible {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.item {
  position: relative;

  display: flex;

  padding-top: 7px;
  padding-bottom: 7px;

  padding-left: 8px;

  cursor: pointer;

  color: #2a2a2a;

  // font-family: "SegoeUIRegular";
  font-size: 12px;
  font-weight: 400;

  // font-style: italic;
  line-height: 149%;

  &:hover {
    color: $MainGrey;
  }

  &:active {
    background: $StrokeColor;
  }
}

.isTitle {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;

  white-space: nowrap;

  // text-transform: uppercase;
  pointer-events: none;

  color: $MainBlack;

  // font-family: "SegoeUIRegular";

  font-size: 12px;
  line-height: 100%;
}
