@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

/* Segoe UI Regular */
@font-face {
  font-family: SegoeUIRegular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/SegoeUI.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.dropdownBlock {
  cursor: pointer;

  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 150px;
  max-width: 202px;
  height: auto;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  background-color: $pure-white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  border-radius: 8px;
}

.spanBlock {
  position: relative;

  overflow: hidden;
  display: block;

  width: 100%;
  max-width: 150px;
  padding: 5px 27px 5px 8px;

  font-size: 12px;
  font-weight: 400;
  color: #2a2a2a;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.isOpenIcon {
  content: '';

  position: absolute;
  right: 8px;

  width: 8px;
  height: 7px;

  animation-name: rotate-is-close;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  svg {
    fill: none !important;

    path {
      fill: none !important;
    }

    &:hover {
      fill: none !important;

      path {
        fill: none !important;
        stroke: $content-black;
      }
    }

    &:active {
      fill: none !important;

      path {
        fill: none !important;
      }
    }
  }
}

.isOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);
}

.isOpenAnimationIcon {
  margin-top: 5px;

  animation-name: rotate-is-open;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes rotate-is-open {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-is-close {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.list {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 0;
  transform: translateY(100%);

  width: 148px;

  list-style: none;

  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);

  animation-name: list-visible;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  li:last-child {
    border-radius: 0 0 10px 10px;
  }
}

@keyframes list-visible {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.item {
  cursor: pointer;

  position: relative;

  display: flex;

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 149%;
  color: #2a2a2a;

  &:hover {
    color: $main-grey;
  }

  &:active {
    background: $stroke-color;
  }
}

.isTitle {
  display: flex;
  align-items: center;
}

.title {
  pointer-events: none;

  margin-right: 10px;

  font-size: 12px;
  line-height: 100%;
  color: $main-black;
  white-space: nowrap;
}
