@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.dropdownBlock {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  min-width: 150px;
  max-width: 202px;
  height: auto;

  cursor: pointer;

  // text-transform: uppercase;

  border-radius: 10px;
  background-color: $PureWhite;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
}

.spanBlock {
  position: relative;

  display: block;
  overflow: hidden;

  width: 100%;

  max-width: 150px;
  padding: 7px 27px 7px 8px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: $MainGrey;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.isOpenIcon {
  position: absolute;
  top: 12%;
  right: 8px;

  width: 24px;
  height: 25px;

  content: "";
  animation-name: rotateIsClose;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46495L9.00001 9.94995L17.485 1.46495L16.071 0.0499516L9.00001 7.12195L1.92901 0.0499516L0.515015 1.46495Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  }
}

.isOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -1px 2px 4px rgb(0 0 0 / 25%);
}

.isOpenAnimationIcon {
  animation-name: rotateIsOpen;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateIsOpen {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateIsClose {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.list {
  position: absolute;
  z-index: 2;
  bottom: 1px;
  left: 0;

  width: 100%;

  list-style: none;

  transform: translateY(100%);
  animation-name: listVisible;

  animation-duration: 0.2s;

  animation-timing-function: ease;

  border-radius: 0 0 10px 10px;
  background-color: #fff;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);
  animation-fill-mode: forwards;

  li:last-child {
    border-radius: 0 0 10px 10px;
  }
}

@keyframes listVisible {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.item {
  position: relative;

  display: flex;

  padding-top: 7px;
  padding-bottom: 7px;

  // margin-bottom: 8px;
  padding-left: 8px;

  cursor: pointer;

  color: $MainGrey;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;

  &:hover {
    background: #eaf0f0;
  }

  &:active {
    background: $StrokeColor;
  }
}

.isTitle {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;

  white-space: nowrap;

  text-transform: uppercase;
  pointer-events: none;

  color: $MainBlack;

  font-family: Roboto, sans-serif;

  font-size: 10px;
  line-height: 100%;
}

@media (min-width: 320px) and (max-width: 640px) {
  .dropdownBlock {
    min-width: 73px;
    max-width: 73px;
  }
}
