.button {
  padding: 5px 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #d9304f;

  font-size: 14px;
}

.button:hover {
  background-color: #e52347;
}

.button:active {
  background-color: #95132b;
}

.basic {
  padding: 5px 10px;

  cursor: pointer;

  color: #d9304f;
  border: none;
  border-radius: 5px;
  background-color: #0000;

  font-size: 14px;

  font-weight: 500;
}

.basic:hover {
  color: #e52347;
}

.basic:active {
  color: #95132b;
}
