.button {
	padding: 5px 10px;

	cursor: pointer;

	color: #FFF;
	border: none;
	border-radius: 5px;
	background-color: #D9304F;

	font-size: 14px;
}

.button:hover {
	background-color: #E52347;
}

.button:active {
	background-color: #95132B;
}

.basic {
	padding: 5px 10px;

	cursor: pointer;

	color: #D9304F;
	border: none;
	border-radius: 5px;
	background-color: #0000;

	font-size: 14px;

	font-weight: 500;
}

.basic:hover {
	color: #E52347;
}

.basic:active {
	color: #95132B;
}