@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.wrapper {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 130px);
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.mainInfoBlock {
  direction: rtl;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 15px 0 0 15px;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background:
      linear-gradient(
        90deg,
        rgb(244 244 244 / 0%) 10%,
        rgb(227 227 227 / 100%) 50%,
        rgb(244 244 244 / 0%) 90%
      );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $Primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.mainInfoBlock > * {
  direction: ltr;
}

.wrapperSettings {
  margin: 0 0 20px !important;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin-bottom: 10px !important;
}

.moduleTitle {
  display: flex;
  align-items: center;

  width: 100%;
  height: 44px;
  margin: 0 0 10px;
  padding: 10px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #2a2a2a;
  text-transform: uppercase;

  background: #fff;
  border-radius: 10px;
}

.inputTitle {
  display: flex;

  width: 100%;
  padding: 5px 13px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
}

.fullDescription {
  resize: none;

  display: flex;

  width: 100%;
  min-height: 128px;
  padding: 5px 13px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
}

.iconBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background: $PureWhite;
  border-radius: 10px;
}

.imgBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  display: block;

  width: 42px;
  height: 42px;

  background: #c4c4c4;
  border: 1px solid $WebBG;
  border-radius: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.imgTitle {
  display: inline-block;

  margin: 0 0 0 14px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;
}

.buttonIcon {
  display: block;
}

.inputfile {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.inputfile + label {
  cursor: pointer;

  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $ContentBlack;

  background: $WebBG;
  border-radius: 10px;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: $MainGrey;
  }
}

.inputfile:focus + label,
.inputfile + label:hover {
  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $ContentBlack;

  background: $WebBG;
  border-radius: 10px;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: $MainGrey;
  }
}

.ownershipBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputOwnershipBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputOwnership {
  display: flex;

  width: 100%;
  padding: 5px 13px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
}

.inputOwnershipInvalid {
  color: #ff6442;
  border: 1px solid #ff6442;
}

.ownershipButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.ownershipButtonDisabled {
  color: $StrokeColor;
  background: $AppBG;
  border: 1px solid $StrokeColor;

  &:hover {
    background: $AppBG;
  }

  &:active {
    background: $AppBG;
  }
}

.linkNavigation {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;

  &::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background: $WebBG;
  }
}

.back {
  position: relative;

  display: block;

  margin: 0 0 0 14.5px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $MainGrey;

  background: inherit;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -14.5px;

    width: 11px;
    height: 14px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:hover {
    color: $ContentBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill=' %23747376'/%3E%3C/svg%3E");
    }
  }

  &:active {
    color: $MainBlack;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none'%3E%3Cpath d='M11 0L-6.11959e-07 7L11 14L11 0Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    }
  }
}

.push {
  cursor: pointer;

  display: inline-block;

  margin: 0 auto;
  padding: 0 30.36px 0 0;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $Primary;

  background: inherit;

  &:hover {
    color: $PrimaryHover;
  }

  &:active {
    color: $PrimaryPressed;
  }
}

.pushDisabled {
  cursor: default;
  color: $MainGrey;

  &:hover {
    color: $MainGrey;
  }

  &:active {
    color: $MainGrey;
  }
}

.parametersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@import "./modalStyles";
@import "./adaptive";
