@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import './modalStyles';
@import './adaptive';

// ToDo: code duplication

.wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 130px);

  -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.mainInfoBlock {
  direction: rtl;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 15px 0 0 15px;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.mainInfoBlock > * {
  direction: ltr;
}

.wrapperSettings {
  margin: 0 0 20px !important;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin-bottom: 10px !important;
}

.moduleTitle {
  display: flex;
  align-items: center;

  width: 100%;
  height: 44px;
  margin: 0 0 10px;
  padding: 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #2a2a2a;

  background: #fff;
  border-radius: 10px;
}

.inputTitle {
  display: flex;

  width: 100%;
  padding: 5px 13px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.fullDescription {
  resize: none;

  display: flex;

  width: 100%;
  min-height: 128px;
  padding: 5px 13px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.iconBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background: $pure-white;
  border-radius: 10px;
}

.imgBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  background: #c4c4c4;
  border: 1px solid $web-bg;
  border-radius: 20px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.imgTitle {
  display: inline-block;

  margin: 0 0 0 14px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;
}

.buttonIcon {
  display: block;
}

.inputfile {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.inputfile + label {
  cursor: pointer;

  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $content-black;

  background: $web-bg;
  border-radius: 10px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $main-grey;
  }
}

.inputfile:focus + label,
.inputfile + label:hover {
  z-index: 4;

  display: block;

  width: 66px;
  height: 20px;
  padding: 5px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $content-black;

  background: $web-bg;
  border-radius: 10px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $main-grey;
  }
}

.ownershipBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputOwnershipBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputOwnership {
  display: flex;

  width: 100%;
  padding: 5px 13px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;
}

.inputOwnershipInvalid {
  color: #ff6442;
  border: 1px solid #ff6442;
}

.ownershipButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.ownershipButtonDisabled {
  color: $stroke-color;
  background: $app-bg;
  border: 1px solid $stroke-color;

  &:hover {
    background: $app-bg;
  }

  &:active {
    background: $app-bg;
  }
}

.linkNavigation {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  margin: 20px 0 0;

  &::before {
    content: '';

    position: absolute;
    top: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background: $web-bg;
  }
}

.back {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 0 14.5px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $main-grey;

  background: inherit;

  svg {
    margin-right: 5px;
  }

  &:hover {
    color: $content-black;

    svg {
      path {
        fill: $content-black;
      }
    }
  }

  &:active {
    color: $main-black;

    svg {
      path {
        fill: $main-black;
      }
    }
  }
}

.push {
  cursor: pointer;

  display: inline-block;

  margin: 0 auto;
  padding: 0 30.36px 0 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $primary;

  background: inherit;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}

.pushDisabled {
  cursor: default;
  color: $main-grey;

  &:hover {
    color: $main-grey;
  }

  &:active {
    color: $main-grey;
  }
}

.parametersBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.miniLoader {
  display: inline-block;

  width: 100%;
  height: 20px;
  margin: 0 auto;

  background-image: url("../../assets/svg/loaderSettings.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.wrapperContextID {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 10px;

  background: $pure-white;
  border-radius: 10px;
}

.blockContextID {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  padding: 10px;
}

.blockContextIDTitle {
  display: inline-block;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;
}

.contextIDButton {
  display: block;

  width: 20px;
  height: 20px;

  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%235EC280'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  &:hover {
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2372D694'/%3E%3C/svg%3E");
  }

  &:active {
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%2326A651'/%3E%3C/svg%3E");
  }
}

.contextIDButtonDisabled {
  cursor: default;
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%23747376'/%3E%3C/svg%3E");

  &:hover {
    cursor: default;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:active {
    cursor: default;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 20C4.47967 19.994 0.00606237 15.5204 0 10V9.80002C0.109931 4.30455 4.63459 -0.0720257 10.1307 0.000898217C15.6268 0.0738221 20.0337 4.5689 19.9978 10.0654C19.9619 15.5618 15.4966 19.9989 10 20ZM5 9.00002V11H9V15H11V11H15V9.00002H11V5.00002H9V9.00002H5Z' fill='%23747376'/%3E%3C/svg%3E");
  }
}

.wrapperContext {
  display: flex;
  width: 100%;
}

.blockContext {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 0 10px;
  padding: 5px 13px;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 5px;

}

.blockContextTitle {
  display: inline-block;

  width: 90%;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $main-grey;

  background: inherit;
  text-overflow: ellipsis;
}

.contextDelete {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 11px;
  height: 11px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6' fill='none'%3E%3Cpath d='M5.09409 0.083313L2.99992 2.17748L0.905752 0.083313L0.083252 0.905813L2.17742 2.99998L0.083252 5.09415L0.905752 5.91665L2.99992 3.82248L5.09409 5.91665L5.91658 5.09415L3.82242 2.99998L5.91658 0.905813L5.09409 0.083313Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  border-color: inherit;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6' fill='none'%3E%3Cpath d='M5.09409 0.083313L2.99992 2.17748L0.905752 0.083313L0.083252 0.905813L2.17742 2.99998L0.083252 5.09415L0.905752 5.91665L2.99992 3.82248L5.09409 5.91665L5.91658 5.09415L3.82242 2.99998L5.91658 0.905813L5.09409 0.083313Z' fill='%23747376'/%3E%3C/svg%3E");
  }
 
}

.addContext {
  cursor: pointer!important;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff!important;
  text-transform: uppercase;

  background: $primary!important;
  border-radius: 4px;

  &:hover {
    background: $primary-hover!important;
  }

  &:active {
    background: $primary-pressed!important;
  }
}

.addContextDisabled {
  cursor: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: $stroke-color;
  text-transform: uppercase;

  background: $app-bg;
  border: 1px solid $stroke-color;
  border-radius: 4px;

  &:hover {
    background: $app-bg;
  }

  &:active {
    background: $app-bg;
  }
}

.editContextIdLoading {
  display: inline-block;

  width: 100%;
  height: 20px;
  margin: 0 auto;

  background-image: url("data:image/svg+xml,%3Csvg id='enmvdj1tPVl1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 18' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23enmvdj1tPVl3_tr %7Banimation: enmvdj1tPVl3_tr__tr 1000ms linear infinite normal forwards%7D@keyframes enmvdj1tPVl3_tr__tr %7B 0%25 %7Btransform: translate(9px,9.080632px) rotate(0deg)%7D 100%25 %7Btransform: translate(9px,9.080632px) rotate(180deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cellipse rx='8.550768' ry='8.550768' transform='matrix(.907954 0 0 0.907954 9 9)' fill='none' stroke='%23919191' stroke-width='2'/%3E%3Cg id='enmvdj1tPVl3_tr' transform='translate(9,9.080632) rotate(0)'%3E%3Crect width='18' height='2.879693' rx='0' ry='0' transform='translate(-9,-1.439846)' fill='%23F5F5F5' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: center;
}

.addcontextDelete{
  cursor: pointer;

  display: block;

  width: 11.5px;
  height: 12.5px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.625 12.75H3.375C2.68464 12.75 2.125 12.1904 2.125 11.5V3.375H0.875V2.125H3.375V1.5C3.375 0.809644 3.93464 0.25 4.625 0.25H8.375C9.06536 0.25 9.625 0.809644 9.625 1.5V2.125H12.125V3.375H10.875V11.5C10.875 12.1904 10.3154 12.75 9.625 12.75ZM3.375 3.375V11.5H9.625V3.375H3.375ZM4.625 1.5V2.125H8.375V1.5H4.625ZM8.375 10.25H7.125V4.625H8.375V10.25ZM5.875 10.25H4.625V4.625H5.875V10.25Z' fill='%23747376'/%3E%3C/svg%3E");
  border-color: inherit;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.625 12.75H3.375C2.68464 12.75 2.125 12.1904 2.125 11.5V3.375H0.875V2.125H3.375V1.5C3.375 0.809644 3.93464 0.25 4.625 0.25H8.375C9.06536 0.25 9.625 0.809644 9.625 1.5V2.125H12.125V3.375H10.875V11.5C10.875 12.1904 10.3154 12.75 9.625 12.75ZM3.375 3.375V11.5H9.625V3.375H3.375ZM4.625 1.5V2.125H8.375V1.5H4.625ZM8.375 10.25H7.125V4.625H8.375V10.25ZM5.875 10.25H4.625V4.625H5.875V10.25Z' fill='%23919191'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.625 12.75H3.375C2.68464 12.75 2.125 12.1904 2.125 11.5V3.375H0.875V2.125H3.375V1.5C3.375 0.809644 3.93464 0.25 4.625 0.25H8.375C9.06536 0.25 9.625 0.809644 9.625 1.5V2.125H12.125V3.375H10.875V11.5C10.875 12.1904 10.3154 12.75 9.625 12.75ZM3.375 3.375V11.5H9.625V3.375H3.375ZM4.625 1.5V2.125H8.375V1.5H4.625ZM8.375 10.25H7.125V4.625H8.375V10.25ZM5.875 10.25H4.625V4.625H5.875V10.25Z' fill='%232A2A2A'/%3E%3C/svg%3E");
  }
}

@import './modalStyles';
@import './adaptive';
