@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.modalDefaultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 263px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $MainGrey;
  text-align: center;
}

.modalDefaultContentButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 157px;
  height: 32px;
  margin-top: 10px;
  padding: 0 10px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $PureWhite;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.modalContentOwnership {
  display: flex;
  width: 65%;
  text-align: center;
}

.messageModalDefault {
  justify-content: center;
  height: 70vh;

  p {
    overflow: hidden;
    display: inline-block;

    width: 90%;
    height: 40vh;

    text-overflow: ellipsis;
    overflow-wrap: normal;
  }
}
