.dapplets-overlay-frame {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 100%;

  height: 100%;
  margin: 0;
  padding: 0;

  border: 0;
  background: #fff;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;

  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */

  /* user-select: none; */
  direction: ltr;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

.dapplets-overlay-collapsed {
  transform: translateX(0) !important;
}

.dapplets-overlay-hidden {
  display: none;
}

@media screen and (min-width: 0) {
  .dapplets-overlay-frame {
    width: auto !important;

    transition: transform 0.15s cubic-bezier(0.55, 0, 0.2, 0.8);
    transform: translateX(-100%);
  }
}

.dapplets-overlay-frame.dapplets-overlay-collapsed [class*='toggleOverlay'] {
  left: -100px;
}

.dapplets-overlay-frame.dapplets-overlay-collapsed .toggleOverlay {
  left: -100px;
}

.dapplets-overlay-collapsed .toggleOverlay {
  left: -100px;
}

@media screen and (min-width: 0) and (max-width: 640px) {
  .dapplets-overlay-frame {
    width: 100% !important;

    transition: transform 0.15s cubic-bezier(0.55, 0, 0.2, 0.8);
    transform: translateX(-100%);

    /* width: 640px !important; */
  }

  .dapplets-overlay-frame.dapplets-overlay-collapsed [class*='toggleOverlay'] {
    left: -100px;
  }

  .dapplets-overlay-frame.dapplets-overlay-collapsed .toggleOverlay {
    left: -100px;
  }

  .dapplets-overlay-collapsed .toggleOverlay {
    left: -100px;
  }
}
