.dapplets-overlay-bucket-bar {
    background: rgba(0, 0, 0, 0.08);
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 22px;
    left: -22px;
}
.h-sidebar-iframe {
    border: none;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
    background-color: #e6ecf0;
}
.dapplets-overlay-toolbar {
    position: absolute;
    left: -33px;
    width: 37px;
    z-index: 2;
}
.dapplets-overlay-toolbar ul {
    height: 100%;
}
.dapplets-overlay-toolbar ul, .dapplets-overlay-toolbar li {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.dapplets-overlay-frame-button {
    transition: background-color 0.25s 0.25s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #969696;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dapplets-overlay-frame-button:active {
    transition: background-color 0.25s;
    background-color: #969696;
}
.dapplets-overlay-frame-button:focus, .dapplets-overlay-frame-button:hover {
    outline: 0;
    color: #585858;
}
.dapplets-overlay-frame-button-sidebar-toggle {
    box-shadow: none;
    border-radius: 0px;
    border-style: none none solid solid;
    padding-right: 6px;
    width: 36px;
    margin-bottom: 10px;
    height: 40px;
}
.dapplets-overlay-frame-button--sidebar_close {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    border-style: solid none solid solid;
    width: 27px;
    margin-top: 140px;
    margin-left: 6px;
    height: 27px;
}
.dapplets-overlay-nav {
    height: 100%;
}
.dapplets-overlay-nav-tab-list {
    display: flex;
    flex: auto;
    overflow-x: auto;
}
.dapplets-overlay-nav-tab-item {
    display: flex;
    padding: 8px 12px;
    background: #ececec;
    z-index: 2;
    max-width: 150px;
}
/* divider between inactive tabs */
.dapplets-overlay-nav-tab-item:not(.dapplets-overlay-nav-tab-item-active):not(:last-child)::after {
    content: "";
    border-right: 1px #aaa solid;
    position: relative;
    right: -12px;
}
.dapplets-overlay-nav-tab-item-active {
    background: #fff;
    position: relative;
    left: -1px;
    border-left: 1px solid #fff;
}
.dapplets-overlay-nav-top-panel {
    background: #f3f3f3;
    display: flex;
}
.dapplets-overlay-nav-top-actions {
    display: flex;
}
.dapplets-overlay-nav-content-list {
    height: calc(100% - 36px);
}
.dapplets-overlay-nav-content-item {
    position: relative;
    display: none;
    height: 100%;
}
.dapplets-overlay-nav-content-item-active {
    display: block;
}
.dapplets-overlay-nav-content-item > *, .frame-container > iframe {
    height: 100%;
    width: 100%;
    border: none;
}
.dapplets-overlay-nav-tab-item-close-btn {
    float: right;
    cursor: pointer;
    font-weight: 600;
    margin: 0 0 0 0.5em;
    border-radius: 10px;
    padding: 0 5px;
}
.dapplets-overlay-nav-tab-item-close-btn:hover {
    background-color: #d5d5d5;
}
.dapplets-overlay-nav-tab-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dapplets-action-dropdown {
    position: relative;
    display: inline-block;
}
.dapplets-action-dropdown button {
    color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
}
.dapplets-action-dropdown button > svg {
    width: 20px;
}
.dapplets-action-dropdown > div {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 99999;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 4px;
}
.dapplets-action-dropdown > div > div {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dapplets-action-dropdown div > div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.dapplets-action-dropdown:hover > div {
    display: block;
    right: 0;
}
.dapplets-action-dropdown:hover > button {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.1);
}
.dapplets-popup-container {
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.1);
}
.dapplets-popup-container > * {
    position: absolute;
    left: calc(50% - 187.5px);
    top: calc(50% - 271px);
    width: 375px;
    height: 542px;
    border: none;
}

.loader-container {
    z-index: -1;
    position: absolute;
    top: calc(50vh - 88px);
}

.loader-container .flex {
    min-height: 60pt
}

.loader-container .loader {
    width: 50pt;
    height: 50pt;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #f1f1f1;
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 2s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader-container .load-text {
    padding-top: 15px;
    text-align: center;
    font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000
}

.popup-loader-container {
    background: #fff;
    box-sizing: border-box;
    padding: 18px;
    border-radius: 10px;
}

.popup-loader-container img {
    width: 143px;
    height: 143px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -71.5px 0 0 -71.5px;
}