.dapplets-overlay-bucket-bar {
  position: absolute;
  left: -22px;

  width: 22px;
  height: 100%;

  pointer-events: none;

  background: rgb(0 0 0 / 8%);
}

.h-sidebar-iframe {
  position: relative;
  z-index: 3;

  width: 100%;
  height: 100%;

  border: none;
  background-color: #e6ecf0;
}

.dapplets-overlay-toolbar {
  position: absolute;
  z-index: 2;
  left: -33px;

  width: 37px;
}

.dapplets-overlay-toolbar ul {
  height: 100%;
}

.dapplets-overlay-toolbar ul,
.dapplets-overlay-toolbar li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  border: 0;
}

.dapplets-overlay-frame-button {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  padding: 0;

  cursor: pointer;
  transition: background-color 0.25s 0.25s;
  text-decoration: none;

  color: #969696;
  border: solid 1px #d3d3d3;
  border-radius: 4px;

  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;

  font-size: 16px;
}

.dapplets-overlay-frame-button:active {
  transition: background-color 0.25s;

  background-color: #969696;
}

.dapplets-overlay-frame-button:focus,
.dapplets-overlay-frame-button:hover {
  color: #585858;
  outline: 0;
}

.dapplets-overlay-frame-button-sidebar-toggle {
  width: 36px;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 6px;

  border-style: none none solid solid;
  border-radius: 0;
  box-shadow: none;
}

.dapplets-overlay-frame-button--sidebar_close {
  width: 27px;
  height: 27px;
  margin-top: 140px;
  margin-left: 6px;

  border-style: solid none solid solid;

<<<<<<< HEAD
=======
  // box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
>>>>>>> adaptive-overlay
  border-radius: 0;
}

.dapplets-overlay-nav {
  height: 100%;
}

.dapplets-overlay-nav-tab-list {
  display: flex;
  overflow-x: auto;
  flex: auto;
}

.dapplets-overlay-nav-tab-item {
  z-index: 2;

  display: flex;

  max-width: 150px;
  padding: 8px 12px;

  background: #ececec;
}

/* divider between inactive tabs */
.dapplets-overlay-nav-tab-item:not(.dapplets-overlay-nav-tab-item-active):not(:last-child)::after {
  position: relative;
  right: -12px;

  content: "";

  border-right: 1px #aaa solid;
}

.dapplets-overlay-nav-tab-item-active {
  position: relative;
  left: -1px;

  border-left: 1px solid #fff;
  background: #fff;
}

.dapplets-overlay-nav-top-panel {
  display: flex;

  background: #f3f3f3;
}

.dapplets-overlay-nav-top-actions {
  display: flex;
}

.dapplets-overlay-nav-content-list {
  height: calc(100% - 36px);
}

.dapplets-overlay-nav-content-item {
  position: relative;

  display: none;

  height: 100%;
}

.dapplets-overlay-nav-content-item-active {
  display: block;
}

.dapplets-overlay-nav-content-item > *,
.frame-container > iframe {
  width: 100%;
  height: 100%;

  border: none;
}

.dapplets-overlay-nav-tab-item-close-btn {
  float: right;

  margin: 0 0 0 0.5em;
  padding: 0 5px;

  cursor: pointer;

  border-radius: 10px;

  font-weight: 600;
}

.dapplets-overlay-nav-tab-item-close-btn:hover {
  background-color: #d5d5d5;
}

.dapplets-overlay-nav-tab-item-title {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.dapplets-action-dropdown {
  position: relative;

  display: inline-block;
}

.dapplets-action-dropdown button {
  height: 100%;
  padding: 0 8px;

  cursor: pointer;

  color: rgb(0 0 0 / 60%);
  border: none;
}

.dapplets-action-dropdown button > svg {
  width: 20px;
}

.dapplets-action-dropdown > div {
  position: absolute;
  z-index: 99999;

  display: none;

  min-width: 160px;

  // box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgb(34 36 38 / 15%);
  border-radius: 4px;
  background-color: #fff;
}

.dapplets-action-dropdown > div > div {
  display: block;

  padding: 10px 16px;

  cursor: pointer;
  text-decoration: none;

  color: black;
}

.dapplets-action-dropdown div > div:hover {
  background-color: rgb(0 0 0 / 5%);
}

/* stylelint-disable-next-line no-descending-specificity */
.dapplets-action-dropdown:hover > div {
  right: 0;

  display: block;
}

.dapplets-action-dropdown:hover > button {
  color: rgb(0 0 0 / 80%);
  background: rgb(0 0 0 / 10%);
}

.dapplets-popup-container {
  position: absolute;
  top: 0;
  left: 0;

  background: rgb(0 0 0 / 10%);
  backdrop-filter: blur(4px);
}

.dapplets-popup-container > * {
  position: absolute;
  top: calc(50% - 271px);
  left: calc(50% - 187.5px);

  width: 375px;
  height: 542px;

  border: none;
}

.loader-container {
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loader-container .flex {
  min-height: 60pt;
}

.loader-container .loader {
  width: 50pt;
  height: 50pt;
  margin-right: auto;
  margin-left: auto;

  animation: spin 2s linear infinite;

  border: 5px solid #f1f1f1;
  border-top: 5px solid #000;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container .load-text {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  text-align: center;

  color: #000;

  font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.popup-loader-container {
  box-sizing: border-box;
  padding: 18px;

  border-radius: 10px;
  background: #fff;
}

.popup-loader-container img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 143px;
  height: 143px;
  margin: -71.5px 0 0 -71.5px;
}
