$primary-color: darkblue;
$background-color: #bada55;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.container {
    padding: 10px;
}

.emoji {
    height: 1em !important;
    margin-left: 0.2em;
    display: inline !important;
}
