@import '../../assets/styles/color.variables';

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;

  border: none;
  border-radius: 5px;

  transition: all 1s;
}

.smail {
  padding: 2px;
  background: $web-bg;
  border-radius: 5px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;

    svg {
      path {
        fill: $primary-hover;
        stroke: $primary-hover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $primary-pressed;
        stroke: $primary-pressed;
      }
    }
  }
}

.big {
  min-width: 32px;
  min-height: 32px;

  background: $pure-white;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgb(225 225 225 / 20%), inset 0 -1px 2px rgb(225 225 225 / 20%),
    inset 0 -1px 2px rgb(255 255 255 / 90%), inset 0 1px 3px rgb(225 225 225 / 90%);

  &:hover {
    svg {
      path {
        fill: $primary-hover;
        stroke: $primary-hover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $primary-pressed;
        stroke: $primary-pressed;
      }
    }
  }
}
