@import "../../assets/styles/color.variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;

  cursor: pointer;
  transition: all 1s;

  border: none;
  border-radius: 5px;
}

.smail {
  padding: 2px;

  transition: all 1s;

  border-radius: 5px;
  background: $WebBG;

  &:hover {
    width: 22px;

    height: 22px;

    transition: all 1s;

    svg {
      path {
        fill: #f53a5c;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: #a6253c;
      }
    }
  }
}

.big {
  min-width: 35px;
  min-height: 35px;

  border-radius: 10px;
  background: $PureWhite;

  &:hover {
    svg {
      path {
        fill: $PrimaryHover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}
