@import '../../assets/styles/color.variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;

  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.smail {
  padding: 2px;

  border-radius: 5px;
  background: $WebBG;
  // &:hover {
  // svg {
  //   rect {
  //     background: $Primary;
  //   }
  // }
  // }
  // &:active {
  //   svg {
  //     rect {
  //       background: $ContentBlack;
  //     }
  //   }
  // }
}

.big {
  min-width: 35px;
  min-height: 35px;

  border-radius: 10px;
  background: $PureWhite;

  &:hover {
    background: $OverlayBG;
  }
  &:active {
    background: $AppBG;
  }
}
