@import "../../assets/styles/color.variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;

  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.smail {
  padding: 2px;

  border-radius: 5px;
  background: $WebBG;

  &:hover {
    svg {
      path {
        fill: #f53a5c;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: #a6253c;
      }
    }
  }
}

.big {
  min-width: 35px;
  min-height: 35px;

  border-radius: 10px;
  background: $PureWhite;

  &:hover {
    background: #979696;
  }

  &:active {
    background: $AppBG;
  }

  svg {
    g {
      clip-path: #000;
    }
  }
}
