@import '../../assets/styles/color.variables';

.widgetButton {
  display: block;

  width: 48px;
  height: 22px;
  margin: 0 auto;
  margin: 5px 0;

  background: #f5f5f5;
  border-radius: 4px;

  &:hover {
    background: #d9304f;

    .widgetButtonImg {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
  }

  &:active {
    background: #a6253c;

    .widgetButtonImg {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
  }
}

.widgetButtonImg {
  display: block;
  width: 24px;
  height: 14px;
  margin: 0 auto;

  &:hover {
    filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
  }

  &:active {
    filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
  }
}

.menuWidgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.menuWidgetsButton {
  width: auto;
  margin: 0;
  margin-right: 5px;
  background: inherit;

  img {
    width: 16px !important;
    height: auto !important;
  }
}

.blockButtonInfo {
  display: flex;
  align-items: center;
  width: 120px;
  padding-left: 4px;

  &:hover {
    background: #d9304f;
    border-radius: 6px;

    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }

    .widgetButtonTitle {
      color: #fff;
    }
  }

  &:active {
    background: #a6253c;
    border-radius: 6px;

    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }

    .widgetButtonTitle {
      color: #fff;
    }
  }
}

.widgetButtonTitle {
  font-size: 12px;
  line-height: 100%;
  color: #747376;
}

.blockDisabled {
  cursor: auto;
  background: inherit;

  // border: 1px solid $StrokeColor;
  border-radius: 6px;

  .widgetButtonTitle {
    color: $StrokeColor;
  }

  img {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(154%) contrast(100%) !important;
  }

  &:hover {
    cursor: auto;
    background: inherit;
    border: none;
    border-radius: 6px;

    img {
      filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(154%) contrast(100%) !important;
    }

    .widgetButtonTitle {
      color: $StrokeColor;
    }

    .widgetButton {
      cursor: auto;
      background: inherit;
    }
  }

  &:active {
    cursor: auto;
    background: inherit;
    border: none;
    border-radius: 6px;

    img {
      // filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
      filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(154%) contrast(100%) !important;
    }

    .widgetButtonTitle {
      color: $StrokeColor;
    }

    .widgetButton {
      cursor: auto;
      background: inherit;
    }
  }
}

.widgetButtonPinned {
  width: 16px;
  height: 16px;
  background: inherit;

  svg {
    width: 16px;
    height: 16px;

    &:hover {
      path {
        fill: $PrimaryHover;
      }
    }

    &:active {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}

.isPinned {
  svg {
    width: 16px;
    height: 16px;

    path {
      fill: $PrimaryHover;
    }
  }
}

.widgetHidden {
  display: none;
}

.widgetDisabled {
  cursor: auto;
  background: inherit;

  img {
    filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(154%) contrast(100%) !important;
  }

  &:hover {
    cursor: auto;
    background: inherit;

    img {
      filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(154%) contrast(100%) !important;
    }
  }
}
