@import "../../assets/styles/color.variables.scss";

.widgetButton {
  display: block;

  width: 48px;
  height: 22px;
  margin: 0 auto;
  margin: 5px 0;

  border-radius: 4px;
  background: #f5f5f5;

  &:hover {
    background: #eb9dab;
  }
}

.widgetButtonImg {
  display: block;

  width: 24px;
  height: 14px;
  margin: 0 auto;
}

.widgetHidden {
  display: none;
}
