@import '../../assets/styles/color.variables.scss';
.widgetButton {
  display: block;
  width: 48px;
  height: 22px;
  margin: 0 auto;
  background: #f5f5f5;
  margin: 5px 0;
  border-radius: 4px;
  &:hover {
    background: #d9304f;
    .widgetButtonImg {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
  }
  &:active {
    background: #a6253c;
    .widgetButtonImg {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
  }
}
.widgetButtonImg {
  display: block;
  width: 24px;
  height: 14px;
  margin: 0 auto;
  &:hover {
    filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
  }
  &:active {
    filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
  }
}



.menuWidgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.menuWidgetsButton {
  background: inherit;
  img {
    width: 16px !important;
    height: auto !important;
  }
  margin: 0;
  width: auto;
  margin-right: 5px;
}

.blockButtonInfo {
  display: flex;
  align-items: center;
  width: 120px;
  padding-left: 4px;
  &:hover {
    background: #d9304f;
    border-radius: 6px;
    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
    .widgetButtonTitle {
      color: #fff;
    }
  }

  &:active {
    background: #a6253c;
    border-radius: 6px;
    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
    .widgetButtonTitle {
      color: #fff;
    }
  }
}

.widgetButtonTitle {
  font-size: 12px;
  line-height: 100%;
  color: #747376;
}

.blockDisabled {
  cursor: auto;
  background: inherit;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  img {
    filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
  }

  &:hover {
    cursor: auto;
    background: inherit;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
    .widgetButtonTitle {
      color: #747376;
    }
    .widgetButton {
      background: inherit;
      cursor: auto;
    }
  }
  &:active {
    cursor: auto;
    background: inherit;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    img {
      filter: invert(100%) sepia(0%) saturate(1500%) brightness(500%) contrast(104%);
    }
    .widgetButtonTitle {
      color: #747376;
    }
    .widgetButton {
      background: inherit;
      cursor: auto;
    }
  }
}

.widgetButtonPinned {
  background: inherit;
  width: 16px;
  height: 16px;
  svg {
    width: 16px;
    height: 16px;
    &:hover {
      path {
        fill: $PrimaryHover;
      }
    }
    &:active {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}
.widgetHidden {
    display: none;
  }