@import '../../assets/styles/color.variables.scss';
.widgetButton{
    display: block;
    width: 48px;
    height: 22px;
    margin:0 auto;
    background: #F5F5F5;
    margin: 5px 0;
    border-radius: 4px;
    &:hover{
        background: #eb9dab;
    }
}
.widgetButtonImg{
display: block;
width: 24px;
height: 14px;
margin: 0 auto;
}
.widgetHidden{
    display: none;
}