@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/color.variables';
@import '../../../../assets/styles/null';
@import '../../../../assets/styles/animate';

.wrapper {
  width: 210px;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
}

.inputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // padding: 2px 6px;
}
.topBlock {
  display: flex;
}
.inputRegistries {
  background: transparent;
  font-size: 12px;
  // line-height: 149%;
  line-height: 0;
  font-family: Segoe UI, sans-serif;
}
.description {
  color: #fff;
  line-height: 0;
  font-family: Segoe UI, sans-serif;
}
.author {
  color: #49f4ff;
  text-decoration: underline;
  font-size: 10px;
  line-height: 0;
  // line-height: 100%;
  font-family: Segoe UI, sans-serif;
}
.descriptionOpasity {
  color: #fff;
  opacity: 0.6;
  line-height: 0;
  font-size: 12px;
  font-family: Segoe UI, sans-serif;
}
.authorAddress {
  color: #db504a;
  font-family: Segoe UI;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
}
//
.openList {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  animation-name: rotate-is-close;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  svg {
    fill: none !important;

    path {
      fill: none !important;
      stroke: #919191;
    }

    &:hover {
      fill: none !important;

      path {
        fill: none !important;
        stroke: $content-black;
      }
    }

    &:active {
      fill: none !important;

      path {
        fill: none !important;
      }
    }
  }
}

.isOpen {
  animation-name: rotate-is-open;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  // svg {
  //   transform: translateX(-13px);
  // }
}

.registriesList {
  position: absolute;
  z-index: 3;
  left: -11px;
  background: linear-gradient(180deg, #4285f4 0%, #234085 123.08%);
  top: 20px;
  display: flex;
  flex-direction: column;

  width: 211px;
  padding: 10px;

  animation-name: list-visible;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  .description {
    color: #fff;
    line-height: 100%;
    font-family: Segoe UI, sans-serif;
  }
  .author {
    color: #49f4ff;
    text-decoration: underline;
    font-size: 10px;
    line-height: 0;
    line-height: 100%;
    font-family: Segoe UI, sans-serif;
  }
  .descriptionOpasity {
    color: #fff;
    opacity: 0.6;
    line-height: 149%;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
  }
  .authorAddress {
    color: #db504a;
    font-family: Segoe UI;
    font-size: 10px;

    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
  }
}

.inputBlock {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6.5px 13px;
  position: relative;
  color: #b7bcc4;
  font-family: Segoe UI, sans-serif;
  font-size: 6px;

  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  &::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 8px;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 1px;
    background: #b7bcc4;
  }
  &::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 8px;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 1px;
    background: #b7bcc4;
  }
}

.itemRegistries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.5px 13px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: #dad9d9;
  }
}

.registrieslink {
  cursor: pointer;
}
:focus::input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

:focus:placeholder {
  color: transparent;
}

:focus:input-placeholder {
  color: transparent;
}
.item {
  flex-direction: column;
  padding: 4px;
  padding-left: 24px;
  align-items: flex-start;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  .inputRegistries {
    background: transparent;
  }
  &::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 35%;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #a0c2f9;
  }
}
.enable {
  border-radius: 4px;
  border: 1px solid #a0c2f9;
  background: #5699ff;
  &::before {
    background: #34d31a;
  }
  .inputRegistries {
    background: #a0c2f9;
  }
}
.labelBlock {
  display: flex;
  height: 13px;
  width: 49px;

  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Segoe UI, sans-serif;
  color: $pure-white;
  background: #db504a;
  border-radius: 10px;
  margin-top: 3px;
  font-size: 8px;
  font-weight: 700;
  // line-height: normal;
}
