@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/color.variables';
@import '../../../../assets/styles/null';
@import '../../../../assets/styles/animate';

.wrapper {
  width: 220px;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  background: #f7f7f7;
  height: 100%;
  display: flex;
  align-items: center;
}

.inputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 6px;
}
.topBlock {
  display: flex;
  flex-direction: column;
}
.inputRegistries {
  background: #f7f7f7;
  font-size: 12px;
  line-height: 149%;
}
.description {
  color: #222;
}
.author {
  color: rgba(34, 34, 34, 0.6);
  font-size: 10px;
  line-height: 100%;
}
.authorAddress {
  color: #db504a;
  font-family: Segoe UI;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
}
//
.openList {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  animation-name: rotate-is-close;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  svg {
    fill: none !important;

    path {
      fill: none !important;
      stroke: #919191;
    }

    &:hover {
      fill: none !important;

      path {
        fill: none !important;
        stroke: $content-black;
      }
    }

    &:active {
      fill: none !important;

      path {
        fill: none !important;
      }
    }
  }
}

.isOpen {
  animation-name: rotate-is-open;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  // svg {
  //   transform: translateX(-13px);
  // }
}

.registriesList {
  position: absolute;
  z-index: 3;
  left: -1px;
  background: #fff;
  top: 37px;
  display: flex;
  flex-direction: column;

  width: 100.5%;
  padding: 6px;
  padding-top: 0;

  animation-name: list-visible;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.inputBlock {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6.5px 13px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6.5px 13px;
  position: relative;
  color: #b7bcc4;
  font-family: Segoe UI, sans-serif;
  font-size: 6px;

  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  &::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 8px;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 1px;
    background: #b7bcc4;
  }
  &::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 8px;
    display: inline-block;
    border-radius: 10px;
    width: 60px;
    height: 1px;
    background: #b7bcc4;
  }
}

.itemRegistries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.5px 13px;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: #dad9d9;
  }
}

.registrieslink {
  cursor: pointer;
}
:focus::input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

:focus:placeholder {
  color: transparent;
}

:focus:input-placeholder {
  color: transparent;
}
.item {
  flex-direction: column;
  padding-left: 24px;
  align-items: flex-start;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  .inputRegistries {
    background: #fff;
  }
  &::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 45%;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #e7ecef;
  }
}
.enable {
  background: #f7f7f7;
  &::before {
    background: #34d31a;
  }
  .inputRegistries {
    background: #f7f7f7;
  }
}
.labelBlock {
  display: flex;
  height: 13px;
  width: 49px;

  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Segoe UI, sans-serif;
  color: $pure-white;
  background: #db504a;
  border-radius: 10px;
  margin-top: 3px;
  font-size: 8px;
  font-weight: 700;
  // line-height: normal;
}
