@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/color.variables';
@import '../../../../assets/styles/null';

.layout {
  position: fixed;
  z-index: -1;
  top: 0;

  //  transition: all ease 0.2s;
  width: 100vw;
  height: 1px;
}

.wrapper {
  position: relative;

  // z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 380px;
  height: 57px;
  margin: 0 auto;
  padding: 10px;

  background: $pure-white;
  border-right: 1px solid #d5dae2;
  border-bottom: 1px solid #d5dae2;
  border-left: 1px solid #d5dae2;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 5px rgb(45 52 60 / 10%), 0 4px 20px rgb(11 87 111 / 15%);
}
