@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/color.variables';
@import '../../../../assets/styles/null';
.layout {
  position: fixed;
  top: 0;
  //  transition: all ease 0.2s;
  width: 100vw;
  height: 1px;
  z-index: -1;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  // z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 220px;
  height: 26px;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;

  background: linear-gradient(180deg, #4285f4 30%, #234085 220.08%);
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #4285f4 20%, #234085 200.08%);
    left: -14px;
    top: -23px;
    width: 40px;
    height: 40px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
  }
  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(-120deg, #4285f4 20%, #234085 200.08%);
    right: -14px;
    top: -23px;
    width: 40px;
    height: 40px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
