@import '../../../../assets/styles/color.variables';
.close {
  cursor: pointer;

  width: 20px;
  height: 20px;
  padding: 0;
border-radius: 50%;
  background-color: $Primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.close:hover {
  background-color: $PrimaryHover;
  svg{
    path{
      fill:#fff!important;
    }
  }
}

.close:active {
  background-color: $PrimaryPressed;
  svg{
    path{
      fill:#fff!important;
    }
  }
}
