@import '../../../../assets/styles/color.variables';

.close {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: $Primary;
  border: none;
  border-radius: 50%;
}

.close:hover {
  background-color: $PrimaryHover;

  svg{
    path{
      fill:#fff!important;
    }
  }
}

.close:active {
  background-color: $PrimaryPressed;

  svg{
    path{
      fill:#fff!important;
    }
  }
}
