@import '../../assets/styles/null';
@import '../../assets/styles/color.variables';

.localhost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin: 2.5px 0;
  padding: 10px;

  background: $pure-white;
  border: 1px solid $stroke-color;
  border-radius: 10px;
}

.hostBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.buttonLocalhost {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

    
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  color: $pure-white;

  background: #5ab5e8;
  border-radius: 10px;
}

.spanLabel {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 10px;
  height: 6px;
  margin-top: 5px;
  margin-left: 7px;

  svg {
    transform: scaleX(1.5);
    fill: none !important;

    path {
      fill: #979696;
    }

    &:hover {
      fill: none !important;

      path {
        fill: $stroke-color;
      }
    }
  }
}

.isShowDescriptionLabel {
  transform: rotate(180deg);
}

.labelLocalhost {
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 75%;
  height: auto;
  min-height: 21px;
  padding: 0 0 0 20px;
  padding-top: 2px;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $content-black;
}

.label {
  overflow: hidden;
  display: block;

  width: auto;
  max-width: 80%;

  text-overflow: ellipsis;
}
