@import '../../assets/styles/null.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';

.localhost {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin: 2.5px 0;
  padding: 10px;

  border-radius: 10px;

  background: $PureWhite;
  border: 1px solid #e3e3e3;
}

.hostBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.buttonLocalhost {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 58px;
  height: 20px;
  padding: 5px;

  cursor: default;

  color: $PureWhite;

  border-radius: 10px;
  background: #5ab5e8;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
}

.spanLabel {
  display: inline-block;

  width: 10px;
  height: 6px;

  margin-top: 5px;
  margin-left: 7px;

  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23979696'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M5 0.5L4.37114e-07 5.5L10 5.5L5 0.5Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  }
}

.isShowDescriptionLabel {
  transform: rotate(180deg);
}

.labelLocalhost {
  display: flex;

  align-items: flex-start;
  justify-content: flex-start;

  width: 75%;
  height: auto;
  min-height: 21px;
  padding: 0 0 0 20px;
  padding-top: 2px;

  cursor: pointer;

  color: $ContentBlack;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.label {
  display: block;
  overflow: hidden;

  width: auto;
  max-width: 80%;

  text-overflow: ellipsis;
}
