@import '../../../assets/styles/null';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/color.variables';
@import '../../../assets/styles/animate';
@import '../../../assets/styles/pages';
@import './adaptive';

// ToDo: looks that the code below is duplicated

.wrapper {
  max-height: calc(100vh - 100px);
  padding-bottom: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.blockModules {
  direction: rtl;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  height: 100%;
  height: calc(100% - 120px);
  padding: 0 0 0 15px;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.blockModules > * {
  direction: ltr;
}

.host {
  padding: 15.5px 0 10px;
}

.createUnderConstraction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.btnCreate {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 228px;
  height: 33px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;
  text-align: center;
  text-transform: uppercase;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.modules {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;

  width: 100%;
  height: 31px;
  margin: 0 7px 0 0;
  padding: 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $content-black;

  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.errorInput {
  border: 1px solid $primary;
}

.buttonInput {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 31px;
  padding: 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }

  &:disabled {
    color: $stroke-color;
    background: $app-bg;
    border: 1px solid $stroke-color;
  }
}

.buttonInputDisabled {
  color: $stroke-color;
  background: $app-bg;
  border: 1px solid $stroke-color;

  &:hover {
    background: $app-bg;
  }

  &:active {
    background: $app-bg;
  }
}

.errorMessage {
  display: flex;

  width: 100%;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #d9304f;

  animation-name: open-error;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.miniLoader {
  display: inline-block;

  width: 100%;
  height: 20px;
  margin: 0 auto;

  background-image: url('../../../assets/svg/loaderSettings.svg');
  background-repeat: no-repeat;
  background-position-x: center;
}

.loadAdd {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 31px;
  padding: 0 10px;

  background-image: url('../../../assets/svg/loadAddLocalhost.svg');
  background-repeat: no-repeat;
  border-radius: 4px;
}
