@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  color: $MainGrey;

  border-radius: 10px;

  background: #ebebeb;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.activeRegistry {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.activeLink {
  display: inline-block;
}

.openList {
  display: block;

  width: 24px;
  height: 24px;

  cursor: pointer;
  animation-name: rotateIsClose;

  animation-duration: 0.2s;

  animation-timing-function: ease;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46495L9.00001 9.94995L17.485 1.46495L16.071 0.0499516L9.00001 7.12195L1.92901 0.0499516L0.515015 1.46495Z' fill='%23919191'/%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: center;
  animation-fill-mode: forwards;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  }
}

.isOpen {
  animation-name: rotateIsOpen;

  animation-duration: 0.2s;

  animation-timing-function: ease;
  animation-fill-mode: forwards;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' viewBox='0 0 18 10' fill='none'%3E%3Cpath d='M0.515015 1.46501L9.00001 9.95001L17.485 1.46501L16.071 0.0500126L9.00001 7.12201L1.92901 0.0500126L0.515015 1.46501Z' fill='%23588CA3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotateIsOpen {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateIsClose {
  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.delimiterSpan {
  display: flex;
  justify-content: flex-start;

  width: 97%;
}

.registriesList {
  position: absolute;
  z-index: 3;
  top: -1px;
  left: -1px;

  display: flex;
  flex-direction: column;

  width: 100.5%;
  padding-top: 1px;

  animation-name: listVisible;

  animation-duration: 0.2s;

  animation-timing-function: ease;

  border-radius: 10px;

  background: #ebebeb;
  animation-fill-mode: forwards;

  div:last-child {
    border-radius: 0 0 10px 10px;
  }
}

@keyframes listVisible {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.inputBlock {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 6.5px 13px;
}

.inputRegistries {
  display: inline-block;

  width: 97.5%;
  height: 21px;

  color: $MainGrey;
  background: inherit;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.errorInput {
  border: 1px solid $Primary;
  background: #fef2f4;
}

.errorMessage {
  margin: 0;

  color: #d9304f;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;
}

.inputBlockandError {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.itemRegistries {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6.5px 13px;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: #dad9d9;
  }
}

.registrieslink {
  cursor: pointer;
}

.deleteUsersContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
}

.deleteRegistryes {
  display: inline-block;

  width: 20px;
  height: 20px;

  cursor: pointer;
  transition: 0.5s all;

  border-radius: 100px;
  background: #f5f5f5;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41L12.59 0Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

  &:hover {
    width: 25px;
    height: 25px;

    transition: 0.5s all;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41L12.59 0Z' fill='%23F26680'/%3E%3C/svg%3E");
  }

  &:active {
    transition: 0.5s all;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M8.59 0L5 3.59L1.41 0L0 1.41L3.59 5L0 8.59L1.41 10L5 6.41L8.59 10L10 8.59L6.41 5L10 1.41L8.59 0Z' fill='%23A6253C'/%3E%3C/svg%3E");
  }
}

:focus::input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

:focus:placeholder {
  color: transparent;
}

:focus:input-placeholder {
  color: transparent;
}

.activeLink {
  background: #dad9d9;
}
