@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import './adaptive';

.checkboxBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85px;
}

.fakeInputCheckbox {
  cursor: pointer;

  position: relative;

  display: block;

  width: 16px;
  height: 16px;

  background: $pure-white;
  border: 1px solid $main-grey;
  border-radius: 4px;
  &:hover {
    svg {
      position: absolute;
      transform: translate(3px, 4px);
      width: 8px;
      height: 6px;
    }
  }
}

.checkboxNotification {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 16px;

  font-family: Roboto, sans-serif;
}

.activeNotification {
  width: 16px;

  .fakeInputCheckbox {
    background: $primary;
    border: none;

    &::before {
      content: '';

      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 6px;
    }
  }
}

.inner {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.supportBlockCheckbox {
  position: relative;
}

.supportLabel {
  .fakeInputCheckbox {
    background: $main-grey;
  }
}

div.supportLabel::before {
  cursor: default;
  content: attr(data-title);

  position: absolute;
  z-index: 9998;
  top: -50px;
  left: 0;

  display: none;

  width: 200px;
  height: auto;
  min-height: 50px;
  margin: -15px 0 0 10px;
  padding: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: $main-black;
  text-align: left;

  opacity: 0.9;
  background: $pure-white;
  border: 1px solid $stroke-color;
  border-radius: 10px 10px 10px 0;
  box-shadow: 5px 5px 0.5em -0.1em rgb(0 0 6 / 50%);
}

div.supportLabel:hover::before,
div.supportLabel:focus::before {
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
}

.inputCheckbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.active {
  cursor: pointer;
  background: $primary;
  border: none;

  svg {
    position: absolute;
    transform: translate(4px, 5px);
    width: 8px;
    height: 6px;
  }

  &:hover {
    svg {
      fill: white !important;
      position: absolute;
    transform: translate(4px, 5px);
    width: 8px;
    height: 6px;
      path {
        fill: white !important;
      }
    }
  }
}

.inputCheckboxTitle {
  display: inline-block;
  display: flex;
  align-items: center;

  padding: 0 0 0 8px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: $main-black;
}
