@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";

.checkboxBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 85px;
}

.fakeInputCheckbox {
  position: relative;

  display: block;

  width: 16px;
  height: 16px;

  cursor: pointer;

  border: 1px solid $MainGrey;
  border-radius: 4px;
  background: $PureWhite;
}

.checkboxNotification {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 16px;

  font-family: Roboto, sans-serif;
}

.activeNotification {
  width: 16px;

  .fakeInputCheckbox {
    border: none;
    background: $Primary;

    &::before {
      position: absolute;

      left: 50%;

      width: 8px;
      height: 6px;

      content: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7 0.3C7.3 -0.1 6.7 -0.1 6.3 0.3L3 3.6L1.7 2.3C1.3 1.9 0.7 1.9 0.3 2.3C-0.1 2.7 -0.1 3.3 0.3 3.7L2.3 5.7C2.5 5.9 2.7 6 3 6C3.3 6 3.5 5.9 3.7 5.7L7.7 1.7C8.1 1.3 8.1 0.7 7.7 0.3Z' fill='white'/%3E%3C/svg%3E");

      transform: translate(-50%, -50%);
    }
  }
}

.inner {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.supportBlockCheckbox {
  position: relative;
}

.supportLabel {
  .fakeInputCheckbox {
    background: $MainGrey;
  }
}

div.supportLabel::before {
  content: attr(data-title);
}

div.supportLabel::before {
  position: absolute;
  z-index: 9998;
  top: -50px;
  left: 0;

  display: none;

  width: 200px;
  height: auto;
  min-height: 50px;
  margin: -15px 0 0 10px;
  padding: 5px;

  content: attr(data-title);
  cursor: default;
  text-align: left;

  opacity: 0.9;

  color: $MainBlack;
  border: 1px solid $StrokeColor;
  border-radius: 10px 10px 10px 0;
  background: $PureWhite;
  box-shadow: 5px 5px 0.5em -0.1em rgb(0 0 6 / 50%);

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
}

div.supportLabel:hover::before,
div.supportLabel:focus::before {
  display: flex;

  align-items: center;
}

.wrapper {
  position: relative;
}

.inputCheckbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.fakeInputCheckbox {
  width: 16px;
}

.active {
  cursor: pointer;

  border: none;
  background: $Primary;

  &::before {
    position: absolute;

    left: 50%;

    width: 8px;
    height: 6px;

    content: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7 0.3C7.3 -0.1 6.7 -0.1 6.3 0.3L3 3.6L1.7 2.3C1.3 1.9 0.7 1.9 0.3 2.3C-0.1 2.7 -0.1 3.3 0.3 3.7L2.3 5.7C2.5 5.9 2.7 6 3 6C3.3 6 3.5 5.9 3.7 5.7L7.7 1.7C8.1 1.3 8.1 0.7 7.7 0.3Z' fill='white'/%3E%3C/svg%3E");

    transform: translate(-50%, -50%);
  }
}

.inputCheckboxTitle {
  display: inline-block;

  display: flex;
  align-items: center;

  padding: 0 0 0 8px;

  color: $MainBlack;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

@media (min-width: 320px) and (max-width: 640px) {
  .inputCheckboxTitle {
    margin-right: 8px;
    padding: 0 0 0 4px;

    font-size: 10px;
  }
}
