@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import './modalWindowStyles';
@import './adaptive';

.dappletsBlock {
  position: relative;

  display: flex;

  width: 100%;
  height: auto;
  margin: 11.5px 0 0;
  padding: 12px 16px 7px;

  background: $web-bg;
  border-radius: 10px;
}

.dappletsInfo {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 0 0 12px;
}

.dappletsTags {
  display: flex;
  width: 65%;
}

.dappletsVersion {
  display: inline-block;

  margin: 0 3px 0 0;
  padding: 3px 3px 2px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $web-bg;

  background: #41bf55;
  border-radius: 4px;
}

.dappletsVersionUC {
  display: inline-block;

  margin: 0 3px 0 0;
  padding: 3px 3px 2px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $web-bg;

  background: #f5cf6c;
  border-radius: 4px;
}

.dappletsBranch {
  display: inline-block;

  padding: 3px 3px 2px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $web-bg;

  background: #bf7d41;
  border-radius: 4px;
}

.dappletsNotDeploy {
  display: inline-block;

  padding: 3px 3px 2px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $web-bg;

  background: $primary;
  border-radius: 4px;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dappletsTitle {
  display: inline-block;

  width: 215px;
  padding: 5px 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: $main-black;
}

.dappletsSettingsIsUnderConstructionBlock {
  position: relative;
  top: -15px;
}

.dappletsSettings {
  position: absolute;
  top: 15px;
  right: 113px;

  display: block;

  width: 14px;
  height: 14px;
}

.dappletsSettingsIsUnderConstruction {
  display: block;
  width: 14px;
  height: 14px;
}

.dappletsSettingsIsTocenomics {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: -2px;

  display: inline-block;

  width: 8px;
  height: 8px;

  background: $primary;
  border-radius: 50%;
}

.dappletsReupload {
  position: absolute;
  top: 12px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 4px 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 10px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.dappletDeploy {
  cursor: auto;
  color: $content-black;
  background: $stroke-color;

  &:hover {
    background: $stroke-color;
  }

  &:active {
    background: $stroke-color;
  }
}

.dappletsLabel {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0;

  div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.dappletsLabelSpan {
  display: block;

  width: 40%;
  padding: 0 0 5px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $secondary;
  text-align: start;
}

.dappletsLabelSpanInfo {
  width: 100%;
  margin: 0 0 0 -70px;
}

[class*='dappletsIsLoadingDeploy'] {
  cursor: default;

  position: absolute;
  top: 12px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 4px 10px;

  background-image: url("../../assets/svg//loaderDeploy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dappletsSettingsRegistry {
  position: relative;
  top: -15px;
  right: 0;
}

.noneVisible {
  display: none;
}

.adminsListButton {
  height: fit-content;
  margin: -6px 12px 0 0;
  padding: 2px 5px;

  color: $secondary;

  background: inherit;

  transition: all 0.2s ease-in-out;
}

.moreAdmins {
  cursor: pointer;

  display: flex;

  width: auto;
  margin-bottom: 4px;
  padding: 0 5px;

  transition: all 0.2s ease-in-out;
}

.adminsListButton:hover,
.moreAdmins:hover {
  color: $secondary-hover;
}

.adminsListButton:active,
.moreAdmins:active {
  color: $secondary-pressed;
}
