@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.dappletsBlock {
  position: relative;

  display: flex;

  width: 100%;
  height: auto;
  margin: 11.5px 0 0;

  padding: 12px 16px 7px;

  border-radius: 10px;

  background: $WebBG;
}

.dappletsImg {
  width: 35px;
  height: 35px;

  border-radius: 5px;

  background: inherit;

  // margin: 0px 0px 0px 10px;
  img {
    width: 100%;
    height: 100%;

    border-radius: 5px;
  }
}

.dappletsInfo {
  display: flex;
  flex-direction: column;

  width: 90%;
  padding: 0 0 0 12px;
}

.dappletsTegs {
  display: flex;

  width: 65%;

  // justify-content: space-between;
}

.dappletsVersion {
  // display: flex;

  // justify-content: center;
  // align-items: center;
  display: inline-block;

  margin: 0 3px 0 0;
  padding: 3px 3px 2px;

  color: $WebBG;
  border-radius: 4px;

  // width: 39px;
  // height: 14px;

  background: #41bf55;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.dappletsVersionUC {
  display: inline-block;

  margin: 0 3px 0 0;
  padding: 3px 3px 2px;

  color: $WebBG;
  border-radius: 4px;

  // width: 39px;
  // height: 14px;

  background: #f5cf6c;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.dappletsBranch {
  display: inline-block;

  padding: 3px 3px 2px;

  color: $WebBG;
  border-radius: 4px;

  background: #bf7d41;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.dappletsNotDeploy {
  display: inline-block;

  padding: 3px 3px 2px;

  color: $WebBG;
  border-radius: 4px;
  background: $Primary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  // flex-direction: column;
}

.dappletsTitle {
  display: inline-block;

  width: 215px;
  padding: 5px 0;

  color: $MainBlack;

  // height: 17px;
  // text-align: center;
  font-family: Roboto;
  font-size: 14px;

  font-weight: 700;
  line-height: 100%;
}

.dappletsSettings {
  position: absolute;
  top: 15px;
  right: 113px;

  display: block;

  // margin: 12px 0px 0px 0px;
  width: 14px;
  height: 14px;
  padding: 0 5px 0 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M8.78917 15.0837H6.21083C5.878 15.0837 5.59002 14.852 5.51879 14.5269L5.2305 13.1924C4.84591 13.0239 4.48124 12.8132 4.14321 12.5641L2.842 12.9785C2.52467 13.0797 2.1797 12.9461 2.01325 12.6576L0.721251 10.4257C0.556625 10.137 0.613342 9.77292 0.857959 9.54803L1.86733 8.6272C1.82143 8.21007 1.82143 7.78916 1.86733 7.37203L0.857959 6.45333C0.612982 6.22834 0.556243 5.86379 0.721251 5.57499L2.01042 3.34162C2.17687 3.05311 2.52183 2.91955 2.83917 3.02074L4.14038 3.43512C4.31325 3.30702 4.49322 3.18878 4.67942 3.08095C4.85816 2.98015 5.04211 2.88888 5.2305 2.80753L5.5195 1.47445C5.59038 1.1493 5.87805 0.917342 6.21083 0.916992H8.78917C9.12195 0.917342 9.40962 1.1493 9.4805 1.47445L9.77233 2.80824C9.97122 2.89573 10.1649 2.99459 10.3525 3.10433C10.5276 3.20546 10.6969 3.31637 10.8596 3.43653L12.1615 3.02216C12.4787 2.92134 12.8232 3.05486 12.9896 3.34303L14.2787 5.57641C14.4434 5.86504 14.3867 6.22915 14.142 6.45403L13.1327 7.37487C13.1786 7.792 13.1786 8.2129 13.1327 8.63003L14.142 9.55087C14.3867 9.77575 14.4434 10.1399 14.2787 10.4285L12.9896 12.6619C12.8232 12.95 12.4787 13.0836 12.1615 12.9827L10.8596 12.5684C10.6949 12.6897 10.5237 12.802 10.3468 12.9048C10.1611 13.0124 9.96954 13.1096 9.77304 13.196L9.4805 14.5269C9.40933 14.8518 9.12174 15.0834 8.78917 15.0837ZM7.49717 5.16699C5.93236 5.16699 4.66383 6.43552 4.66383 8.00033C4.66383 9.56513 5.93236 10.8337 7.49717 10.8337C9.06197 10.8337 10.3305 9.56513 10.3305 8.00033C10.3305 6.43552 9.06197 5.16699 7.49717 5.16699Z' fill='%23747376'/%3E%3C/svg%3E");
}

.dappletsReupload {
  position: absolute;
  top: 12px;
  right: 0;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 90px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 4px 10px;

  color: $PureWhite;
  border-radius: 10px;

  background: $Primary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.dapDeploy {
  cursor: auto;

  color: $ContentBlack;
  background: $StrokeColor;

  &:hover {
    background: $StrokeColor;
  }

  &:active {
    background: $StrokeColor;
  }
}

.dappletsLabel {
  display: flex;
  flex-direction: column;

  padding: 5px 0 0;

  div {
    display: flex;
    justify-content: flex-start;

    width: 100%;
  }
}

// .dappletsLabelSpan {
//   display: block;

//   width: 40%;
//   padding: 0 0 5px;

//   color: $MainGrey;

//   font-family: Roboto;
//   font-size: 10px;

//   font-weight: 500;
//   line-height: 100%;
// }

/* stylelint-disable-next-line no-duplicate-selectors */
.dappletsLabelSpan {
  display: block;

  width: 40%;
  padding: 0 0 5px;

  text-align: start;

  color: $Secondary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.dappletsLabelSpanInfo {
  width: 100%;
  margin: 0 0 0 -70px;
}

.noLogo {
  display: inline-block;

  box-sizing: border-box;
  width: 42px;
  height: 42px;

  /* MainColors/WebBG */
  border: 1px solid $WebBG;
  border-radius: 20px;

  background: #c4c4c4;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.dappletsSettingsIsUnderConstructionBlock {
  position: relative;
  top: -15px;
}

.dappletsSettingsIsUnderConstruction {
  display: block;

  // margin: 12px 0px 0px 0px;
  width: 14px;
  height: 14px;
  padding: 0 5px 0 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M8.78917 15.0837H6.21083C5.878 15.0837 5.59002 14.852 5.51879 14.5269L5.2305 13.1924C4.84591 13.0239 4.48124 12.8132 4.14321 12.5641L2.842 12.9785C2.52467 13.0797 2.1797 12.9461 2.01325 12.6576L0.721251 10.4257C0.556625 10.137 0.613342 9.77292 0.857959 9.54803L1.86733 8.6272C1.82143 8.21007 1.82143 7.78916 1.86733 7.37203L0.857959 6.45333C0.612982 6.22834 0.556243 5.86379 0.721251 5.57499L2.01042 3.34162C2.17687 3.05311 2.52183 2.91955 2.83917 3.02074L4.14038 3.43512C4.31325 3.30702 4.49322 3.18878 4.67942 3.08095C4.85816 2.98015 5.04211 2.88888 5.2305 2.80753L5.5195 1.47445C5.59038 1.1493 5.87805 0.917342 6.21083 0.916992H8.78917C9.12195 0.917342 9.40962 1.1493 9.4805 1.47445L9.77233 2.80824C9.97122 2.89573 10.1649 2.99459 10.3525 3.10433C10.5276 3.20546 10.6969 3.31637 10.8596 3.43653L12.1615 3.02216C12.4787 2.92134 12.8232 3.05486 12.9896 3.34303L14.2787 5.57641C14.4434 5.86504 14.3867 6.22915 14.142 6.45403L13.1327 7.37487C13.1786 7.792 13.1786 8.2129 13.1327 8.63003L14.142 9.55087C14.3867 9.77575 14.4434 10.1399 14.2787 10.4285L12.9896 12.6619C12.8232 12.95 12.4787 13.0836 12.1615 12.9827L10.8596 12.5684C10.6949 12.6897 10.5237 12.802 10.3468 12.9048C10.1611 13.0124 9.96954 13.1096 9.77304 13.196L9.4805 14.5269C9.40933 14.8518 9.12174 15.0834 8.78917 15.0837ZM7.49717 5.16699C5.93236 5.16699 4.66383 6.43552 4.66383 8.00033C4.66383 9.56513 5.93236 10.8337 7.49717 10.8337C9.06197 10.8337 10.3305 9.56513 10.3305 8.00033C10.3305 6.43552 9.06197 5.16699 7.49717 5.16699Z' fill='%23747376'/%3E%3C/svg%3E");
}

.dappletsSettingsIsTocenomics {
  position: absolute;
  top: 0;
  right: -2px;

  display: inline-block;

  width: 8px;
  height: 8px;

  cursor: pointer;

  border-radius: 50%;

  background: $Primary;
}

.dappletsReuploadisUnderConstructionPublish {
  // position: absolute;
  // top: 12px;
  // right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 20px;
  margin: 0 0 0 5px;
  padding: 4px 10px;

  cursor: auto;

  color: $ContentBlack;
  border-radius: 10px;

  background: $StrokeColor;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;
}

.dappletsReuploadisUnderConstructionDeploy {
  // position: absolute;
  // top: 12px;
  // right: 0;
  display: flex;

  align-items: center;
  justify-content: center;

  // margin: 0px 16px 0px 0px;
  width: 90px;
  height: 20px;
  margin: 0 0 0 5px;
  padding: 4px 10px;

  cursor: pointer;

  color: $PureWhite;
  border-radius: 10px;

  background: $Primary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 500;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.dappletsIsLoadingDeploy {
  position: absolute;
  top: 12px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 4px 10px;

  cursor: default;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eNePsFAH2aW1' viewBox='0 0 58 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eNePsFAH2aW4_to %7Banimation: eNePsFAH2aW4_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 50%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW4_ts %7Banimation: eNePsFAH2aW4_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 10%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 40%25 %7Btransform: scale(1,1)%7D 50%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW4 %7Banimation: eNePsFAH2aW4_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW4_c_o %7B 0%25 %7Bopacity: 0%7D 10%25 %7Bopacity: 1%7D 40%25 %7Bopacity: 1%7D 50%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW5_to %7Banimation: eNePsFAH2aW5_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 15%25 %7Btransform: translate(14.01158px,9.29885px)%7D 65%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW5_ts %7Banimation: eNePsFAH2aW5_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 15%25 %7Btransform: scale(0.304998,0.304998)%7D 25%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 55%25 %7Btransform: scale(1,1)%7D 65%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW5 %7Banimation: eNePsFAH2aW5_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW5_c_o %7B 0%25 %7Bopacity: 0%7D 15%25 %7Bopacity: 0%7D 25%25 %7Bopacity: 1%7D 55%25 %7Bopacity: 1%7D 65%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D %23eNePsFAH2aW6_to %7Banimation: eNePsFAH2aW6_to__to 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_to__to %7B 0%25 %7Btransform: translate(14.01158px,9.29885px)%7D 30%25 %7Btransform: translate(14.01158px,9.29885px)%7D 80%25 %7Btransform: translate(46.01158px,9.29885px)%7D 100%25 %7Btransform: translate(46.01158px,9.29885px)%7D%7D %23eNePsFAH2aW6_ts %7Banimation: eNePsFAH2aW6_ts__ts 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_ts__ts %7B 0%25 %7Btransform: scale(0.304998,0.304998)%7D 30%25 %7Btransform: scale(0.304998,0.304998)%7D 40%25 %7Btransform: scale(1,1);animation-timing-function: cubic-bezier(0.42,0,1,1)%7D 70%25 %7Btransform: scale(1,1)%7D 80%25 %7Btransform: scale(0.304998,0.304998)%7D 100%25 %7Btransform: scale(0.304998,0.304998)%7D%7D %23eNePsFAH2aW6 %7Banimation: eNePsFAH2aW6_c_o 2000ms linear infinite normal forwards%7D@keyframes eNePsFAH2aW6_c_o %7B 0%25 %7Bopacity: 0%7D 30%25 %7Bopacity: 0%7D 40%25 %7Bopacity: 1%7D 70%25 %7Bopacity: 1%7D 80%25 %7Bopacity: 0%7D 100%25 %7Bopacity: 0%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,10C0,4.47715,4.47715,0,10,0h38c5.5228,0,10,4.47715,10,10v0c0,5.5228-4.4772,10-10,10h-38C4.47715,20,0,15.5228,0,10v0Z' fill='%23D9304F'/%3E%3Cg id='eNePsFAH2aW4_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW4_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW4' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW5_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW5_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW5' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3Cg id='eNePsFAH2aW6_to' transform='translate(14.01158,9.29885)'%3E%3Cg id='eNePsFAH2aW6_ts' transform='scale(0.304998,0.304998)'%3E%3Cellipse id='eNePsFAH2aW6' rx='3.68348' ry='3.79885' transform='translate(0,0)' opacity='0' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.modalDefaultContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 263px;

  text-align: center;

  color: $MainGrey;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.modalDefaultContentButton {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 157px;
  height: 32px;
  margin-top: 10px;
  padding: 0 10px;

  color: $PureWhite;
  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 14px;

  font-weight: 400;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.dappletsSettingsRegistry {
  position: relative;
  top: -15px;
  right: 0;
}

.noneVisible {
  display: none;
}

.isNotAccountModalOwner {
  p {
    width: 100%;

    text-align: center;
  }
}
