@import '../../assets/styles/null.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';

.dappletsBlock {
  margin: 11.5px 0px 0px 0px;
  display: flex;

  padding: 12px 16px 7px 6px;

  width: 100%;
  height: auto;

  background: $WebBG;
  border-radius: 10px;
}

.dappletsImg {
  width: 35px;
  height: 35px;

  background: inherit;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.dappletsInfo {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 12px;
  width: 90%;
}
.dappletsTegs {
  display: flex;
  width: 100%;
}

.dappletsVersion {
  // display: flex;

  // justify-content: center;
  // align-items: center;
  display: inline-block;
  padding: 3px 3px 2px;
  margin: 0px 3px 0px 0px;

  // width: 39px;
  // height: 14px;

  background: #41bf55;
  border-radius: 4px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $WebBG;
}
.dappletsBranch {
  display: inline-block;
  padding: 3px 3px 2px;

  background: #bf7d41;
  border-radius: 4px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $WebBG;
}

.dappletsNotDeploy {
  display: inline-block;
  padding: 3px 3px 2px;
  background: $Primary;
  border-radius: 4px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $WebBG;
}

.blockInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  // flex-direction: column;
}
.dappletsTitle {
  display: inline-block;
  width: 200px;
  font-family: 'Roboto';

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;

  color: $MainBlack;
}
.dappletsSettings {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M8.78917 15.0837H6.21083C5.878 15.0837 5.59002 14.852 5.51879 14.5269L5.2305 13.1924C4.84591 13.0239 4.48124 12.8132 4.14321 12.5641L2.842 12.9785C2.52467 13.0797 2.1797 12.9461 2.01325 12.6576L0.721251 10.4257C0.556625 10.137 0.613342 9.77292 0.857959 9.54803L1.86733 8.6272C1.82143 8.21007 1.82143 7.78916 1.86733 7.37203L0.857959 6.45333C0.612982 6.22834 0.556243 5.86379 0.721251 5.57499L2.01042 3.34162C2.17687 3.05311 2.52183 2.91955 2.83917 3.02074L4.14038 3.43512C4.31325 3.30702 4.49322 3.18878 4.67942 3.08095C4.85816 2.98015 5.04211 2.88888 5.2305 2.80753L5.5195 1.47445C5.59038 1.1493 5.87805 0.917342 6.21083 0.916992H8.78917C9.12195 0.917342 9.40962 1.1493 9.4805 1.47445L9.77233 2.80824C9.97122 2.89573 10.1649 2.99459 10.3525 3.10433C10.5276 3.20546 10.6969 3.31637 10.8596 3.43653L12.1615 3.02216C12.4787 2.92134 12.8232 3.05486 12.9896 3.34303L14.2787 5.57641C14.4434 5.86504 14.3867 6.22915 14.142 6.45403L13.1327 7.37487C13.1786 7.792 13.1786 8.2129 13.1327 8.63003L14.142 9.55087C14.3867 9.77575 14.4434 10.1399 14.2787 10.4285L12.9896 12.6619C12.8232 12.95 12.4787 13.0836 12.1615 12.9827L10.8596 12.5684C10.6949 12.6897 10.5237 12.802 10.3468 12.9048C10.1611 13.0124 9.96954 13.1096 9.77304 13.196L9.4805 14.5269C9.40933 14.8518 9.12174 15.0834 8.78917 15.0837ZM7.49717 5.16699C5.93236 5.16699 4.66383 6.43552 4.66383 8.00033C4.66383 9.56513 5.93236 10.8337 7.49717 10.8337C9.06197 10.8337 10.3305 9.56513 10.3305 8.00033C10.3305 6.43552 9.06197 5.16699 7.49717 5.16699Z' fill='%23747376'/%3E%3C/svg%3E");
}
.dappletsReupload {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 4px 10px;

  width: 90px;
  height: 20px;

  background: $Primary;
  border-radius: 10px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $PureWhite;
  &:hover {
    background: $PrimaryHover;
  }
  &:active {
    background: $PrimaryPressed;
  }
}

.dappletsLabel {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: flex-start;
    width: 178px;
  }
}

.dappletsLabelSpan {
  padding: 0px 0px 5px 0px;
  display: block;
  width: 66px;
  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $MainGrey;
}

.dappletsLabelSpan {
  text-align: start;
  font-family: 'Roboto';

  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $Secondary;
}
