@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.modalDefaultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: 0 auto;

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $main-grey;
  text-align: center;
}

.modalDefaultContentButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 157px;
  height: 32px;
  margin-top: 10px;
  padding: 0 10px;

    
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.isNotAccountModalOwner {
  p {
    width: 100%;
    text-align: center;
  }
}

.modalDefaultContentText {
  overflow: hidden;
  display: inline-block;

  max-width: 100%;
  max-height: 60vh;

  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.modalDefaultWrapper {
  justify-content: center;
  height: 80vh;
}

.modalDefaultTitleAttension {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
}

.modalLabelAccount {
  color: #eb5757;
}
