@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.modalDefaultContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 263px;

  text-align: center;

  color: $MainGrey;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.modalDefaultContentButton {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 157px;
  height: 32px;
  margin-top: 10px;
  padding: 0 10px;

  color: $PureWhite;
  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 14px;

  font-weight: 400;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.isNotAccountModalOwner {
  p {
    width: 100%;

    text-align: center;
  }
}

.modalDefaultContentText {
  display: inline-block;
  overflow: hidden;

  max-width: 100%;
  max-height: 60vh;

  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.modalDefaultWrapper {
  justify-content: center;

  height: 80vh;
}

.modalDefaultTitleAttension {
  display: inline-block;

  padding: 20px;

  font-size: 24px;
  font-weight: 700;
}
