$primary-color: darkblue;
$background-color: #BADA55;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    max-height: 600px;
}

.popupContainer {
    padding: 10px;
}

.internalTab {
    min-height: 80px;
    max-height: 524px;
    overflow: auto;
}