$primary-color: darkblue;
$background-color: #bada55;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0;

  // max-height: 600px;
  // min-width: 428px; // 428px is width of the overlay
  //width: 500px;
}

.popupContainer {
  padding: 10px;
}

.internalTab {
  overflow: auto;

  min-height: 80px;
  max-height: 520px;
}

.internalTabSettings {
  overflow: auto;

  min-height: 250px;
  max-height: 520px;
}

.internalTabDapplets {
  overflow: auto;

  min-height: 80px;
  max-height: 470px;
}

.popupContainer.popup {
  width: 493px;
}

.internalTabColumn {
  display: flex;
  flex-direction: column;

  height: 520px;
}
