:host {
  z-index: 50100;
}

.avatar-badge {
  display: block;
}

.wrapper {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.active {
  cursor: pointer;
}

.profile-badge {
  width: 25%;
  min-width: 13px;
  height: 25%;
  min-height: 13px;
}

.not-basic {
  background-color: white;
  border-radius: 99em;
}

.not-basic.post-badge {
  border: 1px solid white;
}

.not-basic.profile-badge {
  border: 2px solid white;
}

.not-basic.dark {
  background-color: black;
}

.not-basic.dark.post-badge {
  border: 1px solid black;
}

.not-basic.dark.profile-badge {
  border: 2px solid black;
}