/* stylelint-disable order/properties-order */
@import "../../../assets/styles/null.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/color.variables.scss";
@import "../../../assets/styles/animate.scss";

.wrapper {
  display: inline-block;

  font-family: Roboto, sans-serif;
  margin: 0 4px;
  &.mini {

    width: 39px;
    height: 39px;
  }
}

.avatar {

  width: 35px;
  height: 35px;
  min-width: 35px;
  border: 1px solid $Primary;
  z-index: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    svg {
      path {
        fill: $PrimaryHover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}

.header {
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;

  padding: 2px;
  padding-right: 14px;

  cursor: pointer;

  border-radius: 100px;
  background: $PureWhite;

  &.mini {
    padding: 2px;
    display: flex;
    width: 39px;
    height: 39px;
    flex-wrap: nowrap;
  }
}

.hash {
  margin-right: 5px;
  margin-left: 6px;

  font-size: 10px;
  line-height: 100%;
}

.wrapperNames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ensHash {
  display: inline-block;
  padding-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;

  align-items: center;

  color: $MainGrey;
}

.walletsIcon {
  width: 15px;
  height: 14px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .header {
    position: inherit;

    img {
      z-index: auto;
    }
  }
}
