/* stylelint-disable order/properties-order */
@import "../../../assets/styles/null.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/color.variables.scss";

.wrapper {
  display: inline-block;

  font-family: Roboto, sans-serif;

  &.mini {

    width: 39px;
    height: 39px;
  }
}

.avatar {

  width: 35px;
  height: 35px;

  border: 1px solid $Primary;
  z-index: 4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    svg {
      path {
        fill: $PrimaryHover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}

.header {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  padding: 2px;
  padding-right: 14px;

  cursor: pointer;

  border-radius: 100px;
  background: $PureWhite;

  &.mini {
    padding: 2px;
    display: inline-block;
    width: 39px;
    height: 39px;
  }
}

.hash {
  margin-right: 5px;
  margin-left: 6px;

  // text-transform: uppercase;

  font-size: 10px;
  line-height: 100%;
}

.wrapperNames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ensHash {
  display: inline-block;
  padding-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;

  align-items: center;

  color: $MainGrey;
}

.fakeModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  z-index: 3;
  display: flex;
  background: rgb(0 0 0 / 30%);

  animation-name: appear;
  animation-duration: 300ms;
  padding: 19px 0 0 16px;
}

.headerWrapperIsOpen {
  position: relative;
  z-index: 10;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: min-content;
  background: #fff;
  border-radius: 20px;
  padding: 9px 0;
  font-size: 14px;
  line-height: 16px;

  animation-name: slideRight;

  animation-duration: 0.5s;

  animation-timing-function: ease;
}

.isNotVisible {

  animation-name: slideLeft;

  animation-duration: 0.3s;

  animation-timing-function: ease;
}

@keyframes slideRight {
  0% {
    transform: translateX(150%);
  }

  65% {
    transform: translateX(-8%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}

.walletBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 0 11px;

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background: $StrokeColor;
  }
}

.addWallet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
  cursor: pointer;
}

.AddUser {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $PureWhite;
  border: 1px solid $WebBG;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M2 9.5H1C1 7.84315 2.34315 6.5 4 6.5C5.65685 6.5 7 7.84315 7 9.5H6C6 8.39543 5.10457 7.5 4 7.5C2.89543 7.5 2 8.39543 2 9.5ZM9.5 8H8.5V6.5H7V5.5H8.5V4H9.5V5.5H11V6.5H9.5V8ZM4 6C2.89543 6 2 5.10457 2 4C2 2.89543 2.89543 2 4 2C5.10457 2 6 2.89543 6 4C5.99862 5.104 5.104 5.99862 4 6ZM4 3C3.4537 3.00055 3.00894 3.43942 3.00112 3.98567C2.99329 4.53192 3.42528 4.98335 3.97134 4.99956C4.51741 5.01577 4.97542 4.59075 5 4.045V4.245V4C5 3.44772 4.55228 3 4 3Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M2 9.5H1C1 7.84315 2.34315 6.5 4 6.5C5.65685 6.5 7 7.84315 7 9.5H6C6 8.39543 5.10457 7.5 4 7.5C2.89543 7.5 2 8.39543 2 9.5ZM9.5 8H8.5V6.5H7V5.5H8.5V4H9.5V5.5H11V6.5H9.5V8ZM4 6C2.89543 6 2 5.10457 2 4C2 2.89543 2.89543 2 4 2C5.10457 2 6 2.89543 6 4C5.99862 5.104 5.104 5.99862 4 6ZM4 3C3.4537 3.00055 3.00894 3.43942 3.00112 3.98567C2.99329 4.53192 3.42528 4.98335 3.97134 4.99956C4.51741 5.01577 4.97542 4.59075 5 4.045V4.245V4C5 3.44772 4.55228 3 4 3Z' fill='%23F4F4F4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M2 9.5H1C1 7.84315 2.34315 6.5 4 6.5C5.65685 6.5 7 7.84315 7 9.5H6C6 8.39543 5.10457 7.5 4 7.5C2.89543 7.5 2 8.39543 2 9.5ZM9.5 8H8.5V6.5H7V5.5H8.5V4H9.5V5.5H11V6.5H9.5V8ZM4 6C2.89543 6 2 5.10457 2 4C2 2.89543 2.89543 2 4 2C5.10457 2 6 2.89543 6 4C5.99862 5.104 5.104 5.99862 4 6ZM4 3C3.4537 3.00055 3.00894 3.43942 3.00112 3.98567C2.99329 4.53192 3.42528 4.98335 3.97134 4.99956C4.51741 5.01577 4.97542 4.59075 5 4.045V4.245V4C5 3.44772 4.55228 3 4 3Z' fill='%23747376'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.AddUserLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;

  color: $MainGrey;
  display: inline-block;

  &:hover {
    color: $PrimaryHover;
  }

  &:active {
    color: $PrimaryPressed;
  }
}

.isOpen {
  border-radius: 20px;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}

.profileBlockImg {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}

.profileImg {
  border-radius: 50%;
  width: 74px;
  height: 74px;

  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImgButtonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.profileImgButton {
  display: block;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
  background-color: $AppBG;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.45508 9.04458L4.82758 5.41666H2.91675V4.58333H3.99425L3.16091 3.75H2.91675C2.22639 3.75 1.66675 4.30964 1.66675 5C1.66675 5.69035 2.22639 6.25 2.91675 6.25H4.16675V7.08333H2.91675C1.8674 7.0842 0.981182 6.30447 0.848435 5.26355C0.715689 4.22262 1.37785 3.24544 2.39383 2.98291L0.955081 1.54458L1.54466 0.955414L9.04466 8.45541L8.4555 9.04416L8.45508 9.04458ZM8.39008 6.62208L7.79508 6.0275C8.24444 5.71618 8.43938 5.14897 8.27633 4.62718C8.11328 4.10539 7.63008 3.75008 7.08341 3.75H5.83341V2.91666H7.08341C7.96675 2.91677 8.75399 3.47393 9.04784 4.30696C9.34169 5.13998 9.07826 6.06777 8.3905 6.62208H8.39008Z' fill='%23919191'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;

  &:hover {
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M12.1825 13.0669L6.74125 7.62498H3.875V6.37498H5.49125L4.24125 5.12498H3.875C2.83947 5.12498 2 5.96445 2 6.99998C2 8.03551 2.83947 8.87498 3.875 8.87498H5.75V10.125H3.875C2.30097 10.1263 0.97165 8.95669 0.772531 7.3953C0.573411 5.83392 1.56665 4.36814 3.09062 3.97436L0.9325 1.81686L1.81687 0.933105L13.0669 12.1831L12.1831 13.0662L12.1825 13.0669ZM12.085 9.43311L11.1925 8.54123C11.8665 8.07425 12.1589 7.22344 11.9144 6.44075C11.6698 5.65807 10.945 5.12511 10.125 5.12498H8.25V3.87498H10.125C11.45 3.87514 12.6309 4.71088 13.0716 5.96042C13.5124 7.20996 13.1173 8.60164 12.0856 9.43311H12.085Z' fill='%23F26680'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.45508 9.04458L4.82758 5.41666H2.91675V4.58333H3.99425L3.16091 3.75H2.91675C2.22639 3.75 1.66675 4.30964 1.66675 5C1.66675 5.69035 2.22639 6.25 2.91675 6.25H4.16675V7.08333H2.91675C1.8674 7.0842 0.981182 6.30447 0.848435 5.26355C0.715689 4.22262 1.37785 3.24544 2.39383 2.98291L0.955081 1.54458L1.54466 0.955414L9.04466 8.45541L8.4555 9.04416L8.45508 9.04458ZM8.39008 6.62208L7.79508 6.0275C8.24444 5.71618 8.43938 5.14897 8.27633 4.62718C8.11328 4.10539 7.63008 3.75008 7.08341 3.75H5.83341V2.91666H7.08341C7.96675 2.91677 8.75399 3.47393 9.04784 4.30696C9.34169 5.13998 9.07826 6.06777 8.3905 6.62208H8.39008Z' fill='%23a6253c'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.notEnsHash {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-transform: capitalize;

  color: $MainBlack;
  display: inline-block;
  margin-top: 12px;
}

.newProfileBlock {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    background: #eaf0f0;
  }

  &:active {
    background: $StrokeColor;
  }
}

.newProfileBlockInfo {
  display: flex;
  align-items: center;

  width: 80%;
  padding-left: 5px;
}

.newProfileBlockImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
}

.meta {
  display: flex;
  padding-left: 10px;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.newProfileBlockName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: $MainBlack;
  display: inline-block;

  width: 100%;
}

.newProfileBlockNameNear {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: $MainBlack;
  display: inline-block;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.walletsIcon {
  width: 15px;
  height: 14px;
}

.addWalletsDisabled {
  cursor: default;

  &:hover {
    color: $MainGrey;
  }

  &:active {
    color: $MainGrey;
  }
}

.addWalletsDisabled .copied {
  position: absolute;

  bottom: 10%;
  right: 0;

  display: none;

  width: auto;
  padding: 5px 10px;

  content: attr(data-title);

  text-align: center;

  color: $ContentBlack;
  border-radius: 100px;

  background: $WebBG;

  box-shadow: 0 2px 2px -1px rgb(0 0 6 / 50%);

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
}

.addWalletsDisabled:hover .copied,
.addWalletsDisabled:focus .copied {
  display: inline-block;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
}

.addWalletsDisabled:active .copied,
.addWalletsDisabled:checked .copied {
  display: inline-block;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
}

.copy {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s;

    border-radius: 100px;

    background: $AppBG;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M6.0001 10.0001H1.0001C0.732133 10.0094 0.472333 9.90705 0.28274 9.71745C0.0931476 9.52786 -0.00921597 9.26806 9.5836e-05 9.0001V4.0001C-0.00921597 3.73213 0.0931476 3.47233 0.28274 3.28274C0.472333 3.09315 0.732133 2.99078 1.0001 3.0001H3.0001V1.0001C2.99078 0.732133 3.09315 0.472333 3.28274 0.28274C3.47233 0.0931476 3.73213 -0.00921597 4.0001 9.5836e-05H9.0001C9.26806 -0.00921597 9.52786 0.0931476 9.71745 0.28274C9.90705 0.472333 10.0094 0.732133 10.0001 1.0001V6.0001C10.0093 6.26802 9.90685 6.52773 9.71729 6.71729C9.52773 6.90685 9.26802 7.00926 9.0001 7.0001H7.0001V9.0001C7.00926 9.26802 6.90685 9.52773 6.71729 9.71729C6.52773 9.90685 6.26802 10.0093 6.0001 10.0001ZM1.0001 4.0001V9.0001H6.0001V7.0001H4.0001C3.73218 7.00926 3.47246 6.90685 3.28291 6.71729C3.09335 6.52773 2.99093 6.26802 3.0001 6.0001V4.0001H1.0001ZM4.0001 1.0001V6.0001H9.0001V1.0001H4.0001Z' fill='%23747376'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M6.0001 10.0001H1.0001C0.732133 10.0094 0.472333 9.90705 0.28274 9.71745C0.0931476 9.52786 -0.00921597 9.26806 9.5836e-05 9.0001V4.0001C-0.00921597 3.73213 0.0931476 3.47233 0.28274 3.28274C0.472333 3.09315 0.732133 2.99078 1.0001 3.0001H3.0001V1.0001C2.99078 0.732133 3.09315 0.472333 3.28274 0.28274C3.47233 0.0931476 3.73213 -0.00921597 4.0001 9.5836e-05H9.0001C9.26806 -0.00921597 9.52786 0.0931476 9.71745 0.28274C9.90705 0.472333 10.0094 0.732133 10.0001 1.0001V6.0001C10.0093 6.26802 9.90685 6.52773 9.71729 6.71729C9.52773 6.90685 9.26802 7.00926 9.0001 7.0001H7.0001V9.0001C7.00926 9.26802 6.90685 9.52773 6.71729 9.71729C6.52773 9.90685 6.26802 10.0093 6.0001 10.0001ZM1.0001 4.0001V9.0001H6.0001V7.0001H4.0001C3.73218 7.00926 3.47246 6.90685 3.28291 6.71729C3.09335 6.52773 2.99093 6.26802 3.0001 6.0001V4.0001H1.0001ZM4.0001 1.0001V6.0001H9.0001V1.0001H4.0001Z' fill='%23747376'/%3E%3C/svg%3E");
  }

  &:hover {
    span {
      width: 25px;
      height: 25px;

      transition: all 0.5s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M6.0001 10.0001H1.0001C0.732133 10.0094 0.472333 9.90705 0.28274 9.71745C0.0931476 9.52786 -0.00921597 9.26806 9.5836e-05 9.0001V4.0001C-0.00921597 3.73213 0.0931476 3.47233 0.28274 3.28274C0.472333 3.09315 0.732133 2.99078 1.0001 3.0001H3.0001V1.0001C2.99078 0.732133 3.09315 0.472333 3.28274 0.28274C3.47233 0.0931476 3.73213 -0.00921597 4.0001 9.5836e-05H9.0001C9.26806 -0.00921597 9.52786 0.0931476 9.71745 0.28274C9.90705 0.472333 10.0094 0.732133 10.0001 1.0001V6.0001C10.0093 6.26802 9.90685 6.52773 9.71729 6.71729C9.52773 6.90685 9.26802 7.00926 9.0001 7.0001H7.0001V9.0001C7.00926 9.26802 6.90685 9.52773 6.71729 9.71729C6.52773 9.90685 6.26802 10.0093 6.0001 10.0001ZM1.0001 4.0001V9.0001H6.0001V7.0001H4.0001C3.73218 7.00926 3.47246 6.90685 3.28291 6.71729C3.09335 6.52773 2.99093 6.26802 3.0001 6.0001V4.0001H1.0001ZM4.0001 1.0001V6.0001H9.0001V1.0001H4.0001Z' fill='%23eb9dab'/%3E%3C/svg%3E");
    }
  }

  &:active {
    span {
      transition: all 0.5s;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='12.5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%23a6253c' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}
