.menuWidgets{
   position: absolute;
   width: 160px;
   min-height: 50px;
   left: -160px;
   background: #fff;
   box-shadow: -5px 4px 10px rgb(45 52 60 / 15%);
border-radius: 8px 0px 0px 8px;
}

.blockStandartFunction{
display: flex;
}