@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.menuWidgets {
  position: absolute;
  top: 3px;
  left: -160px;

  width: 160px;
  min-height: 46px;

  background: #fff;
  border-radius: 8px 0 0 8px;
  box-shadow: -5px 4px 10px rgb(45 52 60 / 15%);
}

.blockStandartFunction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px 6px;

  svg{
    transform: scale(1.5);
  }
  
}

.delimeterMenuWidgets {
  display: flex;
  align-items: center;

  width: 90%;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 6px;

  background: $stroke-color;
}

.invisibleDelimeter{
  background:inherit
}

.squaredButtonMenuWidget {
  width: 45px;

  background: #f5f5f5;
  border: 1px solid $stroke-color;
  border-radius: 6px;

  transition: 0.1s all ease;

  &:hover {
    background: #d9304f;
    border: 1px solid #d9304f;
    box-shadow: none;

    svg {
      path {
        fill: none;
        stroke: #fff;
      }
    }
  }

  &:active {
    background: #a6253c;
    border: 1px solid #a6253c;
    box-shadow: none;

    svg {
      path {
        fill: none;
        stroke: #fff;
      }
    }
  }

  &:disabled {
    cursor: auto !important;
    background: inherit;
    border: 1px solid $stroke-color;
    box-shadow: none;

    svg {
      path {
        fill: #bdbdbd;
        stroke: none;
      }
    }
  }
}

.mainMenu {
  position: absolute;
  top: -10px;
  left: -210px;

  display: flex;
  flex-direction: column;
  align-items: end;

  width: 202px;
  height: auto;
  padding: 6px;

  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgb(45 52 60 / 10%), 0 4px 20px rgb(11 87 111 / 15%);

  :last-child {
    margin-bottom: 0;
  }
}

.mainMenuItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 24px;
  margin-bottom: 6px;
  padding: 0 6px;

  &:hover {
    background: #fff;
    border-radius: 6px;
  }
}

.mainMenuItemTitle {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #747376;
}

.mainMenuItemIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;

  svg {
    width: 16px !important;
    height: 16px !important;
  }

  &:hover {
    svg {
      path {
        fill: none;

        stroke {
          fill: none;
        }
      }
    }
  }
}
