@import "../../assets/styles/color.variables.scss";

.tab {
  box-sizing: border-box;
  max-width: 52px;
  margin-top: 6px;
  padding: 10px;
  padding-bottom: 15px;

  border-radius: 10px 0 0 10px;
  background: #f5f5f5;

  img {
    width: 30px !important;
    height: 30px !important;
  }
}

.cursor {
  cursor: pointer;
}

.list {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.top {
  position: relative;
  top: 2px;
}

.close {
  position: absolute;
  top: -7px;
  right: -7px;

  cursor: pointer;
}

.image {
  display: block;

  width: 30px !important;
  height: 30px !important;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;

  // background: $PureWhite;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 226 199' fill='none'%3E%3Cpath d='M43.879 108.317H77.3044C61.5596 119.421 53.7876 127.834 43.0186 127.834C31.7477 126.913 34.9885 117.424 37.7847 112.056C38.349 110.936 39.218 109.993 40.2943 109.332C41.3707 108.672 42.6119 108.321 43.879 108.317Z' fill='%23D9304F'/%3E%3Cpath d='M47.0196 197.983H10.9987C10.9159 197.982 10.8345 197.962 10.7608 197.925C10.6872 197.887 10.6235 197.833 10.5747 197.767C10.5259 197.701 10.4935 197.625 10.4799 197.544C10.4664 197.463 10.4722 197.381 10.4968 197.303L14.0387 186.624C14.1358 186.33 14.2957 186.061 14.5077 185.833C14.7196 185.606 14.9785 185.427 15.2669 185.307C15.5553 185.188 15.8664 185.131 16.179 185.14C16.4916 185.15 16.7984 185.226 17.0787 185.363C26.7688 190.062 36.842 193.947 47.1917 196.977C47.3267 197 47.4471 197.074 47.5265 197.184C47.6058 197.295 47.6376 197.431 47.6147 197.565C47.5919 197.698 47.5164 197.817 47.4048 197.895C47.2932 197.974 47.1546 198.005 47.0196 197.983Z' fill='%23D9304F'/%3E%3Cpath d='M182.37 108.317H148.959C164.733 119.421 172.462 127.763 183.231 127.763C194.501 126.842 191.261 117.353 188.464 111.986C187.892 110.877 187.019 109.948 185.943 109.3C184.867 108.652 183.63 108.312 182.37 108.317Z' fill='%23D9304F'/%3E%3Cpath d='M179.244 197.983H215.265C215.349 197.985 215.432 197.967 215.508 197.931C215.583 197.894 215.648 197.84 215.698 197.773C215.747 197.706 215.779 197.629 215.791 197.547C215.804 197.465 215.795 197.381 215.767 197.303L212.225 186.624C212.127 186.33 211.965 186.06 211.752 185.833C211.538 185.606 211.278 185.426 210.989 185.307C210.699 185.187 210.387 185.131 210.074 185.14C209.76 185.15 209.452 185.226 209.171 185.363C199.48 190.061 189.407 193.946 179.058 196.977C178.923 197.001 178.803 197.078 178.725 197.189C178.647 197.301 178.617 197.439 178.642 197.572C178.667 197.705 178.744 197.823 178.857 197.9C178.97 197.977 179.109 198.007 179.244 197.983Z' fill='%23D9304F'/%3E%3Cpath d='M224.787 109.804C175.631 177.645 157.391 114.507 127.765 114.507C116.165 114.507 113.11 123.755 113.11 127.82C113.11 123.755 110.07 114.507 98.4697 114.507C68.8299 114.507 50.6043 177.645 1.43404 109.804C0.487634 184.202 72.1137 201.863 113.096 155.253C154.107 201.792 225.733 184.202 224.787 109.804Z' fill='%23D9304F'/%3E%3Cpath d='M219.008 81.9178C213.502 84.8353 207.407 87.7246 202.202 89.934C200.493 90.6556 198.654 91.0266 196.796 91.0245H29.4391C27.581 91.0255 25.742 90.6545 24.0331 89.934C18.8279 87.7246 12.7336 84.8353 7.16982 81.9178C6.67226 81.6534 6.28387 81.2256 6.07178 80.7084C5.8597 80.1912 5.83725 79.617 6.00832 79.0852C6.66794 76.9183 7.90114 73.0943 9.67924 68.8171C9.807 68.5117 9.9974 68.2358 10.2384 68.0066C10.4795 67.7775 10.766 67.6001 11.0798 67.4857C11.3937 67.3713 11.7281 67.3223 12.0621 67.3418C12.3961 67.3613 12.7223 67.4489 13.0204 67.5991C18.369 70.2759 22.6422 72.1879 26.6286 73.8449V41.6952C26.6399 41.1242 26.8587 40.5763 27.2452 40.1514C37.7837 27.7707 50.9209 17.8004 65.7471 10.9311C80.5733 4.06172 96.7341 0.45745 113.11 0.367889C129.489 0.458245 145.651 4.06279 160.48 10.932C175.308 17.8013 188.448 27.7711 198.99 40.1514C199.356 40.5848 199.559 41.1305 199.563 41.6952V73.8874C203.55 72.2304 207.823 70.3184 213.186 67.6416C213.483 67.4916 213.808 67.4041 214.141 67.3848C214.474 67.3654 214.808 67.4145 215.12 67.529C215.433 67.6435 215.718 67.8209 215.958 68.0499C216.198 68.279 216.387 68.5547 216.513 68.8596C218.291 73.1085 219.524 76.9608 220.184 79.1277C220.345 79.6553 220.316 80.2219 220.102 80.7308C219.887 81.2397 219.501 81.6592 219.008 81.9178Z' fill='%23D9304F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  span {
    width: 30px !important;
    height: 30px !important;
  }
}

.tabNotActive {
  background: #eaf0f0;
  background-image: none !important;

  box-shadow: inset -2px 0 4px rgb(0 0 0 / 25%);

  img {
    filter: grayscale(100%);
  }
}

.tabNotActive {
  background-image: none !important;

  svg {
    filter: grayscale(100%);
  }
}

.tabNotActive.image {
  background-image: none !important;
}

.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:nth-child(2) {
    margin-top: 12px;
  }

  &:nth-child(2),
  &:nth-child(4) {
    &::before {
      position: absolute;
      top: 0;
      right: 8px;

      width: 8px;
      height: 8px;

      content: "";

      opacity: 0;

      border: 1px solid #f5f5f5;
      border-radius: 50%;
      background-color: $Primary;
    }
  }

  &:nth-child(4)::before {
    top: -3px;
  }

  &.notification:nth-child(2)::before {
    opacity: 1;
  }

  &.notificationSetting:nth-child(4)::before {
    opacity: 1;
  }
}

.selected path {
  fill: $Primary !important;
}

.icon {
  &:hover path {
    fill: $PrimaryHover;
  }

  &:active path {
    fill: $PrimaryPressed;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .tab {
    display: none;
    display: flex;
    justify-content: space-between;

    width: 215px;
    max-width: none;
    height: 52px;
    margin: 0;

    border-radius: 10px;
    background: #fff;
  }

  .list {
    display: flex;
    align-items: center;

    margin: 0;
  }

  .item {
    padding: 0 10px;

    &:not(:last-child) {
      margin: 0;
    }

    &:nth-child(2) {
      margin: 0;
    }
  }
}
