@import '../../assets/styles/color.variables';

.tab {
  cursor: pointer;

  position: relative;

  box-sizing: border-box;
  width: 52px;
  padding: 10px;

  background: #fff;
  border-radius: 4px 0 0;

  img {
    width: 30px !important;
    height: 30px !important;
  }
}

.cursor {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.top {
  position: relative;
  top: 2px;
}

.close {
  cursor: pointer;

  position: absolute;
  top: -7px;
  right: -7px;

  display: block;

  width: 18px;
  height: 18px;

  background-color: #fff;
  border-radius: 50%;

  svg {
    transform: scale(0.7);
    margin-top: -3px;
    margin-left: -4px;

    path {
      fill: $primary !important;
    }

    &:hover {
      fill: $primary-hover !important;
    }
  }

  &:hover {
    svg {
      path {
        fill: $primary-hover !important;
      }
    }
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;

  span {
    width: 30px !important;
    height: 30px !important;
  }
}

.tabNotActive {
  cursor: pointer;

  img {
    &:hover {
      filter: none;
    }
  }

  .top {
    cursor: pointer;
    position: relative;
    top: 2px;

    svg {
      path {
        fill: $main-grey;
      }
    }

    &:hover {
      svg {
        path {
          fill: $primary-hover;
        }
      }
    }
  }
}

.tabNotActive {
  background-image: none !important;
}

.tabNotActive.image {
  background-image: none !important;
}

.isOpenWallet {
  &::before {
    content: '';

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: inline-block;

    width: 100%;
    height: 100%;

    background-color: rgb(0 0 0 / 30%);
    border-radius: 10px 0 0 10px;
  }
}

.item {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-top: 11px;

  svg {
  }

  &:nth-child(2),
  &:nth-child(4) {
    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: 8px;

      width: 8px;
      height: 8px;

      opacity: 0;
      background-color: $primary;
      border: 1px solid #f5f5f5;
      border-radius: 50%;
    }
  }

  &:nth-child(4)::before {
    top: -3px;
  }

  &.notification:nth-child(2)::before {
    opacity: 1;
  }

  &.notificationSetting:nth-child(4)::before {
    opacity: 1;
  }

  &:hover {
    svg {
      path {
        fill: $primary-hover;
        stroke: $primary-hover;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $primary-pressed;
        stroke: $primary-pressed;
      }
    }
  }
}

.icon {
  &:hover path {
    fill: $primary-hover;
  }

  &:active path {
    fill: $primary-pressed;
  }

  svg {
    width: 100%;
  }
}

.listNotPadding {
  margin-top: 0;

  .item {
    margin-top: 0;
  }
}

@import './adaptive';
@import './menuWidgets';
