@import '../../assets/styles/color.variables.scss';

.tab {
  position: relative;

  box-sizing: border-box;
  width: 52px;
  // max-width: 52px;
  // margin-top: 6px;
  padding: 10px;
  // padding-bottom: 15px;

  // border-radius: 10px 0 0 10px;
  // background: #f5f5f5;
  background: #fff;
  border-radius: 4px 0 0 0;
  cursor: pointer;
  img {
    width: 30px !important;
    height: 30px !important;
  }
}

.cursor {
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
  width: 100%;
    height: 100%;
}

.top {
  position: relative;
  top: 2px;
}

.close {
  position: absolute;
  top: -7px;
  right: -7px;

  display: block;

  width: 18px;
  height: 18px;

  cursor: pointer;

  border-radius: 50%;

  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' fill='%23D9304F'/%3E%3Cpath d='M10.7438 5.375L8.5 7.61875L6.25625 5.375L5.375 6.25625L7.61875 8.5L5.375 10.7438L6.25625 11.625L8.5 9.38125L10.7438 11.625L11.625 10.7438L9.38125 8.5L11.625 6.25625L10.7438 5.375Z' fill='white'/%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' stroke='%23F5F5F5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' fill='%23eb9dab'/%3E%3Cpath d='M10.7438 5.375L8.5 7.61875L6.25625 5.375L5.375 6.25625L7.61875 8.5L5.375 10.7438L6.25625 11.625L8.5 9.38125L10.7438 11.625L11.625 10.7438L9.38125 8.5L11.625 6.25625L10.7438 5.375Z' fill='white'/%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' stroke='%23F5F5F5'/%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' fill='%23a6253c'/%3E%3Cpath d='M10.7438 5.375L8.5 7.61875L6.25625 5.375L5.375 6.25625L7.61875 8.5L5.375 10.7438L6.25625 11.625L8.5 9.38125L10.7438 11.625L11.625 10.7438L9.38125 8.5L11.625 6.25625L10.7438 5.375Z' fill='white'/%3E%3Crect x='0.5' y='0.5' width='16' height='16' rx='8' stroke='%23F5F5F5'/%3E%3C/svg%3E");
  }
}

.image {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;

  span {
    width: 30px !important;
    height: 30px !important;
  }
}

.tabNotActive {
  cursor: pointer;

  // background: #eaf0f0;
  // background-image: none !important;

  // box-shadow: inset -2px 0 4px rgb(0 0 0 / 25%);

  img {
    // filter: grayscale(100%);

    &:hover {
      filter: none;
    }
  }

  .top {
    position: relative;
    top: 2px;

    cursor: pointer;

    svg {
      path {
        fill: $MainGrey;
      }
    }

    &:hover {
      svg {
        path {
          fill: $PrimaryHover;
        }
      }
    }
  }
}

.tabNotActive {
  background-image: none !important;
}

.tabNotActive.image {
  background-image: none !important;
}

.isOpenWallet {
  &::before {
    position: absolute;
    z-index: 10;

    top: 0;
    left: 0;

    display: inline-block;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 10px 0 0 10px;
    background-color: rgb(0 0 0 / 30%);
  }
}

.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 11px;

  cursor: pointer;
  width: 100%;
  height: 100%;

  svg {
    // width: 100%;
  }

  &:nth-child(2),
  &:nth-child(4) {
    &::before {
      position: absolute;
      top: 0;
      right: 8px;

      width: 8px;
      height: 8px;

      content: '';

      opacity: 0;

      border: 1px solid #f5f5f5;
      border-radius: 50%;
      background-color: $Primary;
    }
  }

  &:nth-child(4)::before {
    top: -3px;
  }

  &.notification:nth-child(2)::before {
    opacity: 1;
  }

  &.notificationSetting:nth-child(4)::before {
    opacity: 1;
  }

  &:hover {
    svg {
      path {
        fill: $PrimaryHover;
        stroke: $PrimaryHover;
      }
    }
  }
  &:active {
    svg {
      path {
        fill: $PrimaryPressed;
        stroke: $PrimaryPressed;
      }
    }
  }
}

// .selected path {
//   fill: $Primary !important;
// }

.icon {
  &:hover path {
    fill: $PrimaryHover;
  }

  &:active path {
    fill: $PrimaryPressed;
  }

  svg {
    width: 100%;
  }
}

.listNotPadding {
  margin-top: 0;
  .item {
    margin-top: 0;
  }
}

@import './adaptive.scss';
@import './menuWidgets.scss';