@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';

.wrapper {
  position: relative;
  margin-left: auto;
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.inputCheckbox {
  cursor: pointer;

  position: relative;

  display: block;

  width: 32px;
  height: 20px;

  background: $main-grey;
  border-radius: 20px;

  transition: all 0.3s ease 0s;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    background: $pure-white;
    border-radius: 50%;

    transition: all 0.3s ease 0s;
  }

  &:hover {
    &::before {
      background: $stroke-color;
    }
  }

  &.active {
    background: $primary;

    &::before {
      transform: translateY(-50%) translateX(calc(100% - 4px));
    }

    &:hover {
      background: #f26680;
    }
  }
}
