@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";

.wrapper {
  position: relative;
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.inputCheckbox {
  position: relative;

  display: block;

  width: 32px;
  height: 20px;

  cursor: pointer;
  transition: all 0.3s ease 0s;

  border-radius: 20px;
  background: $MainGrey;

  &::before {
    position: absolute;
    top: 50%;
    left: 2px;

    width: 16px;
    height: 16px;

    content: "";

    transition: all 0.3s ease 0s;
    transform: translateY(-50%);

    border-radius: 50%;
    background: $PureWhite;
  }

  &.active {
    background: $Primary;

    &::before {
      transform: translateY(-50%) translateX(calc(100% - 4px));
    }
  }
}
