.overlay-frame{
    margin:0;
    padding:0;
    border:0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background:#ececec;
    direction:ltr;
    background:none;
    font-size:14px;
    line-height:20px;
    height:100%;
    position:fixed;
    top:0;
    left:100%;
    z-index:2147483647;
    -webkit-tap-highlight-color:rgba(255,255,255,0)
}
.overlay-frame .overlay-bucket-bar{
    background:rgba(0,0,0,0.08);
    pointer-events:none;
    position:absolute;
    height:100%;
    width:22px;
    left:-22px
}
.overlay-frame.overlay-collapsed{
    margin-left:0
}
.overlay-frame .h-sidebar-iframe{
    border:none;
    height:100%;
    width:100%;
    z-index:3;
    position:relative;
    background-color:#e6ecf0
}
.overlay-frame .overlay-toolbar{
    position:absolute;
    left:-33px;
    width:37px;
    z-index:2
}
.overlay-frame .overlay-toolbar ul{
    height:100%
}
.overlay-frame .overlay-toolbar ul,.overlay-frame .overlay-toolbar li{
    box-sizing:border-box;
    list-style:none;
    margin:0;
    padding:0;
    border:0
}
.overlay-frame .overlay-frame-button{
    transition:background-color 0.25s 0.25s;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    background:#fff;
    border:solid 1px #d3d3d3;
    border-radius:4px;
    color:#969696;
    text-decoration:none;
    height:30px;
    width:30px;
    padding:0;
    font-size:16px;
    margin-bottom:5px
}
.overlay-frame .overlay-frame-button:active{
    transition:background-color 0.25s;
    background-color:#969696
}
.overlay-frame .overlay-frame-button:focus,.overlay-frame .overlay-frame-button:hover{
    outline:0;
    color:#585858
}
.overlay-frame .overlay-frame-button--sidebar_toggle{
    box-shadow:none;
    border-radius:0px;
    border-style:none none solid solid;
    padding-right:6px;
    width:36px;
    margin-bottom:10px;
    height:40px
}
.overlay-frame .overlay-frame-button--sidebar_close{
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.5);
    border-radius:0px;
    border-style:solid none solid solid;
    width:27px;
    margin-top:140px;
    margin-left:6px;
    height:27px
}
@media screen and (min-width: 15em){
    .overlay-frame{
        width:90%;
        margin-left:-90%
    }
}
@media screen and (min-width: 30em){
    .overlay-frame{
        width:70%;
        margin-left:-70%
    }
}
@media screen and (min-width: 37.5em){
    .overlay-frame{
        transition:margin-left 0.15s cubic-bezier(0.55, 0, 0.2, 0.8);
        width:428px;
        margin-left:-428px
    }
}