.dapplets-overlay-frame {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 2147483647;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

.dapplets-overlay-frame .dapplets-overlay-bucket-bar {
    background: rgba(0, 0, 0, 0.08);
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 22px;
    left: -22px;
}

.dapplets-overlay-frame.dapplets-overlay-collapsed {
    margin-left: 0;
}

.dapplets-overlay-hidden {
    display: none;
}

.dapplets-overlay-frame .h-sidebar-iframe {
    border: none;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
    background-color: #e6ecf0;
}

.dapplets-overlay-frame .dapplets-overlay-toolbar {
    position: absolute;
    left: -33px;
    width: 37px;
    z-index: 2;
}

.dapplets-overlay-frame .dapplets-overlay-toolbar ul {
    height: 100%;
}

.dapplets-overlay-frame .dapplets-overlay-toolbar ul,
.dapplets-overlay-frame .dapplets-overlay-toolbar li {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.dapplets-overlay-frame .dapplets-overlay-frame-button {
    transition: background-color 0.25s 0.25s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: solid 1px #d3d3d3;
    border-radius: 4px;
    color: #969696;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dapplets-overlay-frame .dapplets-overlay-frame-button:active {
    transition: background-color 0.25s;
    background-color: #969696;
}

.dapplets-overlay-frame .dapplets-overlay-frame-button:focus,
.dapplets-overlay-frame .dapplets-overlay-frame-button:hover {
    outline: 0;
    color: #585858;
}

.dapplets-overlay-frame .dapplets-overlay-frame-button-sidebar-toggle {
    box-shadow: none;
    border-radius: 0px;
    border-style: none none solid solid;
    padding-right: 6px;
    width: 36px;
    margin-bottom: 10px;
    height: 40px;
}

.dapplets-overlay-frame .dapplets-overlay-frame-button--sidebar_close {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    border-style: solid none solid solid;
    width: 27px;
    margin-top: 140px;
    margin-left: 6px;
    height: 27px;
}

@media screen and (min-width: 15em) {
    .dapplets-overlay-frame {
        width: 90%;
        margin-left: -90%;
    }
}

@media screen and (min-width: 30em) {
    .dapplets-overlay-frame {
        width: 70%;
        margin-left: -70%;
    }
}

@media screen and (min-width: 37.5em) {
    .dapplets-overlay-frame {
        transition: margin-left 0.15s cubic-bezier(0.55, 0, 0.2, 0.8);
        width: 428px;
        margin-left: -428px;
    }
}

.dapplets-overlay-nav {
    height: 100%;
}

.dapplets-overlay-nav-tab-list {
    display: flex;
    flex: auto;
    overflow-x: auto;
}

.dapplets-overlay-nav-tab-item {
    display: flex;
    padding: 8px 12px;
    background: #ececec;
    z-index: 2;
    max-width: 150px;
}

/* divider between inactive tabs */
.dapplets-overlay-nav-tab-item:not(.dapplets-overlay-nav-tab-item-active):not(:last-child)::after {
    content: "";
    border-right: 1px #aaaaaa solid;
    position: relative;
    right: -12px;
}

.dapplets-overlay-nav-tab-item-active {
    background: #fff;
    position: relative;
    left: -1px;
    border-left: 1px solid #fff;
}

.dapplets-overlay-nav-top-panel {
    background: #f3f3f3;
    display: flex;
}

.dapplets-overlay-nav-top-actions {
    display: flex;
}

.dapplets-overlay-nav-content-list {
    height: calc(100% - 36px);
}

.dapplets-overlay-nav-content-item {
    display: none;
    height: calc(100% - 36px);
}

.dapplets-overlay-nav-content-item-active {
    display: block;
}

.dapplets-overlay-nav-content-item > * {
    height: 100%;
    width: 100%;
    border: none;
}

.dapplets-overlay-nav-tab-item-close-btn {
    float: right;
    cursor: pointer;
    font-weight: 600;
    margin: 0 0 0 0.5em;
    border-radius: 10px;
    padding: 0 5px;
}

.dapplets-overlay-nav-tab-item-close-btn:hover {
    background-color: #d5d5d5;
}

.dapplets-overlay-nav-tab-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dapplets-action-dropdown {
    position: relative;
    display: inline-block;

    button {
        color: rgba(0, 0, 0, 0.6);
        border: none;
        cursor: pointer;
        height: 100%;
        padding: 0 8px;
    }

    button > svg {
        width: 20px;
    }

    > div {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        z-index: 99999;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 4px;
    }

    > div > a {
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }

    div > a:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &:hover > div {
        display: block;
        right: 0;
    }

    &:hover > button {
        color: rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.1);
    }
}
