.contentItem {
  display: none;
}

.contentItemActive {
  display: block;
  height: 100%;
  margin-top: 17px;

  > .frameContainer {
    height: 100%;

    > iframe {
      height: 100%;
      width: 100%;
    }
  }
}
