@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';

.wrapperAdmins {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding: 10px;

  background: $PureWhite;
  border-radius: 10px;
}

.blockAdmins {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: auto;
  padding: 10px;
}

.adminsTitle {
  display: inline-block;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #2a2a2a;

  background: inherit;
}

.adminsButton {
  display: block;

  width: 20px;
  height: 20px;

  background-color: inherit;

  &:hover {
    background-color: inherit;
  }

  &:active {
    background-color: inherit;
  }
  svg {
    &:hover {
      path {
        fill: $success-hover;
      }
    }
    &:active {
      path {
        fill: $success-hover;
      }
    }
  }
}

.wrapperContext {
  display: flex;
  width: 100%;
}

.blockContext {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px 13px;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
}

.blockContext {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }
}

.blockContextTitle {
  display: inline-block;

  width: 90%;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  background: inherit;
}

.contextDelete {
  cursor: pointer;

  display: block;

  width: 11.5px;
  height: 12.5px;

  border-color: inherit;

  svg {
    &:hover {
      path {
        fill: $MainGrey;
      }
    }
    &:active {
      path {
        fill: $MainGrey;
      }
    }
  }
}

.addContext {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 67px;
  height: 32px;
  margin: 0 0 0 5px;
  padding: 0 10px;

  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  background: $Primary;
  border-radius: 4px;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.addContextDisabled {
  color: $StrokeColor;
  background: $AppBG;
  border: 1px solid $StrokeColor;

  &:hover {
    background: $AppBG;
  }

  &:active {
    background: $AppBG;
  }
}

.editContextIdLoading {
  display: inline-block;

  width: 100%;
  height: 20px;
  margin: 0 auto;

  background-image: url("../../assets/svg/loaderSettings.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.blockAuthors {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px 13px;

  background: $AppBG;
  border: 1px solid $StrokeColor;
  border-radius: 5px;
}

.blockAuthors {
  margin: 0 0 10px;

  &:last-child {
    margin: 0;
  }
}

.blockContextValue {
  margin: 0;
  padding: 0;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $MainGrey;

  border: 0;
}

.adminsInput {
  overflow: hidden;
  display: inline-block;
  width: 90%;
  text-overflow: ellipsis;
}

.inputAdminInvalid {
  color: #ff6442 !important;
  border: 1px solid #ff6442;
}

.authorDelete {
  cursor: pointer;

  display: block;

  width: 11.5px;
  height: 12.5px;

  border-color: inherit;

  svg {
    &:hover {
      path {
        fill: $MainGrey;
      }
    }
    &:active {
      path {
        fill: $MainGrey;
      }
    }
  }
}
