@import '../../../assets/styles/fonts';
@import '../../../assets/styles/color.variables';
@import '../../../assets/styles/null';
@import './adaptive';

.wrapper {
  overflow: hidden;
  overflow: -moz-scrollbars-none;

  width: 100%;
  height: 100%;

  padding: 10px;

  -ms-overflow-style: none;
}

.wrapperTokenomics {
  padding: 0;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 6px 60px 16px;
}

.titleTokenomics {
  padding: 25px 75px 25.5px;
  background: $overlay-bg;
}

.settingMain {
  width: 100%;
  height: 100%;
  padding: 0 0 0 1px;
}

.blockSettings {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  height: 100%;
}

.scrollBlock {
  direction: rtl;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  height: 100%;

  padding-top: 12px;
  padding-left: 5px;
  padding-bottom: 22px;
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin-bottom: 38px;
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.scrollBlock > * {
  direction: ltr;
}

.version {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.versionTitle {
  display: inline-block;

  padding: 0 0 0 14px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $primary;
}

.versionButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 23px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $pure-white;

  background: $primary;
  border-radius: 4px;

  &:hover {
    background: $primary-hover;
  }

  &:active {
    background: $primary-pressed;
  }
}

.checkboxBlock {
  display: flex;
  justify-content: space-between;

  // todo: removed when checkox will be more 2
  width: 80%;

  // todo: uncommented when checkox will be more 2
  // width: 100%;
  padding: 0 50px 0 0;
}

.formDefault {
  display: flex;
  align-items: center;

  width: 100%;
  height: 36px;
  padding: 5px 13px;

  background: #ebebeb;
  border-radius: 10px;
}

.inputDefault {
  width: 100%;
  height: 100%;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: #919191;

  background: inherit;
}

.errorInputDefault {
  color: $primary;
  border: 1px solid $primary;
}

.errorMessage {
  display: flex;

  width: 100%;
  margin: 0 0 -10px;
  padding: 5px 0 0;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #d9304f;
}

.wrapperSettings {
  margin: 0 0 30px !important;
}

.loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/svg/loaderSettings.svg');
}

.deleteUserAgentName {
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
  }
}
