@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import '../../assets/styles/animate';

.formDefault {
  display: flex;
  align-items: center;

  width: 100%;
  height: 36px;
  padding: 5px 13px;

  background: #ebebeb;
  border-radius: 10px;
}

.inputDefault {
  width: 99%;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: #919191;

  background: inherit;
}

.errorInputDefault {
  color: $Primary;
  border: 1px solid $Primary;
}

.buttonInputDefault {
  width: 24px;
  height: 24px;
  background-color: inherit;

  svg {
    &:hover {
      path {
        fill: $ContentBlack;
      }
    }
  }
}

.errorMessage {
  display: flex;

  width: 100%;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #d9304f;

  animation-name: openError;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
