@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/color.variables.scss";

.wrapper {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;
  max-height: 75vh;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  -ms-overflow-style: none;
}

.wrapper {
  overflow: -moz-scrollbars-none;
}

.blockModules {
  display: flex;

  display: flex;

  overflow: hidden;

  overflow-y: scroll;
  flex: 1 1 auto;
  flex-direction: column;

  flex-direction: column;

  width: 100%;
  width: 100%;
  height: 100%;
  height: calc(100% - 120px);
  padding: 0 0 0 15px;
  direction: rtl;

  &::-webkit-scrollbar {
    width: 4px;

    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: rgb(244 244 244);
    background:
      linear-gradient(
        90deg,
        rgb(244 244 244 / 0%) 10%,
        rgb(227 227 227 / 100%) 50%,
        rgb(244 244 244 / 0%) 90%
      );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    border-radius: 2px;
    background: $Primary;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.blockModules > * {
  direction: ltr;
}

.host {
  padding: 15.5px 0 10px;
}

.createUnderConstraction {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
}

.btnCreate {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 228px;
  height: 33px;
  padding: 0 10px;

  text-align: center;
  text-transform: uppercase;

  color: $PureWhite;
  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.modules {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;

  width: 100%;
}

.input {
  display: flex;

  width: 100%;

  height: 31px;
  margin: 0 7px 0 0;
  padding: 10px;

  color: $ContentBlack;
  border-radius: 10px;

  background: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.errorInput {
  border: 1px solid $Primary;
  background: #fef2f4;
}

.buttonInput {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 40px;
  height: 31px;
  padding: 0 10px;

  text-transform: uppercase;

  color: #fff;
  border-radius: 4px;

  background: $Primary;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;

  &:hover {
    background: $PrimaryHover;
  }

  &:active {
    background: $PrimaryPressed;
  }
}

.buttonInputDisabled {
  color: $StrokeColor;

  border: 1px solid $StrokeColor;
  background: $AppBG;

  &:hover {
    background: $AppBG;
  }

  &:active {
    background: $AppBG;
  }
}

.errorMessage {
  display: flex;

  width: 100%;
  padding: 10px 0 0;

  text-transform: uppercase;

  color: #d9304f;

  font-family: Roboto;
  font-size: 10px;

  font-weight: 400;
  line-height: 100%;
}

.miniLoader {
  display: inline-block;

  width: 100%;
  height: 20px;
  margin: 0 auto;

  background-image: url("data:image/svg+xml,%3Csvg id='enmvdj1tPVl1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 18' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23enmvdj1tPVl3_tr %7Banimation: enmvdj1tPVl3_tr__tr 1000ms linear infinite normal forwards%7D@keyframes enmvdj1tPVl3_tr__tr %7B 0%25 %7Btransform: translate(9px,9.080632px) rotate(0deg)%7D 100%25 %7Btransform: translate(9px,9.080632px) rotate(180deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cellipse rx='8.550768' ry='8.550768' transform='matrix(.907954 0 0 0.907954 9 9)' fill='none' stroke='%23919191' stroke-width='2'/%3E%3Cg id='enmvdj1tPVl3_tr' transform='translate(9,9.080632) rotate(0)'%3E%3Crect width='18' height='2.879693' rx='0' ry='0' transform='translate(-9,-1.439846)' fill='%23F5F5F5' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: center;
}

.loadAdd {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 40px;
  height: 31px;
  padding: 0 10px;

  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='eivy6ZaYVtP1' viewBox='0 0 40 31' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23eivy6ZaYVtP5_tr %7Banimation: eivy6ZaYVtP5_tr__tr 1000ms linear infinite normal forwards%7D@keyframes eivy6ZaYVtP5_tr__tr %7B 0%25 %7Btransform: translate(19.999999px,14.9453px) rotate(0deg)%7D 100%25 %7Btransform: translate(19.999999px,14.9453px) rotate(179.999997deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cpath d='M0,4C0,1.79086,1.79086,0,4,0h32c2.2091,0,4,1.79086,4,4v23c0,2.2091-1.7909,4-4,4h-32c-2.20914,0-4-1.7909-4-4L0,4Z' fill='%23d9304f'/%3E%3Cellipse rx='4.932092' ry='4.932092' transform='translate(20 14.9453)' fill='none' stroke='%23fff' stroke-width='2'/%3E%3Cg id='eivy6ZaYVtP5_tr' transform='translate(19.999999,14.9453) rotate(0)'%3E%3Crect width='14.932263' height='1.762836' rx='0' ry='0' transform='translate(-7.466131,-0.881418)' fill='%23d9304f' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
