@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';
@import '../../assets/styles/null.scss';

.wrapper {
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 60px 25.5px 60px;
}

.settingMain {
}
