@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';
@import '../../assets/styles/null.scss';

.wrapper {
  padding: 27.5px 0px 0px 0px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 60px 25.5px 60px;
}

.settingMain {
  padding: 10px 0px 0px 0px;
}
@media (max-width: 640px) and (min-width: 320px) {
  .wrapper {
    padding: 0px 0px 0px 0px;
  }
  .title {
    justify-content: center;
    padding: 0px 26px 25.5px 26px;
  }
}
