@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";
@import "./adaptive";

.wrapper {
  position: relative;

  width: 100%;
  margin: 0 0 15px;
  padding: 25px 17px 15px;

    

  border: 1px solid $main-grey;
  border-radius: 5px;
}

.title {
  position: absolute;
  z-index: 2;
  top: -12px;
  left: 16px;

  display: inline-block;

  padding: 0 10px;

  font-size: 10px;
  font-weight: 500;
  color: $content-black;

  border: 1px solid $main-grey;
  border-radius: 4px;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $overlay-bg;
    border-radius: 3px;
  }
}

