@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: Roboto, sans-serif;
}

.title,
.subtitle {
  margin-right: auto;
  margin-left: auto;
}

.title {
  padding: 0 0 4px;

  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $MainBlack;
}

.subtitle {
  display: block;

  padding: 0 0 10px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $MainGrey;
}

.link {
  display: block;

  margin-top: 9px;

  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $Primary;
  text-align: center;

  &:hover {
    color: $PrimaryHover;
  }

  &:active {
    color: $PrimaryPressed;
  }
}
