@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: calc(100% - 50px) !important;

  background-color: #f4f4f4 !important;
}

.overlay-container {
  display: flex;
  overflow-y: overlay;
  flex-wrap: wrap;
  justify-content: center;

  width: calc(100% - 7px);
  height: 100%;
  max-height: calc(100vh - 30px);
  margin: 14px 4px 20px;
  padding: 0 15px 3px;
}

.ui.card {
  margin: 0.5em 0 !important;
}

.ui.header {
  margin-bottom: 0 !important;
}

button.link {
  cursor: pointer;

  color: rgb(27 149 224);
  border: none;
  background: none;

  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4285em;
}

button.link:hover {
  text-decoration: underline;
}

.overlay-container.dpp-dark,
.dpp-dark h2,
.dpp-dark [role="listbox"],
.dpp-dark .ui.menu .ui.dropdown .menu > .item,
.dpp-dark .ui.icon.input > input,
.dpp-dark .content,
.dpp-dark .ui.feed,
.dpp-dark .ui.feed > .event,
.dpp-dark .ui.feed > .event > .content .summary,
.dpp-dark .ui.feed > .event > .content .summary > .ui.slider.checkbox > label,
.dpp-dark .ui.accordion .title:not(.ui),
.dpp-dark .ui.card > .content > .header,
.dpp-dark .ui.cards > .card > .content > .header,
.dpp-dark .ui.card > .content > .description,
.dpp-dark .ui.cards > .card > .content > .description {
  color: #fff !important;
  background: #15202b !important;
}

.dpp-dark .ui.menu .ui.dropdown .menu > .item:hover {
  color: #fff !important;
  background: #1f2a35 !important;
}

.dpp-dark .ui.slider.checkbox .box::before,
.dpp-dark .ui.slider.checkbox label::before {
  background-color: rgb(255 255 255 / 30%) !important;
}

.dpp-dark .ui.slider.checkbox input:checked ~ .box::before,
.dpp-dark .ui.slider.checkbox input:checked ~ label::before {
  background-color: rgb(255 255 255 / 80%) !important;
}
