@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';
@import '../../assets/styles/pages';
@import './adaptive';

.wrapper {
  align-items: center;
  justify-content: end;
  margin-bottom: 5px;
}

.dappletsBlock {
  direction: rtl;
  overflow-y: auto;

  width: 100%;
  height: calc(100vh - 55px);
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    margin-bottom: 20px;
    background: rgb(244 244 244);
    background: linear-gradient(
      90deg,
      rgb(244 244 244 / 0%) 10%,
      rgb(227 227 227 / 100%) 50%,
      rgb(244 244 244 / 0%) 90%
    );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;

    // margin-bottom: 15px;

    background: $primary;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.dappletsBlock > * {
  direction: ltr;
}

.noDapplets {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100% - 100px);

    
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #797979;
  text-align: center;
}

.noDappletsLink {
  cursor: pointer;
  color: $primary;

  &:hover {
    color: $primary-hover;
  }

  &:active {
    color: $primary-pressed;
  }
}
