@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;

  // margin-top: 20px;
  margin-bottom: 5px;

  // display: none;
}

.dappletsBlock {
  overflow-y: scroll;

  width: 100%;

  // height: calc(100vh - 58px);
  height: calc(100vh - 97px);
  direction: rtl;

  &::-webkit-scrollbar {
    width: 4px;

    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: rgb(244 244 244);
    background: rgb(244 244 244);
    background:
      linear-gradient(
        90deg,
        rgb(244 244 244 / 0%) 10%,
        rgb(227 227 227 / 100%) 50%,
        rgb(244 244 244 / 0%) 90%
      );
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 2px;
    margin-bottom: 15px;

    border-radius: 2px;
    background: $Primary;
    box-shadow: 0 2px 6px rgb(0 0 0 / 9%), 0 2px 2px rgb(38 117 209 / 4%);
  }
}

.dappletsBlock > * {
  direction: ltr;
}

@import "./adaptive.scss";
