@import "../../../contentscript/overlay/root/assets/styles/null.scss";
@import "../../../contentscript/overlay/root/assets/styles/fonts.scss";
@import "../../../contentscript/overlay/root/assets/styles/color.variables.scss";

.account {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
  height: 46px;
  margin: 5px;
  padding: 2px 5px 2px 2px;

  border-radius: 200px;
  background: $WebBG;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  cursor: default;
}

.hasAction {
  cursor: pointer;
}

.imgUser {
  display: inline-block;

  width: 42px;
  height: 42px;

  margin-right: 10px;

  border: 2px solid white;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
}

.nameUser {
  color: $MainBlack;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  padding-right: 14px;
}

.nameUserActive {
  background: $Primary;

  .nameUser {
    color: $PureWhite;
  }
}
