@import "../../../contentscript/overlay/root/assets/styles/null.scss";
@import "../../../contentscript/overlay/root/assets/styles/fonts.scss";
@import "../../../contentscript/overlay/root/assets/styles/color.variables.scss";

.account {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
  height: 46px;
  margin: 5px;
  padding: 2px 5px 2px 2px;

  border-radius: 200px;
  background: $WebBG;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  cursor: default;
}

.hasAction {
  cursor: pointer;
}

.imgUser {
  display: inline-block;

  width: 42px;
  height: 42px;

  margin-right: 10px;

  border: 2px solid white;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
}

.nameUser {
  color: $MainBlack;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  padding-right: 14px;
}

.nameUserActive {
  background: $Primary;

  .nameUser {
    color: $PureWhite;
  }
}

.contentModal {
  text-align: center;

  color: $MainGrey;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.wrapperModalWantLink {
  display: flex;
  align-items: center;
  margin-top: 10px;

  width: 100%;
}

.button {
  display: flex;
  align-items: center;

  justify-content: center;

  width: max-content;

  height: 32px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 4px;

  font-family: Roboto;
  font-size: 14px;

  font-weight: 400;
  line-height: 100%;
}

.primary {
  color: $PureWhite;
  background: $Primary;

  &:hover {
    background: hsl(349, 66%, 44%);
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;

    background-color: $PrimaryHover;
  }
}

.secondary {
  color: $PureWhite;
  background: $Secondary;

  &:hover {
    background: hsl(200, 63%, 49%);
  }

  &:active {
    background: hsl(200, 66%, 44%);
  }

  &:disabled {
    cursor: default;

    background-color: $SecondaryHover;
  }
}
