@import "../../../contentscript/overlay/root/assets/styles/null.scss";
@import "../../../contentscript/overlay/root/assets/styles/fonts.scss";
@import "../../../contentscript/overlay/root/assets/styles/color.variables.scss";

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.modalDialog {
  position: relative;

  display: flex;
  overflow: hidden;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 10px;

  background: $PureWhite;
}

.contentModal {
  text-align: center;

  color: $MainGrey;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}

.modalHeader {
  display: flex;
}

.modalContent {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

  max-width: 232px;
}

.modalClose {
  position: absolute;
  top: 15px;
  right: 14px;

  display: block;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border-radius: 50%;
  background-color: $Primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 7 7' fill='none'%3E%3Cpath d='M5.74375 0.695312L3.5 2.93906L1.25625 0.695312L0.375 1.57656L2.61875 3.82031L0.375 6.06406L1.25625 6.94531L3.5 4.70156L5.74375 6.94531L6.625 6.06406L4.38125 3.82031L6.625 1.57656L5.74375 0.695312Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $PrimaryHover;
  }

  &:active {
    background-color: $PrimaryPressed;
  }
}

.modalBody {
  overflow: auto;

  padding: 10px;
}

.modalTitle {
  display: block;

  padding: 0 0 5px;

  color: $MainBlack;

  font-family: Roboto;
  font-size: 22px;

  font-weight: 700;
  line-height: 26px;
  width: 300px;
}

.modalAccounts {
  display: flex;
  background: #f6f8f9;
  flex-direction: column;
  padding: 20px;
  border-radius: 3em;
  margin: 20px;
  min-width: 265px;
  max-width: 100%;
  align-items: center;
  min-height: 167px;
  justify-content: center;
  box-shadow: 2px 6px 8px rgb(0 0 0 / 8%);
}

.loader {
  position: relative;

  overflow: hidden;

  width: 143px;
  height: 143px;
  margin: 20px auto;

  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapperModalWantLink {
  display: flex;
  align-items: center;
  margin-top: 10px;

  width: 100%;
}

.button {
  display: flex;
  align-items: center;

  justify-content: center;

  width: max-content;

  height: 32px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 4px;

  font-family: Roboto;
  font-size: 14px;

  font-weight: 400;
  line-height: 100%;
}

.primary {
  color: $PureWhite;
  background: $Primary;

  &:hover {
    background: hsl(349, 66%, 44%);
  }

  &:active {
    background: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;

    background-color: $PrimaryHover;
  }
}

.secondary {
  color: $PureWhite;
  background: $Secondary;

  &:hover {
    background: hsl(200, 63%, 49%);
  }

  &:active {
    background: hsl(200, 66%, 44%);
  }

  &:disabled {
    cursor: default;

    background-color: $SecondaryHover;
  }
}
