@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 0 0;
}

.title {
  position: relative;
  display: grid;
  padding-bottom: 7px;
  text-transform: capitalize;
  color: $MainGrey;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  grid-template-columns: 362px 76px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: $WebBG;
  }
}

.title > h3 {
  padding: 3px;
}

.accountsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 7px;
}

.mainBlock {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 6px 0;
  padding-left: 2px;
  grid-template-columns: 372px 35px 30px;
}

.accountBlock {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px 0 0;
}

.accountBlockHorizontal {
  flex-direction: row;
}

.accountBlockVertical {
  flex-direction: column;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 46px;
  margin: 5px;
  padding: 2px 5px 2px 2px;
  border-radius: 200px;
  background: $WebBG;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.imgUser {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 10%));
}

.nameUser {
  color: $MainBlack;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  padding-right: 14px;
}

.nameUserActive {
  background: $Primary;

  .nameUser {
    color: $PureWhite;
  }
}

.arrowsAccount {
  display: block;
  width: 22px;
  min-width: 22px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewBox='0 0 16 11' fill='none'%3E%3Cpath d='M0.221076 1.96378L1.63608 0.550781L6.58508 5.50078L1.63008 10.4448L0.222076 9.03678L3.75808 5.50078L0.221076 1.96478L0.221076 1.96378ZM9.41408 5.50078L14.3691 0.555781L15.7781 1.96478L12.2431 5.50078L15.7781 9.03578L14.3641 10.4508L9.41508 5.50178L9.41408 5.50078Z' fill='%23B5B5B5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.accountStatus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.statusLabel {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

.accountStatus::before {
  content: attr(data-title);
}

.accountStatus::before {
  position: absolute;
  z-index: 9998;
  top: 47%;
  right: 87%;
  display: none;
  width: max-content;
  height: auto;
  padding: 8px 10px;
  content: attr(data-title);
  text-align: center;
  text-transform: capitalize;
  color: $MainGrey;
  border-radius: 10px 0 10px 10px;
  background: $PureWhite;
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

.accountStatus:hover::before,
.accountStatus:focus::before {
  display: inline-block;
}

.statusName {
  display: inline-block;
  padding-left: 5px;
  text-transform: capitalize;
  color: $MainBlack;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

.statusConnected {
  padding: 4px 5px;
  background: #5ec280;
}

.statusProcessing {
  padding: 6px 5px;
  background: #f5cf6c;
}

.statusError {
  padding: 4px 2px 7px;
  background: $Primary;
}

.accountDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonDelete {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 4%));
  background-color: $PureWhite;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.7146 12.9275H3.28603C2.57595 12.9275 2.00031 12.3518 2.00031 11.6417V3.2846H0.7146V1.99888H3.28603V1.35603C3.28603 0.645946 3.86166 0.0703125 4.57174 0.0703125H8.42889C9.13897 0.0703125 9.7146 0.645946 9.7146 1.35603V1.99888H12.286V3.2846H11.0003V11.6417C11.0003 12.3518 10.4247 12.9275 9.7146 12.9275ZM3.28603 3.2846V11.6417H9.7146V3.2846H3.28603ZM4.57174 1.35603V1.99888H8.42889V1.35603H4.57174ZM8.42889 10.356H7.14317V4.57031H8.42889V10.356ZM5.85746 10.356H4.57174V4.57031H5.85746V10.356Z' fill='%23919191'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.7146 12.9275H3.28603C2.57595 12.9275 2.00031 12.3518 2.00031 11.6417V3.2846H0.7146V1.99888H3.28603V1.35603C3.28603 0.645946 3.86166 0.0703125 4.57174 0.0703125H8.42889C9.13897 0.0703125 9.7146 0.645946 9.7146 1.35603V1.99888H12.286V3.2846H11.0003V11.6417C11.0003 12.3518 10.4247 12.9275 9.7146 12.9275ZM3.28603 3.2846V11.6417H9.7146V3.2846H3.28603ZM4.57174 1.35603V1.99888H8.42889V1.35603H4.57174ZM8.42889 10.356H7.14317V4.57031H8.42889V10.356ZM5.85746 10.356H4.57174V4.57031H5.85746V10.356Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    background-color: $Primary;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.7146 12.9275H3.28603C2.57595 12.9275 2.00031 12.3518 2.00031 11.6417V3.2846H0.7146V1.99888H3.28603V1.35603C3.28603 0.645946 3.86166 0.0703125 4.57174 0.0703125H8.42889C9.13897 0.0703125 9.7146 0.645946 9.7146 1.35603V1.99888H12.286V3.2846H11.0003V11.6417C11.0003 12.3518 10.4247 12.9275 9.7146 12.9275ZM3.28603 3.2846V11.6417H9.7146V3.2846H3.28603ZM4.57174 1.35603V1.99888H8.42889V1.35603H4.57174ZM8.42889 10.356H7.14317V4.57031H8.42889V10.356ZM5.85746 10.356H4.57174V4.57031H5.85746V10.356Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    background-color: $PrimaryPressed;
  }

  &:disabled {
    cursor: default;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M9.7146 12.9275H3.28603C2.57595 12.9275 2.00031 12.3518 2.00031 11.6417V3.2846H0.7146V1.99888H3.28603V1.35603C3.28603 0.645946 3.86166 0.0703125 4.57174 0.0703125H8.42889C9.13897 0.0703125 9.7146 0.645946 9.7146 1.35603V1.99888H12.286V3.2846H11.0003V11.6417C11.0003 12.3518 10.4247 12.9275 9.7146 12.9275ZM3.28603 3.2846V11.6417H9.7146V3.2846H3.28603ZM4.57174 1.35603V1.99888H8.42889V1.35603H4.57174ZM8.42889 10.356H7.14317V4.57031H8.42889V10.356ZM5.85746 10.356H4.57174V4.57031H5.85746V10.356Z' fill='%23919191'/%3E%3C/svg%3E");
    background-color: #e5e5e5;
  }
}

.messageDelete {
  height: calc(100% - 120px);
  padding: 0 110px;

  h6 {
    text-align: center;
    color: $MainGrey;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
  }

  p {
    text-align: center;
    color: #797979;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
  }
}
