@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import '../../assets/styles/animate';

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background: rgb(196 196 196 / 10%);
  backdrop-filter: blur(2px);

  animation-name: appear;
  animation-duration: 300ms;
}

.modalDialog {
  position: relative;

  // padding: 170px 0 202px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 80vh;

  background: $PureWhite;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  animation-name: animatetop;
  animation-name: slide-in;
  animation-duration: 0.4s;
  animation-duration: 0.5s;
}

.modalHeader {
  display: flex;
}

.modalClose {
  cursor: pointer;

  position: absolute;
  top: 15px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: $Primary;
  border-radius: 50%;

  &:hover {
    background-color: $PrimaryHover;
    svg{
      path{
        fill: #fff;
      }
    }
  }

  &:active {
    background-color: $PrimaryPressed;
    svg{
      path{
        fill: #fff;
      }
    }
  }
}

.modalBody {
  overflow: auto;
  padding: 0 0 20px;
}

.modalTitle {
  display: block;

  padding: 0 0 5px;

  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: $MainBlack;
}
