@import '../../assets/styles/color.variables';
@import '../../overlayManager.css';
@import './adaptive';

.overlay {
  z-index: 9999;

  overflow: -moz-scrollbars-none;

  min-width: 468px;
  max-width: 468px;
  height: 100%;

  box-shadow: 0 4px 5px rgb(45 52 60 / 10%), 0 4px 20px rgb(11 87 111 / 15%);

  transition: transform 0.3s ease;
}

.overlay::-webkit-scrollbar {
  width: 0;
}

.overlay::-webkit-scrollbar-thumb {
  width: 0;
}

.overlay::-webkit-scrollbar-track {
  width: 0;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 0;
}

.wrapper::-webkit-scrollbar-track {
  width: 0;
}

.wrapper {
  overflow: auto;
  overflow: -moz-scrollbars-none;

  height: 100%;
  padding: 0 0 5px;

  background: $overlay-bg;

  -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;

  & > div {
    margin-right: 4px;
  }

  & > button {
    margin-right: 4px;
  }

  & > *:last-child {
    margin-right: 0;

    // &:hover {
    //   svg {
    //     path {
    //       fill: none;
    //       stroke: $primary-hover;
    //     }
    //   }
    // }

    // &:active {
    //   svg {
    //     path {
    //       fill: none;
    //       stroke: $primary-pressed;
    //     }
    //   }
    // }
  }
}

.balance {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.amount {
  margin-left: 5px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
  color: #747376;
  text-transform: uppercase;
}

.inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.children {
  overflow: hidden;
  flex: 1;

  width: 100%;

  padding: 10px;
  background: #fff;
}

.newChildren {
  padding: 0;
}

.newHeight {
  height: calc(100vh - 97px) !important;
}

.noSystemDapplets {
  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100vh - 75px);
  }
}

.noSystemDapplets,
.hideContent {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(100vh - 75px);
}

.noSystemDapplets {
  margin-top: 65px;
}

.hideContent {
  margin-top: 0;
}

.overlayActive {
  pointer-events: all;
  position: relative;
  margin-top: 0 !important;
  opacity: 1;
}

.searchBlock {
  z-index: 1;
  width: 100%;
  padding: 0 15px 7px;
  transition: all 0.5s;
}

.overlayTabWrapper {
  display: flex;
  justify-content: center;

  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;

  border-radius: 4px !important;
  box-shadow: inset 0 1px 2px rgb(225 225 225 / 20%), inset 0 -1px 2px rgb(225 225 225 / 20%),
    inset 0 -1px 2px rgb(255 255 255 / 90%), inset 0 1px 3px rgb(225 225 225 / 90%);
}

.overlayTabWrapperAccounts {
  display: flex;
  justify-content: center;

  width: 20px !important;
  height: 32px !important;
  padding: 0 !important;

  border-radius: 4px !important;
  box-shadow: inset 0 1px 2px rgb(225 225 225 / 20%), inset 0 -1px 2px rgb(225 225 225 / 20%),
    inset 0 -1px 2px rgb(255 255 255 / 90%), inset 0 1px 3px rgb(225 225 225 / 90%);
}
.classNameSearchButtonActive {
  svg {
    path {
      stroke: $primary;
    }
  }
}
