@import "../../assets/styles/color.variables.scss";
@import "../../overlayManager.css";

.overlay {
  z-index: 9999;

  overflow: -moz-scrollbars-none;

  min-width: 468px;
  height: 100vh;

  transition: transform 0.3s ease;
  filter: drop-shadow(-4px 0 4px rgb(255 255 255 / 30%));
  -ms-overflow-style: none;
}

.overlay::-webkit-scrollbar {
  width: 0;
}

.overlay::-webkit-scrollbar-thumb {
  width: 0;
}

.overlay::-webkit-scrollbar-track {
  width: 0;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 0;
}

.wrapper::-webkit-scrollbar-track {
  width: 0;
}

.wrapper {
  overflow: auto;
  overflow: -moz-scrollbars-none;

  padding: 10px 15px 5px;

  color: #fff;

  background: #16151a;
  -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 3px;
  }
}

.balance {
  display: flex;
  align-items: center;

  margin-left: 5px;
}

.amount {
  margin-left: 5px;

  text-transform: uppercase;

  color: #747376;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
}

.inner {
  overflow: hidden;

  width: 100%;
  height: 100vh;
}

.children {
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 0 0 0 1px;
}

.noSystemDapplets {
  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100vh - 75px);
  }
}

.noSystemDapplets,
.hideContent {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  height: calc(100vh - 75px);

  pointer-events: none;
}

.noSystemDapplets {
  margin-top: 65px;
}

.hideContent {
  margin-top: 0;
}

.overlayActive {
  position: relative;

  margin-top: 0 !important;

  pointer-events: all;

  opacity: 1;
}

@media (min-width: 320px) and (max-width: 640px) {
  .overlay {
    width: 100%;
    min-width: 100%;
  }

  .wrapper {
    overflow: hidden;

    width: 100%;
    padding: 17px 15px 7px;
  }

  .inner {
    flex: 1 1 auto;

    max-width: 100%;
    padding: 42px 0 0;
  }

  .header {
    margin-bottom: 35px;
  }

  .children {
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
  }
}

.searchBlock {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 15px;

  width: 84%;
}
