@import '../../assets/styles/color.variables.scss';
@import '../../overlayManager.css';

.overlay {
  z-index: 9999;
  height: 100vh;
  min-width: 468px;
  // width: 320px;
  transition: transform 0.3s ease;
  filter: drop-shadow(-4px 8px 10px rgba(0, 0, 0, 0.25));
}

.wrapper {
  overflow: auto;

  height: 100%;
  padding: 17px 15px;

  background: $OverlayBG;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 5px;
  }
}

.balance {
  display: flex;
  align-items: center;

  margin-left: 5px;
}

.amount {
  margin-left: 5px;

  text-transform: uppercase;

  color: #747376;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 100%;
}
.inner {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
.children {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.noSystemDapplets {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
  }
}

.noSystemDapplets,
.hideContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.overlayActive {
  position: relative;
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 320px) and (max-width: 640px) {
  .overlay {
    min-width: 100%;
    width: 100%;
  }

  .wrapper {
    width: 100%;
    padding: 17px 15px 7px 15px;
  }
  .inner {
    padding: 42px 0px 0px 0px;
    max-width: 100%;
    flex: 1 1 auto;
    // padding: 17px 20px;
  }
  .header {
    margin-bottom: 35px;
  }
  .children {
  }
  .toolbar {
    position: relative;
    top: 0;
    left: 0;
  }
}
