.wrapper {
	max-width: 240px;

	background-color: #FFF;
	display: flex;
    flex-direction: column;
}

.subtitle {
	max-width: 208px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;
}

.loading {
	width: 143px;
	height: 143px;
	margin: 20px auto;

	border-radius: 50%;
	background: #C4C4C4;
}