$Primary: #D9304F;
$PrimaryHover: #EB9DAB;
$PrimaryPressed: #A6253C;

$Secondary: #588CA3;
$SecondaryHover: #5AB5E8;
$SecondaryPressed: #468DB5;

$MainGrey: #919191;
$WebBG: #EAF0F0;
$PureWhite: #FFF;
$MainBlack: #2A2A2A;
$ContentBlack: #747376;
$AppBG: #F5F5F5;
$OverlayBG: #F4F4F4;
$StrokeColor: #E3E3E3;
$PureBlack: #000;
