$Primary: #d9304f;
$PrimaryHover: #eb9dab;
$PrimaryPressed: #a6253c;
$Secondary: #588ca3;
$SecondaryHover: #5ab5e8;
$SecondaryPressed: #468db5;
$MainGrey: #919191;
$WebBG: #eaf0f0;
$PureWhite: #fff;
$MainBlack: #2a2a2a;
$ContentBlack: #747376;
$AppBG: #f5f5f5;
$OverlayBG: #f4f4f4;
$StrokeColor: #e3e3e3;
$PureBlack: #000;
