$primary: #d9304f;
$primary-hover: #eb9dab;
$primary-pressed: #a6253c;
$secondary: #588ca3;
$secondary-hover: #5ab5e8;
$secondary-pressed: #468db5;
$main-grey: #919191;
$web-bg: #eaf0f0;
$pure-white: #fff;
$main-black: #2a2a2a;
$content-black: #747376;
$success: #41ae60;
$success-hover: #198638;
$success-pressed: #69d688;
$error: #FF6442;
$median-price-bg: #F9F9F9;
$app-bg: #f5f5f5;
$overlay-bg: #f4f4f4;
$stroke-color: #e3e3e3;
$pure-black: #000;
