@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.small {
  width: 20px;
  height: 20px;
}

.big {
  width: 39px;
  height: 39px;
}

.black path {
  fill: $MainBlack;
}

.black:hover path {
  fill: $ContentBlack;
}

.black:active path {
  fill: $MainGrey;
}

.red path {
  fill: $Primary;
}

.red:active path {
  fill: $PrimaryPressed;
}

.red:hover path {
  fill: $PrimaryHover;
}
