@import "../../assets/styles/color.variables";
@import "../../assets/styles/null";

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.small {
  width: 20px;
  height: 20px;
}

.big {
  width: 39px;
  height: 39px;
}

.red path {
  fill: $primary;
}

.black path {
  fill: $main-black;
}

.red:active path {
  fill: $primary-pressed;
}

.red:hover path {
  fill: $primary-hover;
}

.black:hover path {
  fill: $content-black;
}

.black:active path {
  fill: $main-grey;
}

.notification:active path{
  fill: none;
  stroke: $primary-pressed;
}

.notification:hover path{
  fill: none;
  stroke: $primary-hover;
}