@media (min-width: 320px) and (max-width: 640px) {
  .wrapperCard {
    width: 100%;
    min-width: 100%;
    max-width: none;
    background: $pure-white;
  }

  .wrapperBlock {
    width: calc(100% - 50px);
  }

  .blockTop {
    display: flex;
  }

  .blockText {
    width: 100%;
  }
}
