@import '../../assets/styles/null.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/color.variables.scss';

.wrapperCard {
  display: flex;

  max-width: 97%;
  margin-bottom: 10px;

  padding: 10px 17px;

  border-radius: 10px;

  background: #fff;

  font-family: Montserrat, sans-serif;
}

.wrapperBlock {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 0 0 13px;
}

.blockTop {
  display: flex;

  .blockIcons {
    display: flex;
    justify-content: space-between;

    width: 34px;
    margin: 0 57px 0 13px;
  }
}

.blockText {
  display: flex;

  width: 277px;
  padding: 5px 0 13px 0px;

  text-transform: lowercase;

  color: $ContentBlack;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.blockBottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  // padding: 0 10px 0 0;
}

.firstButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo {
  margin-left: 10px;
}

.squareButton {
  &:not(:last-child) {
    margin-right: 2px;
  }
}

.description {
  margin-bottom: 15px;
}

.header {
  // cursor: pointer;
}

.descriptionTop,
.avatars,
.avatarsList {
  display: flex;
  align-items: center;
}

.avatarsItem {
  &:not(:first-child) {
    margin-left: -7px;
  }
}

.avatars {
  position: relative;

  margin-right: 5px;
  padding-right: 5px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;

    width: 1px;
    height: 16px;

    content: '';
    transform: translateY(-50%);

    background-color: #e3e3e3;
  }
}

.avatarsAnother {
  display: block;

  margin-left: 5px;

  color: #588ca3;

  font-size: 10px;
  line-height: 149%;
  text-decoration-line: underline;
}

.activeUsers {
  color: #919191;

  font-size: 10px;
  line-height: 149%;
}

.descriptionBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 240px;
  margin-top: 5px;
}
@media (min-width: 320px) and (max-width: 640px) {
  .wrapperCard {
    max-width: none;
    min-width: 100%;
    width: 100%;
    background: $PureWhite;
  }
  .wrapperBlock {
    width: calc(100% - 50px);
  }

  .blockTop {
    display: flex;

    .blockIcons {
      display: flex;
      justify-content: space-between;

      width: 34px;
      margin: 0px 8.5% 0px 4.5%;
    }
  }
  .blockIcons {
    margin: 0px 0px 0px 0px;
  }
  .blockText {
    width: 100%;
  }
}

.loadingDappletsHome {
  display: inline-block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg id='enmvdj1tPVl1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 18' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23enmvdj1tPVl3_tr %7Banimation: enmvdj1tPVl3_tr__tr 1000ms linear infinite normal forwards%7D@keyframes enmvdj1tPVl3_tr__tr %7B 0%25 %7Btransform: translate(9px,9.080632px) rotate(0deg)%7D 100%25 %7Btransform: translate(9px,9.080632px) rotate(180deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cellipse rx='8.550768' ry='8.550768' transform='matrix(.907954 0 0 0.907954 9 9)' fill='none' stroke='%23919191' stroke-width='2'/%3E%3Cg id='enmvdj1tPVl3_tr' transform='translate(9,9.080632) rotate(0)'%3E%3Crect width='18' height='2.879693' rx='0' ry='0' transform='translate(-9,-1.439846)' fill='%23F5F5F5' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
