@import "../../assets/styles/null";
@import "../../assets/styles/fonts";
@import "../../assets/styles/color.variables";

.wrapperCard {
  display: flex;
  max-width: 97%;
  margin-bottom: 10px;
  padding: 10px 17px;
  border-radius: 10px;
  background: #fff;
  font-family: Montserrat, sans-serif;
  margin-right: 2px;
  margin-top: 2px;
  box-shadow: 0 1px 2px rgb(225 225 225 / 20%), 0 -1px 2px rgb(225 225 225 / 20%), 0 -1px 2px rgb(255 255 255 / 90%), 0 1px 3px rgb(225 225 225 / 90%);
}

.wrapperBlock {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 0 0 13px;
}

.blockTop {
  display: flex;

  .blockIcons {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: 0 57px 0 13px;
  }
}

.blockText {
  display: flex;
  width: 277px;
  padding: 5px 0 13px;
  color: $ContentBlack;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.blockBottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.firstButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
}

.cardInfo {
  margin-left: 10px;
}

.squareButton {
  &:not(:last-child) {
    margin-right: 2px;
  }
}

.description {
  margin-bottom: 15px;
}

.descriptionTop,
.avatars,
.avatarsList {
  display: flex;
  align-items: center;
}

.avatarsItem {
  &:not(:first-child) {
    margin-left: -7px;
  }
}

.avatars {
  position: relative;
  margin-right: 5px;
  padding-right: 5px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 16px;
    content: "";
    transform: translateY(-50%);
    background-color: #e3e3e3;
  }
}

.avatarsAnother {
  display: block;
  margin-left: 5px;
  color: #588ca3;
  font-size: 10px;
  line-height: 149%;
  text-decoration-line: underline;
}

.activeUsers {
  color: #919191;
  font-size: 10px;
  line-height: 149%;
}

.descriptionBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 240px;
  margin-top: 5px;
}

.loadingDappletsHome {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg id='enmvdj1tPVl1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 18 18' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23enmvdj1tPVl3_tr %7Banimation: enmvdj1tPVl3_tr__tr 1000ms linear infinite normal forwards%7D@keyframes enmvdj1tPVl3_tr__tr %7B 0%25 %7Btransform: translate(9px,9.080632px) rotate(0deg)%7D 100%25 %7Btransform: translate(9px,9.080632px) rotate(180deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cellipse rx='8.550768' ry='8.550768' transform='matrix(.907954 0 0 0.907954 9 9)' fill='none' stroke='%23919191' stroke-width='2'/%3E%3Cg id='enmvdj1tPVl3_tr' transform='translate(9,9.080632) rotate(0)'%3E%3Crect width='18' height='2.879693' rx='0' ry='0' transform='translate(-9,-1.439846)' fill='%23F5F5F5' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.isDev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
  margin-left: 10px;
  color: $PureWhite;
  border-radius: 4px;
  background: $Secondary;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
}

.blockButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='enmvdj1tPVl1' viewBox='0 0 18 18' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cstyle%3E%3C!%5BCDATA%5B%23enmvdj1tPVl3_tr %7Banimation: enmvdj1tPVl3_tr__tr 1000ms linear infinite normal forwards%7D@keyframes enmvdj1tPVl3_tr__tr %7B 0%25 %7Btransform: translate(9px,9.080632px) rotate(0deg)%7D 100%25 %7Btransform: translate(9px,9.080632px) rotate(180deg)%7D%7D%5D%5D%3E%3C/style%3E%3Cellipse rx='8.550768' ry='8.550768' transform='matrix(.907954 0 0 0.907954 9 9)' fill='none' stroke='%23919191' stroke-width='2'/%3E%3Cg id='enmvdj1tPVl3_tr' transform='translate(9,9.080632) rotate(0)'%3E%3Crect width='18' height='2.879693' rx='0' ry='0' transform='translate(-9,-1.439846)' fill='%23fff' stroke-width='0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

@import "./adaptive";
