@import '../../assets/styles/null';
@import '../../assets/styles/fonts';
@import '../../assets/styles/color.variables';
@import './adaptive';

.wrapperCard {
  display: flex;

  max-width: 97%;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 16px;
  padding: 10px 17px;

  font-family: Montserrat, sans-serif;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(225 225 225 / 20%), 0 -1px 2px rgb(225 225 225 / 20%),
    0 -1px 2px rgb(255 255 255 / 90%), 0 1px 3px rgb(225 225 225 / 90%);
}

.wrapperBlock {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 0 0 13px;
}

.blockTop {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;

  .blockIcons {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: 0 57px 0 13px;
  }
}

.errorIcon {
  display: inline-block;
  width: 21px;
  height: 18px;
  margin-right: 10px;

  &:hover svg path {
    fill: none;
}
}

.errorTitle {
  .blockIcons {
    display: flex;
    justify-content: space-between;
    width: 3px;
    margin: 0 57px 0 13px;
  }

  h2 {
    color: $error!important;
  }
}

.blockText {
  display: flex;

  width: 277px;
  padding: 5px 0 13px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: $content-black;
}

.blockBottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.firstButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
}

.cardInfo {
  margin-left: 10px;
}

.squareButton {
  &:not(:last-child) {
    margin-right: 2px;
  }
}

.description {
  margin-bottom: 15px;
}

.descriptionTop,
.avatars,
.avatarsList {
  display: flex;
  align-items: center;
}

.avatarsItem {
  &:not(:first-child) {
    margin-left: -7px;
  }
}

.avatars {
  position: relative;
  margin-right: 5px;
  padding-right: 5px;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 1px;
    height: 16px;

    background-color: $stroke-color;
  }
}

.avatarsAnother {
  display: block;

  margin-left: 5px;

  font-size: 10px;
  line-height: 149%;
  color: #588ca3;
  text-decoration-line: underline;
}

.activeUsers {
  font-size: 10px;
  line-height: 149%;
  color: #919191;
}

.descriptionBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 240px;
  margin-top: 5px;
}

.isDev {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 20px;
  margin-left: 10px;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: $pure-white;

  background: $secondary;
  border-radius: 4px;
}

.blockButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.loader {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-left: 12px;

  background-image: url('../../assets/svg/loaderSettings.svg');
  background-repeat: no-repeat;
}

.moduleError {
  display: inline-block;

  padding-bottom: 5px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: $error;
  text-transform: uppercase;
}
