
@import './adaptive';

.loadingListDapplets {
  z-index: 3;

  display: flex;

  width: 100%;
  height: calc(100vh - 140px);
  margin: 0 auto;

  background: #fff;
  background-image: url("../../assets/svg/loaderSettings.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 139px 139px;
}
