name: Artifact Upload
on:
  pull_request:
    branches: [master, develop]
jobs:
  create-artifact:
    env:
      ARTIFACT_NAME: pr-build
      ARTIFACT_PATH: ./
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm ci
      - name: Clean build folders
        run: npm run clean
      - name: Build extension
        run: npm run build:extension
      - name: Upload a Build Artifact
        id: upload
        uses: actions/upload-artifact@v3.1.2
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/
          if-no-files-found: error
