@import "../../assets/styles/color.variables.scss";
@import "../../assets/styles/null.scss";
@import "../../assets/styles/fonts.scss";

.wrapper {
	display: flex;
	align-items: end;
}

.title {
	display: flex;
	align-items: center;

	color: $MainGrey;

	font-family: Montserrat, sans-serif;
	font-size: 8px;
	font-weight: 400;
	line-height: 149%;
}

.value {
	position: relative;

	padding-left: 5px;

	color: $Secondary;

	font-family: Montserrat, sans-serif;
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	line-height: 149%;
	text-decoration-line: underline;
}
