@import '../../assets/styles/color.variables';
@import '../../assets/styles/null';
@import '../../assets/styles/fonts';

.wrapper {
  display: flex;
  align-items: end;
}

.title {
  cursor: default;

  display: flex;
  align-items: center;

  margin-bottom: 1px;

  font-family: Selawik, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 149%;
  color: $main-grey;
}

.value {
  cursor: pointer;

  display: inline-block;

  padding-left: 5px;

  font-family: Selawik, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 149%;
  color: $secondary;
  text-decoration-line: underline;

  &:hover {
    color: $main-grey;
  }

  &:active {
    color: $content-black;
  }
}

.copied {
  position: relative;
}

h6.title .copied {
  content: attr(data-title);

  position: absolute;
  top: -20px;
  right: 0;

  display: none;

  width: auto;
  padding: 5px 10px 5px 30px;

  font-family: Selawik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 149%;
  color: $content-black;
  text-align: right;

  background: $web-bg;
  border-radius: 100px;
  box-shadow: 0 2px 2px -1px rgb(0 0 6 / 50%);
}

h6.title:hover .copied,
h6.title:focus .copied {
  display: inline-block;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

h6.title:active .copied,
h6.title:checked .copied {
  display: inline-block;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.copiedIcon {
  cursor: pointer;

  position: absolute;
  top: 15%;
  left: 5px;

  display: inline-block;

  width: 20px;
  height: 20px;

  background: $app-bg;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

  transition: all 0.5s;

  svg {
    transform: translateY(10%);
    margin-right: 5px;
    fill: none !important;

    path {
      fill: none !important;
    }

    &:hover {
      fill: none !important;

      path {
        fill: none !important;
        stroke: $primary-hover;
      }
    }

    &:active {
      fill: none !important;

      path {
        fill: none !important;
        stroke: $primary-pressed;
      }
    }
  }

  &:hover {
    width: 22px;
    height: 22px;
    transition: all 0.5s;
  }

  &:active {
    transition: all 0.5s;
  }
}
